[2013-01-03 10:04] ova2 opened #1 "Add pe:multiFileDownload"
Extend fileDownload tag, FileDownloadTagHandler, FileDownloadActionListener, StreamedContent, DefaultStreamedContent. The main goal is to generate a zip file of many StreamedContents.

1) Allow to add childs of type StreamedContent to the new ZipStreamedContent (extends StreamedContent). ZipStreamedContent zips all containing childs of type SreamedContent.
2) Allow to handle byte arrays (byte[]) a

[2015-04-17 06:39] ova2 opened #138 "DynaForm - add responsive functionality"
Probably with Bootstrap (bootstrap.css) http://getbootstrap.com/css/#grid because it is more advanced than PrimeFaces Grid Layout. Requirements:

1) "Reponsive" mode should be an alternative mode to the existing "table" mode.
2) Nested rows should be possible.

[2016-05-18 11:20] Rapster commented on #138
Why Grid CSS of Primefaces is not enough?

[2016-05-18 13:10] ova2 commented on #138
Bootstrap is more flexible :-) But ok, you can add support of CSS Grid to DynaForm.

[2016-05-27 13:12] Rapster commented on #138
Might fix the "flexible" problem https://github.com/primefaces/primefaces/issues/1454

[2017-01-02 20:09] melloware opened #757 "CKEditor - Add Enhanced Image Plugin"
@jxmai looks like this has been a popular plugin request i wonder if we should just add it to the CKEditor by default?

Enhanced Image Plugin = http://ckeditor.com/addon/image2

**Requests:**
http://forum.primefaces.org/viewtopic.php?f=14&t=48571

http://forum.primefaces.org/viewtopic.php?f=14&t=48585

[2017-01-02 20:50] tandraschko commented on #757
only +1 if you we create a java class like resourcemodifier to update everything automatically
It's to time intensive if we also must add plugins manually each time

[2017-01-02 21:06] tandraschko commented on #757
And I don't think it's very easy to integrate a image upload, it's requires some hacking of the plugin.

[2017-01-03 16:49] jxmai commented on #757
I like the idea of uploading image from the local machine, but there are **two main challenges** after a quick glance.

1. The `enhanced image plugin` has other plugin dependencies  that we don't have at the moment.

For example, we have` dialog` but we don't have `widget`. Open `widget`, we only have `clipboard` but missing `Line Utilities` and `Widget Selection`... and every plugin might need po

[2017-01-03 17:38] melloware commented on #757
You might be right.  Might not be worth the trouble.  Want me to close this as WontFix?

[2017-01-03 18:03] jxmai commented on #757
Yes, I think this task needs to be done combining with database so it is **out of scope**.

---

My workaround is combining pe:ckeditor with p:fileUpload

[code]

There are three custom steps follows:
1. on `uploadListener`, send the file to the database and GET a hash back
2. re-construct the text and put the URL with hash in.
3. configure HTTP servlet to map the image URL into outputStream.

In

[2017-01-03 18:14] melloware commented on #757
Understood.

[2017-03-07 22:07] mayankX opened #137 "New Component: InputPlace"
Add google place autocomplete component.

https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete

Since we already have Geocoding and Rev. Geocoding from Google, we should also have other google maps features like Place autocomplete etc.

[2017-03-08 15:13] melloware commented on #137
Can you provide more comments or a link to an example on Googles demos of what you were thinking?

[2017-03-08 15:26] Rapster commented on #137
I guess something like this https://ubilabs.github.io/geocomplete/

[2017-03-08 16:14] melloware commented on #137
Ahhh this should be do-able.  Looks like a nice JQuery plugin.

[2017-04-01 16:01] Rapster commented on #138
Should we do like it has been done in https://github.com/primefaces/primefaces/issues/2226 or PF Grid CSS?

[2017-04-01 16:21] melloware commented on #138
@Rapster For me you are the expert on this component so i would say whatever way you feel is the "cleaner" approach go for that one.  But if you plan on eventually having this component in core PF you might want to wait for @tandraschko 's opinion.  :)

[2017-04-01 18:19] tandraschko commented on #138
never had a look at dynaform but it would be great if the user could decide which markup should be used.
i personally use grids but not a PF grid.
So maybe we can play with facets / "markup templates".

[2017-04-02 10:39] Rapster commented on #138
I like the idea of choosing markup. Like it has been done for Autocomplete (e.g list or table).

[2017-10-20 11:53] tandraschko commented on #137
I think we can close this issue? The first link from the reporter seems like a extension to the existing gmap component but not for a complete own component?!

[2017-10-20 12:01] Rapster commented on #137
The page may have been updated since, but I think he was referring to something like the second link (the one I provided)

[2018-04-12 16:24] ssibitz opened #136 "Sheet: New column type "button""
In the newest component "Sheet" i am missing a ColType for handling button-actions
like Delete Row, Mark Row and so on.

I will eventually need this for our project because in the showcase
the example for using it with right-click is nice,
but not useable on e.g. a touch-screen
or a user who don't know how to use the right-click ;-)

Here would it always be better to support a button with a minimu

[2018-04-13 04:54] ssibitz commented on #136
What do you think about the new "feature" with a button inside the sheet ?

I currently switched from DataTable to the Sheet-Component
because the DataTable has a lot of issues in combination with editing/inserting
and generating a lot of datas.
The sheet component does not and only send the datas needed to the server via AJAX.
So i compared the 2 components and with the same datas inside and disp

[2018-04-13 11:22] melloware commented on #136
I like the idea of a button cell.    Just have to figure out how to implement.  Looks like I will have to use HTML cell type...

https://stackoverflow.com/questions/24774811/how-do-i-add-a-custom-button-inside-a-cell-in-handsontable/24777491

And all the reasons you stated above is why we built the sheet component because we had similar requirements to yours and with Datatable would run into Form

[2018-05-18 15:14] pzoli opened #135 "DynaForm: disabled state not restored"
I don't understand how Visitor work.
Works as like I add disabled css for each uicomponent however I try disable only one from many.

Please visit forum topic

https://forum.primefaces.org/viewtopic.php?f=14&t=55559

[2018-05-21 22:41] Rapster commented on #135
Next time, even though your problem is explained in the forum, few lines explaining your problem would be better. It's an issue tracker, community expects to read issues and not random feedbacks of your problem :wink:

[2018-05-22 19:56] jxmai commented on #135
via https://github.com/primefaces-extensions/core/commit/9c8a1f189c4fb4d60416471fa07ff7fe7328c6ac

[2018-05-22 21:01] pzoli commented on #135
I added modifications to showcase(disable visitor) and core (readonly).
please view attached files.
Oh, how can I add attachments?

[2018-05-22 21:46] Rapster commented on #135
You can create a Pull Request 😉

[2018-05-23 11:46] melloware commented on #135
In our showcase project you can simply create a PR following these instructions: https://help.github.com/articles/creating-a-pull-request/

[2018-05-23 12:54] pzoli commented on #135
Sorry, just now I have not enough time. Can you push the changes, please?

Best regards
Zoltan

[2018-05-23 12:56] pzoli commented on #135
showcase changes

https://drive.google.com/file/d/12HyjXP4ZAcSteV0Y3SYx_RryboYngPKm/view?usp=sharing

core changes for readonly

https://drive.google.com/file/d/1-8U8ljZ7evgl9kozxU7aVVL60UM95xir/view?usp=sharing

[2018-05-23 13:05] Rapster commented on #135
I'll the do the changes in core (although i'd like to find a better way to restore these properties as we can't simply add a new field every time an unsupported property is used (e.g disabled, readonly, style, styleClas etc.). I don't think showcase is needed though

[2018-06-10 05:18] krishnakittu commented on #757
HI @jxmai . I tried to use the same code. I generated hash and tries to append to the already existing content in editor. The editor content comes as null in the listener method. How to solve this issue

[2018-06-12 00:38] jxmai commented on #757
Hi @krishnakittu, there shouldn't be such problem. Please double-check if you wrap components within a form before invoking form submit. I can give you some test sample for you to check (https://github.com/jxmai/Primefaces-Test/tree/PFE_435).

[code]

[code]

[2018-06-12 01:55] krishnakittu commented on #757
HI @jxmai . Thanks for sharing the code. I also did the same thing. But here the problem is if you enter any text in CKeditor before file upload the same text is erased after upload of image. Can you please help me out about this.

[2018-06-12 04:39] jxmai commented on #757
@krishnakittu OK, I see. The problem here is that if you edit the editor before invoking fileUpload. The content within the editor is wrapped within a `p` tag

For instance, `Welcome to PrimeFaces!!!` becomes `<p>Welcome to PrimeFaces!!!</p>` before calling string concatenation. You don't want to left the hash outside of the p tag.

I would suggest you to extract the content using some custom code

[2018-06-12 07:06] krishnakittu commented on #757
Hi,
when i include process "@form" or something else, The editor content is not changing. Can you give me some clue how to achieve this.

[2018-06-13 01:06] jxmai commented on #757
@krishnakittu OK, I added some workaround to the sample https://github.com/jxmai/Primefaces-Test/tree/PFE_435. You could give it a try.

[2018-06-13 08:03] krishnakittu commented on #757
Million Thanks @jxmai  for your support. 👍

[2018-06-13 14:55] jxmai commented on #757
Great ! No problem :smiley:

[2018-06-25 13:56] melloware commented on #135
Sorry I think I have to reopen this.  It appears this has now broken the FluidGrid.  I have a FluidGrid with disabled field.  When I updated the form that contains the FluidGrid is leaving my component disabled even though in PF 6.2.4 it was re-evaluating properly to enabled.  So its restoring the state.  They both extend this  AbstractDynamicData which is where this change was made.

[2018-06-25 14:38] melloware commented on #135
To elaborate say I had this FluidGrid dyna item.
[code]
once the form is submitted even if my disabled="" EL evaluation changes the component is always keeping the original state of disabled even after updates which is bad.   I am trying to re-enable an item but once its set it never gets reset.

[2018-06-25 14:39] melloware commented on #135
I have reverted the fix for now.

[2018-07-09 13:09] blutorange opened #134 "Sheet: Missing updates when pasting more rows than available in the current sheet"
## Version

PrimeFaces: 6.2.6, PrimeFaces Extensions: 6.2.7, JSF: mojarra 2.2, Server: jetty/9.4.11.v20180605

## Related

See also https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/586

## Steps to reproduce

1. Add a `<pe:sheet>` component.
1. Add an `ajax` listener for the `change` event
1. If the data sheet has got, for example, 10 rows, copy 4 rows to the clipbo

[2018-07-09 13:12] melloware commented on #134
You are correct.  The model of the backing bean has 10 rows.  So the Sheet Updates get aligned with those backing bean rows.  If 5 new rows are created they don't exist in your backing bean model.  Not sure how i will solve this since I can't create new instances of the objects for you I don't think.  Have to think about this one.

[2018-07-10 05:31] blutorange commented on #134
I can create the objects myself, but that requires I know about the additional rows. Perhaps just creating a `SheetUpdate` with a `null` rowkey might work (and `SheetUpdate#isNew`), but I don't know if a null rowkey would cause issues somewhere else. Alternatively, perhaps a `Sheet#getNewlyCreatedRows`?

But take your time, I'm sure you can come up with a better way.

[2018-07-27 11:28] blutorange commented on #134
This seems to be fixed now. I am now receiving the `SheetUpdate`s for the newly added rows. Looking at the commit history, I suppose this is due to the update to HandsonTable 5.0 (#590).

[2018-07-27 11:44] melloware commented on #134
Awesome I will close for now!

[2018-08-29 09:04] Rapster commented on #135
Can you provide a sample please? I need to do something similar than this ticket

[2018-08-29 11:41] melloware commented on #135
@Rapster You need a sample of how this fix broke the FluidGrid? Like a PrimeFaces Test case?

[2018-08-29 12:29] Rapster commented on #135
Yes please

[2018-08-29 12:48] melloware commented on #135
OK will post it here when complete so you can see it.

[2018-08-29 13:30] melloware commented on #135
Attached:
[pfe-571.zip](https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/2332298/pfe-571.zip)

Run the demo and you will see item3 is disabled by default. When you press "Save" button it should re-enable item3 but it does not, it remembers its disabled state.

If you change the pom.xml to PFE 6.2.4 you will see its working fine.

[2018-09-21 18:25] melloware commented on #135
Also I discovered Primefaces has a SavedState class that looks like it duplicates (or was moved from PFE) as our SavedEditableState.

[2018-11-06 15:24] blutorange commented on #134
Hmm, I'm not sure what I've been seeing, but unfortunately, it seems the updates are still not sent to the server. Would be great if you could take a look at it when you've got time.

If it helps, the use case is a simple generic CSV editor where the user can copy&paste data into the sheet.

[2018-11-06 15:56] melloware commented on #134
I reopened the issue.  Will investigate when I can.

[2018-11-20 13:19] melloware commented on #135
switched to extend core PF SavedState

[code]

[2018-12-18 03:53] djmj opened #133 "Exporter: exportFunction as component or facet"
Export built-in solutions for certain components like `h:outputLink` or `p:cellEditor` are very nice and can be enhanced by `CustomExporter`.

**ExportFunction:**

It is not possible to write a custom exporter for any complex or composite type and `exportFunction` of primefaces column lacks lacks support of alignment, styling, or potential future improvements like Number type exports (for excel).

[2018-12-18 13:00] melloware commented on #133
Thank you for the suggestion.  I have marked as enhancement.  I like your idea of a custom Export Facet. Unfortunately, the original developer who wrote the Exporter component is no longer involved and the component is quite complicated and messy.   The only way this will probably get implemented is through community PR.

[2019-01-18 15:42] krishnakittu commented on #757
Hi Team,
Is there any way to place fileupload button of primefaces as one of the CKEditor Button.

[2019-01-18 15:45] melloware commented on #757
@krishnakittu I don't think easily. You might have to study the code to figure out if its possible but since those buttons are owned by CKEDITOR i feel like you would have to hack something in.

[2019-01-19 05:30] cnsgithub commented on #757
I just stumbled upon this issue and wondered if integrating image upoad in CKEditor would really be that difficult.

Since CKEditor actually submits HTML to the server, why not just integrate an additional image upload button to CKEditor (don't know how easy this would be?), use javascript's [FileReader.readAsDataURL](https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL) API t

[2019-01-24 19:38] tandraschko commented on #135
If we fix this in the future, please also try a case that the disabled flag could reference the current var from the dynaForm.

[2019-04-07 12:03] melloware opened #132 "New Component: HTML5 Notifications"
Here are some common use cases:

https://web-push-book.gauntface.com/demos/notification-examples/

https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

[2019-04-17 06:51] ssibitz opened #131 "New Component: HandleServerDownOrRestarted"
I have an idea for a simple component without any gui but only javascript.

Preface:
When i restart, stop or reload my server on the client side the page can't be reloaded
and the user is currently not informed that the server is down at the moment.

So i tried the following to handle this special case which could also be
an improvement for other users:

1.) Try to ping the server via AJAX like th

[2019-04-17 06:58] tandraschko commented on #131
+1
i like it

we just need to check which is the best URL to ping :D

[2019-04-17 07:39] ssibitz commented on #131
The URL i am currently using is the same as used from the
primefaces-extensions "speedtest-component"
to ping the server ...

[2019-05-23 10:46] melloware commented on #132
I was just strugginling on what the best way to implement was.  Here was a suggestion on the OmniFaces Issues list but I am not sure how I feel about that: https://github.com/omnifaces/omnifaces/issues/508

[2019-05-23 11:13] jepsar commented on #132
Ah, I also wasn't thinking of using FacesMessages. I think you, or at least I, want to use a different type of messages for this type of notification. I'll think on how I'd like to implement this a bit more and add a comment later to check if we agree on the direction to go with this.

[2019-05-27 06:55] jepsar commented on #132
I believe notifications are only useful when then [page is not visible](https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API). That makes using `FacesMessages` not an option unless you would use a poll, but I would prefer something like a websocket connection to some `@Scheduled` bean. Would a component come in handy for such a construction? I don't really think so. @melloware, wha

[2019-05-27 12:13] melloware commented on #132
Ahh I didn't even think about that the browser is not in focus for notifications to work.  I am wondering if that is why it was posted on OmniFaces page to combine with o:socket.  Because really the use case is we want to Push a notification from the server side.  Can be done with poller too but now i am wondering how to make this a component.

[2019-05-27 14:45] jepsar commented on #132
The issue at OmniFaces was not about connecting it to `o:socket`, but to `o:messages`.

[2019-05-28 21:55] adam-waldenberg commented on #132
@melloware You don't have to poll or do anything strange to make a component out of this. In the usual case you would have a `f:websocket` that is triggered because of some event and would refresh part of the page... when that part of the page is refreshed, the server side pushes a FacesMessage either via some listener that is triggered or via the listener in the `f:websocket` component itself - w

[2019-05-29 11:23] melloware commented on #132
I guess my original thinking was more like how Gitter does it.  When the browser is not focused you get Notification if someone adds to the conversation.  I assumed that was a websocket push.  But yeah either way the component just needs to execute the Javascript whenever its updated by however it is updated.

[2019-05-29 11:27] jepsar commented on #132
I'm working on a project which I believe requires notifications. I'll put something together there. I do see the point of @adam-waldenberg to use faces messages somehow. Let me see if that'll work for our project. The only issue, component wise, is that JSF 2.2 and 2.3 would require a different implementation because I think we will be needing a websocket. Maybe we'll end up with a bridge componen

[2019-05-29 11:37] jepsar commented on #132
.. maybe we should just always update the growl / messages and there detect if the browser is not visible and then send a notification. In that case it would be a feature request at PF.

[2019-05-29 11:43] tandraschko commented on #132
actually, we don't need any component for it as it's simple JS call:
new Notification(title, body, icon)

so therefore i would just add something to PrimeFaces.current() like (please don't discuss the name yet :D)

PrimeFaces.current().addClientNotification(title, body, icon);

So it can be used on GET, POST and AJAX easily.

The only thing left is, how to integrate it nicely with a websocket?

[2019-05-29 11:44] tandraschko commented on #132
The second part is the callbacks... I think nobody likes to register JS callbacks via java code... So people would need to write JS for it - whats the benefit of a component then?

[2019-06-02 20:14] Rapster opened #130 "DynaForm: add client behavior dynamically"
See https://stackoverflow.com/questions/56312802/add-client-behavior-dynamically-with-var-components

In progress: https://github.com/Rapster/core/commits/fix-706

[2019-07-15 13:19] balta3 commented on #131
we implemented something similar using the websocket connection that will close when server stops

[2019-09-19 12:51] melloware opened #129 "New Component: Search"
Original PF issue: https://github.com/primefaces/primefaces/issues/396

What about a new component which can markup any occurences of a word or a part of a word in a specified object(div, panel,...)? Same thing like the browser search function, but for specified containers. This would be great, especially in addition to filter in dataTable.

eg.
[code]

This jquery component would be ideal: https:

[2019-09-28 14:41] melloware opened #128 "New Component: Mapping OL3 or OpenStreetMap"
Based on 2 requests in PF...

https://github.com/primefaces/primefaces/issues/67
https://github.com/primefaces/primefaces/issues/40

OL3:  https://openlayers.org/

OpenSteetMap: https://www.openstreetmap.org/#map=5/38.007/-95.844

[2019-10-01 08:21] jepsar opened #127 "New Component: SIP / WebRTC client"
For example using: https://sipjs.com/

[2019-10-08 12:37] jepsar opened #126 "PrimeIcons: add CSS class to body indicating they're loaded and patch theme"
See https://github.com/primefaces-extensions/core/commit/1b046f47f60bcd41b7154dfeffc81ceb6c397af2#r35403172

[2019-10-21 18:17] melloware commented on #126
@jepsar Did you still want to do this before I cut 7.0.3 release?

[2019-10-22 07:17] jepsar commented on #126
I will pick this up, but I would like to prioritize on the SIP component. Also I don't think we have other components with icon issues, so we might milestone this as future.

[2019-11-07 08:59] jepsar opened #148 "TimeAgo should be able to render the title in the original time zone"
The should be an attribute to either use the system zone or the zone present in the time object

[2019-11-07 12:15] melloware commented on #148
Yep a lo of other components have a timezone prop as a java.lang.Object and then there is a CalendarUtils method to take that and return a ZoneId even if its a java.util.TimeZone or ZoneId.

[2019-11-07 13:31] jepsar commented on #148
Yeah, but this one does not need to convert from a string to a time object, so I think a boolean switch should do the job.

[2020-02-12 18:24] melloware commented on #134
I believe this Stack Overflow user has the same issue: https://stackoverflow.com/questions/60191691/how-to-access-pasted-rows-in-primefaces-extensions-sheet

[2020-03-13 16:21] yennor opened #125 "Layout: updates don't work properly"
I'm implementing an SPA (single page application) using the pe:layout component.
I'm using Primefaces 8 and Primefaces extensions 8
So the content of the layoutPanes need to be updated using ajax requests while the application runs.
So the whole construct looks more or less like that:
[code]
So now I want to update the center pane. I do that by updating the payoutPane element:
[code]
When I do tha

[2020-03-13 16:37] melloware commented on #125
@yennor Do you mind making me a small reproducer so I can see the problem and debug it using the Primefaces Test project?
https://github.com/primefaces/primefaces-test

You can execute the sample with mvn jetty:run command and hit http://localhost:8080/primefaces-test to run the page.

[2020-03-13 16:44] Rapster commented on #125
I think it's a problem I faced several times using this component. As a workaround, I used CSS. I thought `p:layout` and` pe:layout` components were deprecated?

[2020-03-13 16:45] melloware commented on #125
Can you try this..

[code]

And then doing `update="@root:@id(pnlCenter)"` or `update=":mainForm:layout:pnlCenter"`

So its updating an outputPanel inside the pane and NOT the pane itself?

[2020-03-13 16:45] melloware commented on #125
@Rapster PF has deprecated p:layout but PFE will still support pe:layout

[2020-03-13 17:12] yennor commented on #125
you're way too fast in replying ;-).

I've just noticed. When I update everything (the whole form) and there is a west layoutPanel. Then It will be at once rendered between north and center panel, instead of being to the left of the center panel.

I've tried out the workaround, using the outputPanel. Like that it works like a charm. :-)
I should manage to provide a test case with the test case.

[2020-03-13 17:35] yennor commented on #125
I've did a really quick and dirty example:
https://github.com/yennor/primefaces-test

just. The west position is shown from the beginning between north and center. For whatever reason? It doesn't do that in my environment..
And update on layoutpanel doesn't work (it does in my environment, but moves the central pane).
Only update on form works... anyway.. i guess even like that it doesn't behave t

[2020-03-13 17:43] melloware commented on #125
No probably not but i am not sure whether the panes were meant to be updated or using the OutputPanel trick the content inside the panes to be updated.

[2020-03-13 19:12] yennor commented on #125
If they are meant to be used with the outputpanel trick, then that really should be documented at an obvious place.

But as you can see in my example, even before updating anything, the west panel is displayed between the north and the south panel. Which in any case shouldn't happen.

[2020-03-13 19:23] melloware commented on #125
Trying to run your reproducer just creates a stack trace for me..

[code]

[2020-03-13 19:27] yennor commented on #125
sorry. my fault.. forgot to add the new files. they are commited now.

[2020-03-13 19:39] melloware commented on #125
Yeah you are right something is funky.  I am not having this issue on the Showcase which uses the layout but this was built all long before I got here.

[2020-03-13 21:20] yennor commented on #125
As I said in my project I only get that issue with west being between north and center after updating the whole form. On first render it is all right. So there must be some special conditions triggering that problem.
Propably the same with my original problem, of the center pane beeing displayed on top of the screen after an update.

[2020-04-06 19:42] testing138 opened #124 "New component: Shepherd.js - ProductTour"
Hi,

It would be very great, if you can add the following component into PFE:

Here is one example, I guess there are also other JS available.
http://eragonj.github.io/Trip.js/

I would need this component to implement a Guide in my webpage, like you maybe know from intercom.
Please see as reference this video: https://www.youtube.com/watch?v=TyWefNd1Tlc

For me it´s also important
- Information c

[2020-04-06 19:46] tandraschko commented on #124
don't get me wrong but you are longtime user and people really often invest time in the forum with you. Maybe a good point to give something back and create the compnent by yourself and provide it here opensource?

[2020-04-06 19:53] testing138 commented on #124
agreed. if I would have the knowledge to create a component, I would do it. But I have no knowledge to do this.

[2020-04-06 19:56] tandraschko commented on #124
thats a non-arg ;) We all started without knowledge. There enough sample components available here to dig in step by step

[2020-04-10 21:33] commander-hp commented on #124
Oh yes! This component is awesome. Please integrate this in Primefaces.

[2020-06-25 16:34] melloware commented on #148
@jepsar Any chance you want to fix this one before I cut 8.0.3 as well?

[2020-06-26 09:03] jepsar commented on #148
I didn't really needed this so it was not really a priority. Let me see what I can do about this one.

[2020-07-01 09:17] jepsar commented on #148
@melloware feel free to release 8.0.3. I'm not sure how much sense this issue makes if you don't include the time zone in the formatted text.. I'm not sure how I'd like to solve this issue.

[2020-07-01 11:16] melloware commented on #148
No problem thanks for letting me know.

[2020-07-01 11:38] jepsar commented on #126
@melloware do you know if aristo is going to be dropped, or will it just no longer be the default?

[2020-07-01 12:50] melloware commented on #126
Aristo is dropped in 9.0 and nova-light is the default theme in 9.0

[2020-07-08 09:32] jepsar opened #123 "Badge: compatibility with PF themes"
See for example: https://primefaces.org/diamond/misc.xhtml

There the HTML for a button with a badge is:

[code]

To do so, I think we need to change from:

[code]

to:

[code]

I'm not sure if this makes much sense... I guess it depends on what the plans with the badge will be in terms of the basic templates. Because the only reasons to use this component is that the styling is included. If styli

[2020-07-08 11:29] melloware commented on #123
We could still do it our way ...

<p:button id="btnEmail" url="#" icon="fa fa-envelope" title="E-mail">
  <pe:badge content="1" />
</p:button>

And in the widget JS code just create the wrapper span around the target element using Jquery.

[2020-07-28 07:17] jepsar opened #140 "New component: code scanner"
Based on https://github.com/serratus/quaggaJS

[2020-07-28 11:31] melloware commented on #140
You might want to use his in development fork Quagga2: https://github.com/ericblade/quagga2

Looks like all dev has stopped on that original Quagga library.

See: https://github.com/serratus/quaggaJS/issues/439

[2020-07-28 11:48] melloware commented on #140
Well assuming his new version isn't drastically changing the API or configs.

[2020-07-30 07:19] jepsar commented on #140
I'll see if I can find a library which supports both barcodes and QR codes.

[2020-07-30 13:39] jepsar commented on #140
https://github.com/zxing-js/library is an option

[2020-07-30 13:42] melloware commented on #140
well QuaggaJs says "This is not yet another port of the great zxing library, but more of an extension to it." so if its built on top of zxing maybe they just need to implement the QR Code support of zxing into it since zxing already does it?

[2020-07-30 13:48] jepsar commented on #140
Note that there is https://github.com/zxing/zxing and https://github.com/zxing-js/library. quaggaJS linked zxing in their readme, but that may be an error.

[2020-08-15 13:34] jepsar commented on #140
With zxing-js you just need a remoteCommand to integrate this into a project. Is that worth creating a component for?

[2020-08-15 15:43] melloware commented on #140
Well if you wanted to you could wrap it all up in a component and the AJAX command would just be part of the component vs custom coding but I will leave that up to you!

[2020-08-22 12:20] melloware opened #139 "Layout: Upgrade 1.8.5"
New version of Layout 1.8.5 @Gedmarc

[2020-08-22 12:23] melloware commented on #139
Fixed with: https://github.com/primefaces-extensions/core/commit/055dbb3b41c0d54d975de76be49b73b3df559631

[2020-08-22 13:32] melloware opened #122 "Document Viewer: Upgrade PDF.js 2.9.35"
**Is your feature request related to a problem? Please describe.**
It has been a few years since the underlying PDF.js lib has been updated under Document Viewer.  There was an issue with fonts in a IFRAME but it was resolved recently.

https://github.com/mozilla/pdf.js/issues/8271

[2020-08-22 13:33] melloware commented on #126
Also i got the feeling from the PrimeFaces 10 roadmap that all themes are going to be updated for PrimeIcons including all Premium themes.

[2020-08-22 13:34] melloware commented on #140
Did you decide on this or do you want to close it?

[2020-08-22 13:50] jepsar commented on #140
I'm working on it currently. I don't want to close it at this moment.

[2020-08-23 17:00] jepsar opened #141 "CodeScanner: add start, stop functionality"
Add (auto)start attribute and start and stop functions to widget

[2020-08-24 17:13] jepsar opened #142 "CodeScanner: add result Javascript listener attributes"

[2020-08-25 07:12] jepsar opened #143 "CodeScanner: add video and deviceId attributes"

[2020-08-26 07:56] jepsar opened #144 "CodeScanner: add for (component) attribute"

[2020-08-26 11:38] melloware opened #145 "Layout: Use PrimeFaces.createStorageKey()"
PF 9.0 has a `PrimeFaces.createStorageKey` for creating a more unique cookie or local storage name.  Use this in Layout where it used to create a cookie name.

[2020-08-26 11:44] melloware commented on #145
Fixed with commit: https://github.com/primefaces-extensions/core/commit/a9c1f0d2228295dd78f25c6ed9bd271dd38389f5

[2020-08-26 14:56] jepsar opened #146 "InputPhone: bump intl-tel-input to 17.0.0"

[2020-08-26 15:13] melloware opened #147 "Multiple: Update to AbstractPrimeHtml components"
See: https://github.com/primefaces/primefaces/pull/6254

Update the following components once that PR is merged:

- [x] CodeMirror
- [x] CKEditor
- [x] InputPhone
- [x] TimePicker

[2020-08-26 15:38] melloware commented on #147
Fixed with commit: https://github.com/primefaces-extensions/core/commit/3363961cbd0d4d93586838da336dc5dc1340c5be

[2020-08-26 18:25] melloware opened #2 "Multiple: Update to AbstractPrimeHtml components"
See: https://github.com/primefaces/primefaces/pull/6254

Update the following components once that PR is merged:

- [x] CodeMirror
- [x] CKEditor
- [x] InputPhone
- [x] TimePicker

[2020-08-26 18:25] #2 closed

[2020-08-26 18:25] #3 closed

[2020-08-26 18:25] jepsar opened #3 "InputPhone: bump intl-tel-input to 17.0.0"

[2020-08-26 18:26] melloware opened #4 "Layout: Use PrimeFaces.createStorageKey()"
PF 9.0 has a `PrimeFaces.createStorageKey` for creating a more unique cookie or local storage name.  Use this in Layout where it used to create a cookie name.

[2020-08-26 18:26] #4 closed

[2020-08-26 18:26] jepsar opened #5 "CodeScanner: add for (component) attribute"

[2020-08-26 18:26] #5 closed

[2020-08-26 18:26] jepsar opened #6 "CodeScanner: add video and deviceId attributes"

[2020-08-26 18:26] #6 closed

[2020-08-26 18:26] #7 closed

[2020-08-26 18:26] jepsar opened #7 "CodeScanner: add result Javascript listener attributes"

[2020-08-26 18:27] jepsar opened #8 "CodeScanner: add start, stop functionality"
Add (auto)start attribute and start and stop functions to widget

[2020-08-26 18:27] #8 closed

[2020-08-26 18:27] jepsar opened #9 "New component: code scanner"
Based on https://github.com/serratus/quaggaJS

[2020-08-26 18:27] #9 closed

[2020-08-26 18:27] melloware opened #10 "Layout: Upgrade 1.8.5"
New version of Layout 1.8.5 @Gedmarc

[2020-08-26 18:27] #10 closed

[2020-08-26 18:28] ova2 opened #11 "DynaForm - add responsive functionality"
Probably with Bootstrap (bootstrap.css) http://getbootstrap.com/css/#grid because it is more advanced than PrimeFaces Grid Layout. Requirements:

1) "Reponsive" mode should be an alternative mode to the existing "table" mode.
2) Nested rows should be possible.

[2020-08-26 18:29] mayankX opened #12 "New Component: Google Map Place Autocomplete (Geocomplete)"
Add google place autocomplete component.

https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete

Since we already have Geocoding and Rev. Geocoding from Google, we should also have other google maps features like Place autocomplete etc.

[2020-08-26 18:29] ssibitz opened #13 "Sheet: New column type "button""
In the newest component "Sheet" i am missing a ColType for handling button-actions
like Delete Row, Mark Row and so on.

I will eventually need this for our project because in the showcase
the example for using it with right-click is nice,
but not useable on e.g. a touch-screen
or a user who don't know how to use the right-click ;-)

Here would it always be better to support a button with a minimu

[2020-08-26 18:29] pzoli opened #14 "DynaForm: disabled state not restored"
I don't understand how Visitor work.
Works as like I add disabled css for each uicomponent however I try disable only one from many.

Please visit forum topic

https://forum.primefaces.org/viewtopic.php?f=14&t=55559

[2020-08-26 18:29] blutorange opened #15 "Sheet: Missing updates when pasting more rows than available in the current sheet"
## Version

PrimeFaces: 6.2.6, PrimeFaces Extensions: 6.2.7, JSF: mojarra 2.2, Server: jetty/9.4.11.v20180605

## Related

See also https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/586

## Steps to reproduce

1. Add a `<pe:sheet>` component.
1. Add an `ajax` listener for the `change` event
1. If the data sheet has got, for example, 10 rows, copy 4 rows to the clipbo

[2020-08-26 18:30] djmj opened #16 "Exporter: exportFunction as component or facet"
Export built-in solutions for certain components like `h:outputLink` or `p:cellEditor` are very nice and can be enhanced by `CustomExporter`.

**ExportFunction:**

It is not possible to write a custom exporter for any complex or composite type and `exportFunction` of primefaces column lacks lacks support of alignment, styling, or potential future improvements like Number type exports (for excel).

[2020-08-26 18:30] melloware opened #17 "New Component: HTML5 Notifications"
Here are some common use cases:

https://web-push-book.gauntface.com/demos/notification-examples/

https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API

[2020-08-26 18:30] ssibitz opened #18 "New Component: HandleServerDownOrRestarted"
I have an idea for a simple component without any gui but only javascript.

Preface:
When i restart, stop or reload my server on the client side the page can't be reloaded
and the user is currently not informed that the server is down at the moment.

So i tried the following to handle this special case which could also be
an improvement for other users:

1.) Try to ping the server via AJAX like th

[2020-08-26 18:31] Rapster opened #19 "DynaForm: add client behavior dynamically"
See https://stackoverflow.com/questions/56312802/add-client-behavior-dynamically-with-var-components

In progress: https://github.com/Rapster/core/commits/fix-706

[2020-08-26 18:31] melloware opened #20 "New Component: Search"
Original PF issue: https://github.com/primefaces/primefaces/issues/396

What about a new component which can markup any occurences of a word or a part of a word in a specified object(div, panel,...)? Same thing like the browser search function, but for specified containers. This would be great, especially in addition to filter in dataTable.

eg.
[code]

This jquery component would be ideal: https:

[2020-08-26 18:31] melloware opened #21 "New Component: Mapping OL3 or OpenStreetMap"
Based on 2 requests in PF...

https://github.com/primefaces/primefaces/issues/67
https://github.com/primefaces/primefaces/issues/40

OL3:  https://openlayers.org/

OpenSteetMap: https://www.openstreetmap.org/#map=5/38.007/-95.844

[2020-08-26 18:31] jepsar opened #22 "New Component: SIP.js based SIP / WebRTC client"
See: https://sipjs.com/

[2020-08-26 18:32] jepsar opened #23 "PrimeIcons: add CSS class to body indicating they're loaded and patch theme"
See https://github.com/primefaces-extensions/core/commit/1b046f47f60bcd41b7154dfeffc81ceb6c397af2#r35403172

[2020-08-26 18:32] yennor opened #24 "Layout: updates don't work properly"
I'm implementing an SPA (single page application) using the pe:layout component.
I'm using Primefaces 8 and Primefaces extensions 8
So the content of the layoutPanes need to be updated using ajax requests while the application runs.
So the whole construct looks more or less like that:
[code]
So now I want to update the center pane. I do that by updating the payoutPane element:
[code]
When I do tha

[2020-08-26 18:32] testing138 opened #25 "New component: Trip.js - ProductTour"
Hi,

It would be very great, if you can add the following component into PFE:

Here is one example, I guess there are also other JS available.
http://eragonj.github.io/Trip.js/

I would need this component to implement a Guide in my webpage, like you maybe know from intercom.
Please see as reference this video: https://www.youtube.com/watch?v=TyWefNd1Tlc

For me it´s also important
- Information c

[2020-08-26 18:33] jepsar opened #26 "Badge: compatibility with PF themes"
See for example: https://primefaces.org/diamond/misc.xhtml

There the HTML for a button with a badge is:

[code]

To do so, I think we need to change from:

[code]

to:

[code]

I'm not sure if this makes much sense... I guess it depends on what the plans with the badge will be in terms of the basic templates. Because the only reasons to use this component is that the styling is included. If styli

[2020-08-26 18:33] melloware opened #27 "Document Viewer: Upgrade PDF.js"
**Is your feature request related to a problem? Please describe.**
It has been a few years since the underlying PDF.js lib has been updated under Document Viewer.  There was an issue with fonts in a IFRAME but it was resolved recently.

https://github.com/mozilla/pdf.js/issues/8271

[2020-08-27 17:36] #1 closed, assigned to ova2

[2020-08-27 17:46] #139 closed, assigned to melloware

[2020-08-27 17:46] #140 closed, assigned to jepsar

[2020-08-27 17:46] #141 closed, assigned to jepsar

[2020-08-27 17:46] #142 closed, assigned to jepsar

[2020-08-27 17:46] #143 closed, assigned to jepsar

[2020-08-27 17:46] #144 closed, assigned to jepsar

[2020-08-27 17:47] #145 closed, assigned to melloware

[2020-08-27 17:47] #146 closed, assigned to jepsar

[2020-08-27 17:47] #147 closed, assigned to melloware

[2020-08-27 17:47] #148 closed, assigned to jepsar

[2020-08-31 11:47] melloware opened #150 "Build: Switch to Spotless Plugin"
Doing some work on Apache Commons BeanUtils to clean it up I was using the same Eclipse formatter Maven plugin as here.  Apache PMC Member suggested I switch to Spotless plugin https://github.com/diffplug/spotless.

It is great and allows me to replace the two current plugins we are using that this does the same thing but better:
- License Plugin
- Eclipse Formatter Plugin

You can run `mvn spotle

[2020-08-31 11:48] #150 closed, assigned to melloware

[2020-09-01 09:54] jepsar commented on #1
Relates to https://github.com/primefaces/primefaces/issues/5978

[2020-09-01 11:12] Rapster commented on #1
I think this could be done in existing `p:fileDownload`, it is quite common to download several files as a zip. @melloware what do you think?

[2020-09-01 11:17] tandraschko commented on #1
yeah please, i think we can add a enhancement ticket in PF and close this one

[2020-09-01 11:17] tandraschko commented on #1
(oh, its already closed :D)

[2020-09-01 11:17] melloware opened #151 "CKEditor: Add font and fontsize attributes"
**Is your feature request related to a problem? Please describe.**
Based on this forum post: https://forum.primefaces.org/viewtopic.php?f=14&t=63179

**Describe the solution you'd like**
A way to set the `font` and `fontSize` of the editor without a custom config.

[2020-09-01 11:40] melloware commented on #1
Yes when I reoponed Issues in this Core project after the migration this old ticket was sitting in the bucket so I closed it. :)

[2020-09-01 12:51] melloware commented on #151
_This is a complicated issue. Those settings only set the label in dropdown meaning if there will be a font which doesn't match any defined in font dropdown or there will be no font defined then Tahoma will be shown in the dropdown (there doesn't have to be a match). Labels don't force particular font in the editor._

[2020-09-01 12:52] #151 closed, assigned to melloware

[2020-09-02 11:23] melloware opened #152 "Sheet: Create Standalone PRO version"
See: https://github.com/handsontable/dev-handsontable/issues/1893

1. leave the current MIT licensed 6.2.2 sheet the way it is.
2. Create an new SheetPro similar to how CKEditor is as a separate JAR file with separate license pointing to HandsonTable's license terms.
3.  It must have an attribute to allow you to plug in your commercial license: https://handsontable.com/docs/8.0.0/tutorial-license-

[2020-09-07 15:15] farhad-moazzezi opened #153 "SlideOut: Tab word wrapping"
**problem:**
if title attribute contains space, title of handle button will be breakdown in two part, and it's ugly on design

**solution:**
this problem will resolve by add "width: max-content" in .ui-slideouttab-handle css class

[2020-09-07 15:24] jepsar opened #154 "CommandButtonSingleClick: widget is not available if update results in the button not being rendered"
JS console will display:

It doesn't really break anything, but we should check for it.

[2020-09-07 15:34] melloware commented on #154
You should only see that in JSF mode Development.  Not in Production.

[2020-09-08 10:34] aleksei-opritov opened #155 "Layout: LayoutPane not respecting XHTML attributes"
Seems that some attributes (closable, minSize, maxSize) for pe:layoutPane are not working if  a layout is configured by options defined as attributes of layoutPane component. If a layoutPane is created  via LayoutOptions as Java model it works.

**Environment:**
 - PF Version: 8.0.3
   PF extension Version 8.0.4
 - JSF + version:2.3
 - Affected browsers:  Chrome, Firefox

**Expected behavior**
It

[2020-09-08 11:06] melloware commented on #153
@farhad-moazzezi I can't reproduce?  I made one of my tabs "Contact Information Testing" with spaces between each word and here is my screenshot:
![image](https://user-images.githubusercontent.com/4399574/92468802-bc55f500-f1a1-11ea-9516-c1b027af70ef.png)

Can you post your screenshot?

[2020-09-08 11:24] melloware commented on #155
I have verified your issue thanks for reporting.  Fixed for 9.0.

[2020-09-08 11:25] #155 closed, assigned to melloware

[2020-09-10 11:17] melloware opened #156 "Showcase: Update Hibernate Validator and other libs"
**Describe the bug**

See Dependabot alert: https://github.com/primefaces-extensions/primefaces-extensions/network/alert/showcase/pom.xml/org.hibernate:hibernate-validator/open

[2020-09-10 11:20] #156 closed, assigned to melloware

[2020-09-12 11:36] #154 closed, assigned to jepsar

[2020-09-12 11:37] melloware commented on #153
@farhad-moazzezi any response?

[2020-09-12 11:53] farhad-moazzezi commented on #153
I searched more and sew in RTL pages direction and persian language this problem will happen

[2020-09-13 08:09] jepsar commented on #153
@farhad-moazzezi could you try with this CSS rule?

[code]

does this fix your issue?

[2020-09-14 11:37] #153 closed, assigned to melloware

[2020-09-14 11:37] melloware commented on #153
I added @jepsar suggestion to the CSS and closed the ticket.

[2020-09-14 11:44] farhad-moazzezi commented on #153
ok my bro

[2020-09-14 11:44] farhad-moazzezi commented on #153
thanks

[2020-09-23 18:27] jepsar opened #158 "New renderer: accessible BreadCrumb"
The current PF breadcrumb renderer does not follow the ARIA best practices, see:

https://github.com/primefaces/primefaces/issues/4928

With a custom renderer we could improve that. Only downside is, because of the different HTML, you would need to do the styling, as it differs per theme.

[2020-09-25 14:48] jepsar commented on #158
I'll provide a PR for https://github.com/primefaces/primefaces/issues/4928

[2020-09-25 14:48] #158 closed, assigned to jepsar

[2020-09-29 14:06] marcelocaser opened #160 "LetterAvatar: not rendered correctly using small height values"
**Describe the bug**
After update to 8.0 to 8.0.4 the component Letter Avatar doesn't rendered correct! See above:

**Reproducer**
Use: `<pe:letterAvatar value="#{twebusuariosTO.nomeCompleto}" size="1rem" rounded="false"/>`

![Opera Instantâneo_2020-09-29_100613_localhost](https://user-images.githubusercontent.com/4403920/94570066-cd47d280-0244-11eb-81b1-8ffa441fb832.png)

**Environment:**
 - PF V

[2020-09-29 14:08] melloware commented on #160
can you paste your before and after screenshots too please

[2020-09-29 14:14] marcelocaser commented on #160
added images

[2020-09-29 14:16] jepsar commented on #160
@melloware do you want me to have a look?

[2020-09-29 14:31] melloware commented on #160
yep looks like a regression of this issue: https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/695

attached test case: https://github.com/primefaces-extensions/primefaces-extensions.github.com/files/3141695/pfe-la.zip

[2020-09-29 14:31] melloware commented on #160
assigned to you @jepsar

[2020-09-29 14:59] jepsar commented on #160
I cannot fully reproduce this. I added this to the showcase:
[code]
which renders as

<img width="351" alt="Screen Shot 2020-09-29 at 16 56 50" src="https://user-images.githubusercontent.com/7500178/94575700-cdf85d00-0274-11eb-9cfc-48100937b620.png">

The line height is not perfect, but that's all (it seems). (Chrome Version 85.0.4183.121 (Official Build) (64-bit) on MacOS).

[2020-09-29 15:02] melloware commented on #160
what happens when you update="datatable" same as sorting or paging or filtering

[2020-09-29 15:06] jepsar commented on #160
<img width="369" alt="Screen Shot 2020-09-29 at 17 05 56" src="https://user-images.githubusercontent.com/7500178/94576828-15cbb400-0276-11eb-83bd-9df88ce4c6cf.png">

Looks the same..

[2020-09-29 15:12] melloware commented on #160
Agreed I can't reproduce...
[pfe-la.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/5300054/pfe-la.zip)

However I do notice the color spread is not that great?

![image](https://user-images.githubusercontent.com/4399574/94577500-ab4e5000-0244-11eb-9e64-6a5d9bd38de4.png)

[2020-09-29 15:22] jepsar commented on #160
Caused by:
[code]

This is giving you all the possible hue values. A better spread would be something like:

[code]

which gives 60 possibilities instead of all 360.

[2020-09-29 15:24] melloware commented on #160
maybe do 60 if string length == 1 and 360 for all others?

[2020-09-29 15:25] melloware commented on #160
oh i actually like your solution better.  i see the * 6 now

[2020-09-29 15:25] jepsar commented on #160
Also, I think we can simply use `string.hashCode()` instead of calculating a hash.

[2020-09-29 15:28] jepsar commented on #160
I'll do some tweaks, but that won't fix the reported issue. I don't think there were changes between 8.0.4 and 9.0.

[2020-09-29 15:28] melloware commented on #160
up to you!  yeah i think this is a non issue.

[2020-09-29 15:33] marcelocaser commented on #160
Look: with sample (pfe-la.zip)

`<pe:letterAvatar value="#{car.brand}" height="24" width="24" rounded="false"/>`
![Opera Instantâneo_2020-09-29_123057_localhost](https://user-images.githubusercontent.com/4403920/94580106-e73ae280-024f-11eb-993b-eecefb8fbbf2.png)

`<pe:letterAvatar value="#{car.brand}" size="1rem" rounded="false"/>`
![Opera Instantâneo_2020-09-29_123203_localhost](https://user-imag

[2020-09-29 15:36] jepsar commented on #160
@marcelocaser can you please inspect the inner span with class `ui-letteravatar-initials` and disable the `top` property. Does that solve the issue for you?

[2020-09-29 15:37] jepsar commented on #160
<img width="752" alt="Screen Shot 2020-09-29 at 17 37 13" src="https://user-images.githubusercontent.com/7500178/94580648-72c96900-027a-11eb-8f25-78c2b332396b.png">

[2020-09-29 16:19] #160 closed, assigned to jepsar

[2020-10-04 09:40] jepsar opened #166 "Showcase: RemoteCommand parameter examples do not work using JDK 11"
Works in production, no longer when built from source:

Oct 04, 2020 11:34:47 AM org.primefaces.application.exceptionhandler.PrimeExceptionHandler logException
SEVERE: Unparseable date: "5/14/07 12:55:42 PM"
java.text.ParseException: Unparseable date: "5/14/07 12:55:42 PM"
	at java.base/java.text.DateFormat.parse(DateFormat.java:395)
	at javax.faces.convert.DateTimeConverter$FormatWrapper.parse(Da

[2020-10-04 09:48] jepsar opened #167 "TimePicker: spinner buttons do not work with custom format"
Set to "00:00" and submit. Fails both in production and when built from source.

[2020-10-04 17:32] melloware commented on #166
I will investigate.

[2020-10-05 13:07] melloware opened #170 "Github Actions"
Switch to GitHub actions from Travis.

[2020-10-05 13:11] melloware commented on #166
I wonder if it is `locale` related?  I am running it locally and its working fine for me?  My browser is English United States locale since I live in the US.

[2020-10-05 13:31] #170 closed, assigned to melloware

[2020-10-06 14:09] jepsar commented on #166
My browser is also set to US English as the default (I prefer it over Dutch online)... weird though that it works in production for me.

[2020-10-06 14:28] melloware commented on #166
So is it failing on localhost for you in the latest showcase?

[2020-10-06 14:44] jepsar commented on #166
Yes, I assumed it was caused something changed in the showcase recently.

[2020-10-06 14:46] melloware commented on #166
I wonder if its a JDK issue with `short` format?
[code]

I am using JDK8.

[2020-10-06 14:48] jepsar commented on #166
Ah, I'm on 11 by default. Let me see if it works with 8.

[2020-10-06 14:50] melloware commented on #166
We have seen this before with JDK11: https://github.com/primefaces/primefaces/issues/5696

[2020-10-07 05:21] jepsar commented on #166
It's indeed an issue with JDK 11.

[2020-10-07 07:23] GedMarc commented on #166
guys no it is not an issue
LocalDate and Instant have changed between JDK 8 and JDK 9 and up, you have to change your code (or use META-INF/versions), The precision for deserialization and serialization (0..9fractional nano) as well

https://blog.joda.org/2017/02/java-time-jsr-310-enhancements-java-9.html

Further more - locale's are not really enabled anymore by default, especially in module mode

[2020-10-07 07:35] jepsar commented on #166
@GedMarc Yes, I meant that the issue in the showcase only occurs when the showcase is run with JDK 11. Thanks for pointing that out though. @melloware does this require any action? PF targets JDK 8, right?

[2020-10-07 07:49] tandraschko commented on #166
PF targets all versions IMO but LTS for sure (8, 11, 15/16?)

[2020-10-07 10:04] GedMarc commented on #166
8 / 11 /17 ?

I'm running PF on JDK 14 JLink build here (Mojarra 'ish) https://pfshowcase.guicedee.com/
I'll see if i can replicate and resolve, it will definitely need a multi-version jar though, you guys ok with that?

[2020-10-07 10:09] GedMarc commented on #166
mmm, please assist in replication - can't seem to or i've fixed in somewhere on my side already (will make the pr easier..)

[2020-10-07 11:45] melloware commented on #166
You can read the whole thread or check out @christophs78 debugging the problem: https://github.com/primefaces/primefaces/issues/5696#issuecomment-605646729

and since this conversion is happening inside `f:convertDateTime` its counting on the JDK to be correct.

Especially if you use Locale `en_GB` in OpenJDK 11 you will see the issue.

[2020-10-09 08:32] sasynkamil commented on #155
Just note, this is working in PF Extension 8.0, later versions are broken.

[2020-10-09 09:18] GedMarc commented on #155
@sasynkamil can you explain a bit more please? later as in version 9, or later as in version 8.0.x

[2020-10-09 11:09] melloware commented on #155
Yep it worked in 8.0 and was broken in 8.0.1 and its fixed for 9.0

[2020-10-10 18:58] melloware opened #196 "Showcase: Default theme to Nova Light"
Currently the default theme is Omega which is an old icon styled theme.

Default to modern theme Nova Light.

[2020-10-10 19:27] #196 closed, assigned to melloware

[2020-10-10 19:38] #166 closed, assigned to melloware

[2020-10-10 19:39] melloware commented on #166
For now I just fixed the examples to work in JDK8 or 11+

[2020-10-10 19:41] melloware commented on #167
Hmm cant reproduce this in the Showcase?

![image](https://user-images.githubusercontent.com/4399574/95663653-16363b80-0b0f-11eb-85de-5388fdf85047.png)

[2020-10-10 19:44] melloware commented on #196
I also dropped Aristo as a possible option in the theme dropdown.

[2020-10-11 12:38] melloware opened #197 "ResourceHandler: Always add version"
Based on this ticket reported to PF: https://github.com/primefaces/primefaces/issues/6083

Modify the PrimeExt ResourceHandler to always add the extension version to URL's for cache busting and change it from `v=` to `e=` for extensions.

So for example this URL now becomes.
`/primeext-showcase/javax.faces.resource/primeicons/primeicons.css.jsf?ln=primefaces&v=8.0&e=8.0.4`

With the url displaying

[2020-10-11 12:42] melloware commented on #197
I have tested this successfully with the theme switcher in PF Showcase and PFE Showcase and no issue by doing this.

[2020-10-11 12:44] #197 closed, assigned to melloware

[2020-10-12 07:09] jepsar commented on #167
Hmm.. it seems it does work in production. I think this may be the same issue with JDK 11 we had with the remote command examples.

[2020-10-12 07:11] jepsar opened #203 "TimePicker: spinner buttons vs panel z-index issue"
In production:

<img width="262" alt="Screen Shot 2020-10-12 at 09 10 02" src="https://user-images.githubusercontent.com/7500178/95715904-e308bf00-0c6a-11eb-8194-ec750ec02c69.png">

[2020-10-12 07:13] jepsar commented on #203
Sometimes the buttons disappear after a while, so it might also be JavaScript related

[2020-10-12 12:46] melloware commented on #203
Its because of this 250ms delay.
[code]

[2020-10-12 16:41] melloware opened #204 "TimePicker: CSS Updates"
We use TimePicker heavily in our apps and for new premium themes it doesn't look quite like it used to.

I am going to update the CSS to look great by default in Omega and Nova-Light themes.  For all other premium themes you simply need to add this SCSS in your __extensions.scss_ provided by PrimeTek to have it styled for your theme.

[code]

If using FontAwesome instead of PrimeIcons also add thi

[2020-10-12 16:42] #204 closed, assigned to melloware

[2020-10-12 16:55] #203 closed, assigned to melloware

[2020-10-12 16:55] melloware commented on #203
I fixed it by removing that delay and just overriding the TimePicker's internal adjustZIndex method:
[code]

[2020-10-12 17:15] melloware opened #205 "Exporter: Remove from Extensions"
Wanted to float this out there to anybody watching about removal of the Extensions DataExporter.

PF DataExporter has most of the features now of this exporter and the code in PFE is both ugly and difficult to maintain.

Just wanted to get +1 votes for removal and -1 votes for leaving it in PFE.

**NOTE:**
- [x] Remove POI from pom.xml
- [x] Remove all code and showcase examples and controllers
-

[2020-10-12 17:52] tandraschko commented on #205
+1 and add features to PF if required

[2020-10-12 17:59] melloware commented on #133
@djmj Can you see this ticket and express anything you use the PFE Exporter for that is NOT in the core PF exporter?

https://github.com/primefaces-extensions/primefaces-extensions/issues/205

[2020-10-13 12:12] melloware commented on #167
Let me know what you find out i tried it in JDK 11 as well and it seems to be working.

[2020-10-15 11:48] stolp commented on #205
I gave up on PFE Exporter early after trying it out. PF DataExporter is in a good shape.

[2020-10-15 11:50] melloware commented on #205
thanks @stolp I think it solved problems in the early days of PF but the main PF exporter has come a long way and added features this had.  It doesn't have them all but some of them are even oddly implemented in this version.

[2020-10-15 15:59] melloware commented on #205
I have just marked all the code as `@deprecated`

[2020-10-18 19:37] Rapster commented on #205
I added my +1, we should list the diffs between those two. For example, as I'm having a look to ColumnGroup lately, I can say PFE exporters seems to support ColumnGroup while PF exporter does not.

[2020-10-19 11:54] melloware commented on #205
@Rapster agreed there is this open PF ticket for years about adding ColumnGroup to Exporter:
https://github.com/primefaces/primefaces/issues/59

The only other real useful feature I can see if the ability for Excel/PDF if a column has style="float:right" etc to right align it.  I don't like how its done in PFE exporter as its looking at HtmlOutputtext instead of the p:column style itself.

[2020-10-19 12:36] djmj commented on #133
@melloware i dont have much insight in PF exporter and only used PFE exporter for PDF for the landscape orientation with a simple use case without styles / formatting.

Specific things i do are:
- tableTitle="#{cc.attrs.fileName}"
- orientation="Landscape" for PDF

This here works in both PFE and PE:
- `exportFunction="#{requestUtilBean.getStringValue(of:formatCurrency(tblVarCar.price, $))}"` sinc

[2020-10-19 13:06] melloware commented on #133
Thanks for your feedback @djmj !

So in PF Exporter instead of tableTitle="" it is using the "header" facet like..
[code]

As for orientation Landscape for PF I will open a PF enhancement ticket to add that feature.

[2020-10-19 13:55] #133 closed, assigned to nobody

[2020-10-20 19:28] melloware commented on #138
I think we should use PrimeFlex and now that we have added Flex detection and things like GridLayoutUtils in PF core it should be realtively easy to add Grid CSS or PrimeFlex.

[2020-10-25 08:31] jepsar commented on #167
This is what I'm getting

<img width="269" alt="Screen Shot 2020-10-25 at 09 31 03" src="https://user-images.githubusercontent.com/7500178/97102343-dd689b80-16a4-11eb-95f6-95ca98e20cd7.png">

[2020-10-25 08:35] jepsar commented on #167
Hmm.. I'm no longer able to run the showcase with JDK 8? I was able to with this command from my history:
[code]
Now that gives me:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.1:compile (default-compile) on project showcase: Fatal error compiling: invalid flag: --release -> [Help 1]

[2020-10-25 08:41] jepsar commented on #167
Oh, It's not JDK related. When I click the input it works.. when I click the spinner, it will only give me "00:00"

[2020-10-25 11:31] melloware commented on #167
Thanks for debugging let me look at it.   Also the Compiler Plugin upgrade is what I think broke JDK8 as its not longer supported so I think I can back that plugin version up.

[2020-10-25 11:39] melloware commented on #167
Oh yeah its the customization example.  Since it doesn't have a first value to spin to it spins to 00:00 and thus is no a valid value for the customized TimePicker.
[code]

[2020-10-25 14:21] #167 closed, assigned to melloware

[2020-10-26 08:39] bstobbe opened #217 "documentviewer: Add possibility to select which buttons are shown"
**Is your feature request related to a problem? Please describe.**
Currently the pe:documentviewer renders all possible buttons for pdf.js. Sometimes we want users to only use a subset of this buttons. It would be good to add a possibility to select which buttons are shown.

**Describe the solution you'd like**
It would be great if the <pe:documentviewer> tag gets a new attribute showButtons which

[2020-10-26 11:54] melloware commented on #217
There is no JS Widget for Document Viewer however this can be accomplished easily with a JS function like this.

**Note:** Some buttons like `presentationMode` are special and need to be hidden a little differently.

[code]

Then on your page add this code to basically hide the buttons after the page loads.
[code]

[2020-10-28 12:34] melloware opened #218 "Performance: Use getChildCount() instead of size/empty"
**Description**
Do not use `size()` or `isEmpty()` for any child counting using `getChildCount()` instead.

JFYI if you use getChildren().getSize() on a component, where childCount=0, a empty Child-List is created. So getChild() prevents unncessary list instances

[2020-10-28 13:02] #218 closed, assigned to melloware

[2020-10-30 14:32] #217 closed, assigned to melloware

[2020-11-01 12:55] blutorange opened #220 "CodeMirror: Autocomplete feature shows escaped characters"
I was using pe:codeMirror with the `autocomplete` feature via a bean method. The bean method returned several suggestions, including `&&`. The problem was that this got displayed as `&amp;&amp;` in the hint overlay from CodeMirror:

![image](https://user-images.githubusercontent.com/2456413/97803242-1bd3fc80-1c49-11eb-9d38-a7679eed6005.png)

This is caused by the client script which evaluates the

[2020-11-01 13:43] #220 closed, assigned to blutorange

[2020-11-09 16:31] Exandra opened #227 "CommandButtonSingleClick: Respect actionListener as well as action"
**Describe the bug**
The CommandButtonSingleClick renderer appends new JavaScript code to the existing JavaScript code on each update. This increases the size of the DOM tree, and subsequently the data transmitted over the network, continually.

This behavior results, on complex pages, after a short while in multiple megabyte data per update/click.

**Environment:**
 - PF Version: 8.0.3
 - JSF + v

[2020-11-09 19:50] jepsar commented on #227
This is a duplicate of https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/761

Please upgrade to PFE 8.0.4

[2020-11-09 20:49] melloware commented on #227
Yes please use 8.0.4 like this and report back.
[code]

[2020-11-09 20:57] jepsar commented on #227
I tested the provided project with 8.0.4 and it solved the issue

[2020-11-10 16:11] melloware opened #229 "Sheet: Sorting with column rendered="false" off"
**Describe the bug**
If you set the first column to rendered="false" then try and sort the first column displayed its sorting the wrong column.

**Environment:**
 - PFE Version: _8.0_
 - JSF + version: _Mojarra 2.2.8_
 - Affected browsers: _ALL_

**To Reproduce**
Steps to reproduce the behavior:
1. Mark the first column of your sheet rendered="false".
2. Sort by the first column displayed
3. You w

[2020-11-10 16:14] #229 closed, assigned to melloware

[2020-11-11 09:00] Exandra commented on #227
Sorry for the late reply. How embarrassing that I never noticed that there are sub-releases of primefaces-extensions 🤭.

Unfortunately, I cannot get my provided test case to run correctly. As soon as I switch to primefaces-extensions 8.0.1 or above, the buttons are no longer disabled when I click them. I have tried different combinations like Primefaces 8.0.5/Extensions 8.0.4 or Primefaces 8.0.4/E

[2020-11-11 12:53] melloware commented on #227
In your faces-config.xml you need to add:
[code]

To enable this renderer.

[2020-11-11 14:18] Exandra commented on #227
I already added the renderer to my faces-config.xml ( https://github.com/Exandra/primefaces-test/blob/master/src/main/webapp/WEB-INF/faces-config.xml )
Functionally whise, it works with primefaces-extensions 8.0: (aside from the bug in this ticket)

[code]

If I change my pom.xml ( https://github.com/Exandra/primefaces-test/blob/master/pom.xml ) to
[code]
The renderer don't work anymore. I can cli

[2020-11-11 14:20] melloware commented on #227
Can you provide a test case like above proving its not working?

[2020-11-11 14:34] Exandra commented on #227
I updated my primefaces-test fork.

primefaces-extensions 8.0.4:
1. git clone https://github.com/Exandra/primefaces-test
2. cd primefaces-test
3. mvn clean jetty:run -Pmojarra23
4. Open http://localhost:8080/primefaces-test/
The button at the top won't disable on click. (tested in firefox, chrome, chrome edge and IE11)

Quit jetty and set primefaces-extensions version in poml.xml to 8.0. Repeat ab

[2020-11-11 14:37] melloware commented on #227
Reopened and assigned to @jepsar to investigate.

[2020-11-11 14:41] melloware commented on #227
Also what happens when you are on PF Community 8.0 and PFE 8.0.4?  We typically only test here with 8.0 Community release.  Just curious.

[2020-11-11 15:12] melloware commented on #227
OK I think I see the bug.  It works if you use `action` but not `actionListener`.

Current code:
[code]

I think needs to be...
[code]

[2020-11-11 15:20] #227 closed, assigned to melloware

[2020-11-11 15:21] melloware commented on #227
I just submitted a fix for this for 9.0. if you need this right now in your own project using 8.0 jut copy the entire CommandSingleClickRenderer into your project and just change the faces-config.xml class name to point to your local renderer.

[2020-11-11 16:57] Exandra commented on #227
Thank you. I just copied the new renderer in our project and so far it looks very good. 😊

[2020-11-11 17:33] melloware commented on #227
Excellent. Thanks for reporting and testing this issue.

[2020-11-12 06:33] nixonyeung opened #230 "Sheet: Ajax event not fire when editing value with colType="numeric""
**Describe the bug**
Sheet: Ajax change event not fire when editing value in colType="numeric"

**Reproducer**
https://www.primefaces.org/showcase-ext/sections/sheet/ajaxEvents.jsf
1.  Double click any value in "Editiable" column,  the value changes to edit mode.
2.  Key in a new value.
3.  Click on any empty space other than pressing enter key or clicking on the sheet components .
4.  The value c

[2020-11-12 12:31] melloware commented on #230
I have confirmed your issue.  let me look into it.

[2020-11-12 12:35] #230 closed, assigned to melloware

[2020-11-12 12:38] melloware commented on #230
OK it was similar to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/599

And its fixed for 9.0. Thanks for reporting!

[2020-11-24 01:48] jsolanou opened #235 "Orgchart : Error converting circular structure to JSON"
**Version**

tested in PrimeFaces Extensions Showcase - © 2011-2020,	PrimeFaces: 8.0, PrimeFaces Extensions: 8.0.2,	JSF: jakarta 2.3.14,	Server: jetty/9.4.2.v20170220,	Build time: 2020-04-29 13:39

**Steps to reproduce**
1. Go to https://www.primefaces.org/showcase-ext/sections/orgchart/basicUsage.jsf
2. Click a node in the org chart

**Describe the bug**
Add blank grids infinitely by continuing t

[2020-11-24 08:45] rider87 commented on #124
Agreed, whould be very great to have this component

[2020-11-24 13:20] #235 closed, assigned to melloware

[2020-11-24 13:33] melloware commented on #235
Thank you for reporting I have fixed it for 9.0!  If you need this fix right now just add this code to your application JS file that loads after PF.
[code]

[2020-11-24 17:30] jsolanou commented on #235
Thank you very much for the solution i needed it it is an important component for the development of the organization. I tried it and the solution works well, we are waiting for the version of primefaces 9 soon.

Cheers

[2020-11-24 17:35] melloware commented on #235
Excellent thanks for reporting back!  When 9.0 comes out you should just be able to rip out that code you added above but for now it should get you through :)

[2020-11-24 21:11] melloware commented on #124
One thing that concerns me it seems there is no active development and last commit was almost 2 years ago.

[2020-11-25 11:14] rider87 commented on #124
Yes, maybe it make sense to include another JS library.

Trip.js is not the only JS library, please see here e.g.:
https://ourcodeworld.com/articles/read/328/top-10-best-tour-website-guide-javascript-and-jquery-plugins

Great, as I can see, also other people would like to have this component.

[2020-11-26 09:03] zhiying99 opened #239 "Component: Title"
**Describe the bug**
p:menubar (p:menu, p:meneButton as well) is not accessable. That is, when tabbing through the menu using a screen reader like JAWS, it does not read any of the menu items, even all the generated <a/> elements have titles or aria-lables.

**Reproducer**
See here: https://www.primefaces.org/showcase/ui/menu/menubar.xhtml

**To Reproduce**
Open a screen reader (JAWS for example),

[2020-11-26 09:10] jepsar commented on #239
@zhiying99 why did you open an issue at PrimeFaces Extensions and not at https://github.com/primefaces/primefaces/issues ?

[2020-11-26 09:13] zhiying99 commented on #239
sorry, an error, can I just "Close issue"?

[2020-11-26 09:16] #239 closed, assigned to melloware

[2020-11-26 09:18] jepsar commented on #239
@zhiying99 yes, and please set a title on the new issue

[2020-11-26 09:24] zhiying99 commented on #239
ok, thank you!

[2020-11-30 17:23] melloware opened #241 "Core: Jakarta EE9 Version"
**Is your feature request related to a problem? Please describe.**
We need a Jakarta version of PrimFaces Extensions like...

[code]

See: https://github.com/primefaces/primefaces/issues/6580

[2020-11-30 17:55] #241 closed, assigned to melloware

[2020-12-04 18:35] melloware opened #244 "CreditCard: Update JS Lib to 2.5.1"
Upgrade to the latest and greatest fixes for the CreditCard JS Lib

[2020-12-04 18:36] #244 closed, assigned to melloware

[2020-12-14 14:43] melloware opened #246 "Global: Switch to use StyleClassBuilder"
**Is your feature request related to a problem? Please describe.**
PF 9.0 adds StyleClassBuilder so we should update all Extensions components to use it.

[2020-12-14 15:15] #246 closed, assigned to melloware

[2020-12-16 17:06] melloware opened #248 "HeadRenderer: encode shortcut icon properly"
**Describe the bug**
See: https://github.com/primefaces/primefaces/issues/6674

ExtHeadRenderer need to encode the icon like core PF is now.

[2020-12-16 17:07] #248 closed, assigned to melloware

[2020-12-18 20:33] melloware commented on #205
ColumnGroup support added in main PF now.  Ported this code over and cleaned it up.  It actually worked quite well.

[2020-12-18 20:34] melloware commented on #205
I now think we have ported over most of the useful code from PFE exporter so I have no hesitation deleting after the next Major release.

[2020-12-18 20:37] tandraschko commented on #205
+1

[2020-12-22 15:46] melloware commented on #134
This one is definitely messy. I took a deeper dive and without RowKey it then fails the `validate` step etc.  I think this would have to be fixed in many many places for it to work and pass down into SheetUpdates.    Was hoping it was going to be simple.

[2020-12-22 15:48] melloware commented on #125
going to close this for now as workaround has been provided.

[2020-12-22 15:48] #125 closed, assigned to melloware

[2020-12-22 19:11] blutorange commented on #134
Yeah, though I think the real issue for us is that (as far as I heard) the sheet component was developed as an alternative for DataTable with a mostly fixed column schema. We're kinda using the sheet as a general excel / CSV editor and it really shows the sheet wasn't developed with that usage in mind.

[2020-12-23 20:19] aripddev opened #251 "Timer: Mistake in 'visible' parameter description"
Current description is;
`set to true to hide the timer. The listener will be fired anyway`

It should be
`set to false to hide the timer. The listener will be fired anyway`

[2020-12-23 20:25] #251 closed, assigned to melloware

[2020-12-23 20:25] melloware commented on #251
Good catch!  I updated the description!

[2020-12-24 07:36] aripddev opened #253 "Timer: Locale support"
**Is your feature request related to a problem? Please describe.**
There is no i18n support for timer component. For `human` format, it is shown only English time words, such as `an hour`, `a few minutes` so on.

**Describe the solution you'd like**
Need to implement the solution mentioned moments documentation at https://momentjs.com/docs/#/i18n/

[2020-12-24 17:08] melloware commented on #253
Yep this should be doable no problem.

[2020-12-26 16:11] #253 closed, assigned to aripdcem

[2020-12-30 12:32] melloware commented on #132
Closing this ticket as it looks like BalusC is going to tackle it with OmniFaces and he already ran into some roadblocks he is thinking through and found browser oddness implementing. See: https://github.com/omnifaces/omnifaces/issues/508

[2020-12-30 12:32] #132 closed, assigned to jepsar

[2020-12-30 12:44] melloware commented on #126
I added Saga, Vela, and Arya the new PrimeOne themes to our JS method.
[code]

[2021-01-01 10:29] jepsar commented on #123
Closing this as badge will move to PrimeFaces

[2021-01-01 10:29] #123 closed, assigned to melloware

[2021-01-01 14:06] melloware opened #257 "FAB: Support PF Badge"
**Is your feature request related to a problem? Please describe.**
@jepsar since PE Badge works with FAB we should make it work with the new PrimeFaces Badge as that would be the only functionality lost if we deprecated and removed PE Badge.

[2021-01-01 14:11] melloware opened #258 "Deprecate: Badge, LetterAvatar, Gravatar"
Mark them as deprecated for removal in next release as PF Core now has these components.  I think we should try to move as much functionality over to PF from these as we can.

- [x] Badge (no action as the PF Badge is feature complete)
- [x] Gravatar I think it will be really easy to just add this as a feature in the PF Avatar (I will take care of this)
- [x] LetterAvatar - we need to investigate

[2021-01-02 16:57] melloware opened #259 "License: Switch to MIT from Apache"
Per PrimeTek's suggestion change the license from Apache to MIT to be in line with PF.

[2021-01-02 17:04] #259 closed, assigned to melloware

[2021-01-02 20:09] tandraschko commented on #259
i dont have problems with the change but such big changes needs to be discussed next time.

[2021-01-03 16:30] melloware commented on #257
If this is too much of a pain, we should just add a badge attribute to the FAB so it can render it.

[2021-01-04 21:25] #258 closed, assigned to melloware

[2021-01-05 09:34] jepsar commented on #257
Haven't played with the new badge yet. Will give it a look this evening.

[2021-01-05 09:42] jepsar opened #264 "Showcase based on the one used with PF"

[2021-01-05 12:36] melloware commented on #264
I think we should wait until they are all done making changes.  It will be a large undertaking to convert ours to theirs.

[2021-01-05 16:26] melloware commented on #126
Also I stand corrected the new Saga theme is the default theme not Nova Light for PF10.

[2021-01-05 20:30] #257 closed, assigned to jepsar

[2021-01-15 16:26] jepsar commented on #124
See also https://discord.com/channels/787967399105134612/787967662293909524/799653854697357352

[2021-01-15 16:31] Rapster commented on #124
A user mentionned https://shepherdjs.dev/ that I really like

[2021-01-23 14:48] jepsar opened #271 "InputPhone: should respect theme colors"
<img width="445" alt="Screen Shot 2021-01-23 at 15 47 40" src="https://user-images.githubusercontent.com/7500178/105591085-88ffb580-5d92-11eb-9d60-aae8a6189854.png">

[2021-01-23 15:38] jepsar opened #273 "TimePicker: should respect theme colors"
<img width="401" alt="Screen Shot 2021-01-23 at 16 36 52" src="https://user-images.githubusercontent.com/7500178/105606397-6624cf80-5d99-11eb-8b32-348991a9a64f.png">

[2021-01-23 17:04] #271 closed, assigned to jepsar

[2021-01-23 17:36] melloware commented on #273
I fixed it looks much better now!
![image](https://user-images.githubusercontent.com/4399574/105609471-922f5900-5d77-11eb-876c-eb3ae05f0102.png)

[2021-01-23 17:37] melloware commented on #126
@jepsar as of PF 10 PF always includes PrimeIcons no matter what.  So I am wondering if we should clean this up and we also have duplicate delcrations of ...

[code]

In calculator.css, timepicker.css

Thoughts?

[2021-01-23 18:04] jepsar commented on #273
I wanted to get this more in line with the date picker.

[2021-01-23 18:12] melloware commented on #273
OK but dont remove the border boxes.  It looks too naked like that and I use this component a lot and my production users have complained they like seeing the border boxes.

[2021-01-23 18:15] melloware commented on #273
I also just checked in fixes to fix the logo in the upper left to be SVG so it also adjusts properly with the theme.  The old one was a PNG that was not transparent.

[2021-01-23 18:29] melloware opened #274 "Social: Remove from Extensions"
**Is your feature request related to a problem? Please describe.**
Plugin is not being maintained and there is not a lot of use for this plugin.

Remove in 10.0.1

[2021-01-23 18:30] melloware opened #275 "Gravatar: Remove from Extensions"
Code is being moved to PF hopefully with https://github.com/primefaces/primefaces/issues/6750

[2021-01-23 18:31] melloware opened #276 "LetterAvatar: Remove from Extensions"
Being ported to PF core Avatar hopefully: https://github.com/primefaces/primefaces/issues/6752

[2021-01-23 18:54] jepsar commented on #273
Well, the date picker also does not have borders arround each date. This is somethime you could easily add to a custom style sheet... if you don't mind.

<img width="460" alt="Screen Shot 2021-01-23 at 19 52 16" src="https://user-images.githubusercontent.com/7500178/105611300-b8271e80-5db4-11eb-93ee-c7be7c017955.png">

[2021-01-23 18:56] melloware commented on #273
OK I guess that doesn't look that bad.  I can always add the borders back if my users complain...

[2021-01-23 18:57] jepsar commented on #273
The extra padding does a lot

[2021-01-23 18:58] #273 closed, assigned to jepsar

[2021-01-23 19:03] melloware opened #278 "Layout: Should Respect Theme Colors"
I already fixed this but created this tracking ticket.

[2021-01-23 19:03] #278 closed, assigned to melloware

[2021-01-23 19:10] jepsar commented on #126
Yeah, this can be closed. Can't we just class the elements that need a PrimeIcon with `pi`?

[2021-01-23 19:12] melloware commented on #126
Yeah that is what I was wondering but wasn't sure since you did this work to fix originally?

[2021-01-23 19:13] melloware commented on #126
and i wonder if we rip out the JS method `isPrimeIconTheme` and stop using it in TimePicker and Calculator widgets?

[2021-01-24 13:45] jepsar opened #279 "TimePicker: headings are incorrectly styled in popup with dark theme"
<img width="522" alt="Screen Shot 2021-01-24 at 14 42 40" src="https://user-images.githubusercontent.com/7500178/105632291-98dece80-5e52-11eb-98af-da5d64c5daf5.png">

.. and in general there is a slight difference between hours and minutes

[2021-01-24 14:54] jepsar opened #281 "TimePicker: deselect button throws "Uncaught Missing instance data for this timepicker""
See showcase customization example

[2021-01-24 14:57] jepsar opened #282 "Calculator: should respect theme colors"
<img width="578" alt="Screen Shot 2021-01-24 at 15 56 10" src="https://user-images.githubusercontent.com/7500178/105634098-c597e380-5e5c-11eb-9c0c-125428c24555.png">

[2021-01-24 15:02] jepsar opened #283 "New Component: TimeClockPicker"
<img width="358" alt="Screen Shot 2021-01-24 at 16 00 39" src="https://user-images.githubusercontent.com/7500178/105634258-7605e780-5e5d-11eb-90ce-2547dac6fcc1.png">

[2021-01-24 15:03] #279 closed, assigned to jepsar

[2021-01-24 16:31] #281 closed, assigned to melloware

[2021-01-24 16:51] melloware commented on #283
I used some tricks we use in PF Core for Calendar DatePicker and others that have similar overlays.  Reset CSS to 0.0 and call `flipfit` doesn the trick to make it detect where the window edges are.

[2021-01-24 16:52] melloware opened #284 "TimePicker: Hide Panel when scrolling or resizing window"
**Is your feature request related to a problem? Please describe.**
Similar to what we have done in PF core when the overlay popup is displayed we must hide it when the user scrolls the document browser or resizes the browser window.

[2021-01-24 16:53] #284 closed, assigned to melloware

[2021-01-24 16:55] melloware commented on #284
Added Show/Hide widgets methods as well and renamed `_self` to `$this` which is the PF standard.

[2021-01-24 17:13] #282 closed, assigned to melloware

[2021-01-24 17:15] melloware commented on #282
Not perfect but much better.

![image](https://user-images.githubusercontent.com/4399574/105637892-d9801d00-5e3d-11eb-9529-a087148440fb.png)

[2021-01-24 17:35] #126 closed, assigned to melloware

[2021-01-24 17:36] melloware commented on #126
Now that PrimeIcons are included we only need CSS so I remove all the JS code and fixed the CSS to properly load the icons.

[2021-01-24 18:52] jepsar commented on #283
I'm not seeing any difference

[2021-01-24 19:04] melloware commented on #283
When you say be adaptive what do you mean?

Maybe I think it means something different.

[2021-01-24 19:08] jepsar commented on #283
I would like to prevent horizontal scrolling somehow.

[2021-01-24 19:45] melloware commented on #283
Oh you mean if the browser is that small preventing it from flowing off the screen?

Does the DatePicker do that?  If it does we should look how it does it.

[2021-01-25 12:58] jepsar commented on #283
The date picker does not flow off the screen.. so we need to come up with a custom solution.

[2021-01-25 13:00] melloware commented on #283
Yep I bet the old Jquery Calendar DOES flow off screen though right?

[2021-01-25 13:04] melloware opened #287 "Sheet: Respect Themes"
Sheet should respect the themes.

[2021-01-25 13:05] melloware commented on #283
I have a feeling this is not an insignificant hacking of the TimePicker JQ component to get it to be responsive.

[2021-01-25 13:30] jepsar commented on #283
Yeah, I think this will not be a quick fix.

[2021-01-25 19:56] #287 closed, assigned to melloware

[2021-01-25 19:56] melloware commented on #287
Its not perfect but its much better.

[2021-01-27 06:48] jepsar opened #288 "CKEditor: Upgrade to 5"

[2021-01-27 15:36] melloware opened #289 "CommandSingleClickRenderer: Support new ConfirmPopup"
**Is your feature request related to a problem? Please describe.**
We currently support ignoring ConfirmDialog buttons this extends it to support the new ConfirmPopup component.

[2021-01-27 15:37] #289 closed, assigned to melloware

[2021-01-27 15:38] melloware commented on #289
@jepsar please review.  The new confirm popup buttons are `ui-confirm-popup-yes` for example and confirm dialog is `ui-confirmdialog-yes` so this makes it generic to just look for ui-confirm

[2021-01-27 15:42] jepsar commented on #289
@melloware good catch. Fix looks good to me.

I was just talking with a co-worker whether to replace the confirm dialog with a popup :-)

[2021-01-27 15:43] melloware commented on #289
HA yeah I REALLY like the confirm popup it seems so much less annoying than a whole dialog!

[2021-01-28 17:57] melloware opened #292 "Layout: JSON encoding broken"
**Describe the bug**
Layout removed its custom encodeJSON method but its easily replaced with JSON.Stringify.

Also some more styling fixes.

[2021-01-28 17:59] #292 closed, assigned to melloware

[2021-01-29 14:48] melloware opened #293 "OmniFaces CombinedResourceHandler PF Convenience Classes"
We heavily use the `Omnifaces CombinedResourceHandler` to combine our CSS and JS to just 1 script each in our PrimeFaces apps.

See: https://showcase.omnifaces.org/resourcehandlers/CombinedResourceHandler

However PrimeFaces hard codes some resources in the HeadRenderer which leave it outside the scope of being combined like the theme.css, beanvalidation.js etc etc.

Of course @BalusC has an excel

[2021-01-29 15:01] #293 closed, assigned to melloware

[2021-01-29 15:03] melloware commented on #293
OK this is checked in and I tested it locally and its working great.

[2021-01-29 15:12] melloware commented on #293
Just a word of warning I have found one issue in my testing and that is with CKEditor because of the way it dynamically loads scripts.  The URL's all look wrong and get 404's.  Need to investigate.

[2021-01-29 15:17] melloware opened #294 "CKEditor: Issue with CombinedResourceHandler"
**Describe the bug**
CKEditor URLs generating 404's with CombinedResourceHandler.

See: https://github.com/primefaces-extensions/primefaces-extensions/issues/293

[2021-01-29 15:42] melloware opened #295 "Core: Html5ContextFactory for removing type="text/javascript""
See original PF ticket: https://github.com/primefaces/primefaces/issues/4135

All JSF resources get loaded with `script type="text/javascript"`

Which if you run through W3C validator at https://validator.w3.org/ it generates this:

![image](https://user-images.githubusercontent.com/4399574/106295347-520c2280-621e-11eb-8435-6c67f7c7fb3a.png)

@OBreidenbach has provided an Html5ResponseWriter to st

[2021-01-29 16:44] #295 closed, assigned to melloware

[2021-01-29 20:09] #294 closed, assigned to melloware

[2021-01-29 21:08] stolp commented on #293
Tested this (without CKEditor) and it is working flawlessly in my application. Thanks a lot!

[2021-01-29 21:09] melloware commented on #293
Nice!  I was able to fix CKEditor as well!

[2021-01-30 17:23] jepsar opened #296 "New component: LightSwitch"
Automatic dark or light theme selection based on the OS settings.

[code]

Declare which theme is light and which is dark and your bound EL bean for where you are storing the value

[2021-01-31 19:19] #296 closed, assigned to jepsar

[2021-02-01 18:52] jepsar opened #302 "Sheet: dark mode selected cell header and footer background are too light"
<img width="276" alt="Screen Shot 2021-02-01 at 19 50 17" src="https://user-images.githubusercontent.com/7500178/106504273-fdd79b80-64c6-11eb-821a-1de67272b74f.png">

Rule: `.handsontable thead th.ht__highlight`

[2021-02-01 19:18] #302 closed, assigned to melloware

[2021-02-01 19:18] melloware commented on #302
![image](https://user-images.githubusercontent.com/4399574/106506918-5b082880-6498-11eb-93ee-c33474c2422e.png)

I now use primary color and primary text color.

[2021-02-01 19:34] jepsar opened #303 "LightSwitch: Add switch event"
.. so you can update components on switch. For example, on the showcase the theme selector is showing an outdated theme on switch.

[2021-02-03 20:14] #303 closed, assigned to jepsar

[2021-02-05 10:02] blutorange opened #305 "New component: Monaco editor"
The [Monaco Editor](https://microsoft.github.io/monaco-editor/index.html) is the code editor which powers VS Code, with the features better described here.

Two years, ago I started making a JSF wrapper for the monaco editor (https://github.com/blutorange/primefaces-monaco) so we could use it in our JSF pages. It's already implemented as a PrimeFaces widget. By now the wrapper component works well

[2021-02-05 12:48] melloware commented on #305
@blutorange I love this idea and would be happy to review your PR and merge it here in Extensions. It would be a great addition.  I did the same thing with Sheet I wrote it for a client and since I put it here people have offered great feedback and improvements making it way more advanced than what I had written for my client.

[2021-02-05 12:49] melloware commented on #305
Even better Monaco is MIT Licensed so it doesn't have to be a separate JAR like CKEditor is it can be right in the core jar!

[2021-02-05 13:02] blutorange commented on #305
I'm glad you like the idea : ) I'll take a look and see if I can integrate it into extensions. A few quick questions:

* Currently I use the `frontend-maven-plugin` to fetch monaco editor from NPM and create the final build files. For CKEditor, it seems all the source files are in this repository and it doesn't download anything from NPM. Should I include all necessary source files for monaco edit

[2021-02-05 13:04] melloware commented on #305
OK feel free to make it a submodule if it makes building it easier for you. I like the idea of the NPM build etc.  The CKEditor build has always been a static download build.  i grab the files from the CKEditor site and copy them in whenever we upgrade.

[2021-02-12 15:42] jepsar opened #310 "Bundle and automatically load client side locale Javascripts"
See https://github.com/primefaces/primefaces/wiki/Locales#client-localization

[2021-02-12 15:43] melloware commented on #310
+1

[2021-02-12 15:50] tandraschko commented on #310
@melloware please ask PrimeTek to bundle it directly in PF core.
We can add a context param to add this File dynamically

[2021-02-12 15:51] jepsar commented on #310
Even better :-)

[2021-02-12 15:54] #310 closed, assigned to jepsar

[2021-02-12 16:28] melloware commented on #310
Oh I love that Idea.  I assumed they didn't do it for a reason :)

[2021-02-13 18:14] melloware opened #311 "PrimeFacesResourceProcessor: Update for Locales"
**REMINDER**
When PF merges this issue remember to update PrimeFacesResourceProcessor for the new PRIME_ICONS flag and CLIENT_SIDE_LOCALIZATION code.

https://github.com/primefaces/primefaces/pull/6984

[2021-02-20 15:54] blutorange commented on #305
I now ported the code and it's working already. I need to add more examples, test all features, and do some general cleanup. There's two examples in the showcase if anybody want to check it out and share their opinion (see https://github.com/blutorange/core/tree/feature-305). Would also be nice to know if the build and the component works for other people.

* I created a maven submodule `monacoedi

[2021-02-20 16:16] melloware commented on #305
This looks really good!   A couple of things that are pseudo code review comments.
- uiLanguageUri should probably be `locale` and use all the built in local tricks we have in other compoennts and it also can respect the JSF view language etc for determining the language.  And then we have `LocaleUtils.getjavaScriptLocale` if your locale uses dashes instead of underscores etc. This would put it mo

[2021-02-20 17:21] blutorange commented on #305
Thanks for taking a look : )

* I already added a few tricks that make it possible to use a custom locale from any given source. I can adjust it so that it reads from `PrimeFacesExt.locales.MonacoEditor` ? Locale codes are freely changeable, so we can just use underscores if that's better. And yes, I can rename the option and use the view language.  Are there any more locale tricks I should be awa

[2021-02-20 17:35] melloware commented on #305
Well if you look at how the Calculator/CalculatorRenderer component in PFE does `locale` that might give you some more direction.

[2021-02-21 19:06] melloware commented on #305
Nice work updating for locale!  Now if someone has a global locale set your component will just pick it up and use it.

[2021-02-21 19:06] melloware commented on #305
Whenever you think you are ready to submit PR I can make sure it gets in RC2 of PFE.

[2021-02-21 19:08] blutorange commented on #305
Thanks : ) I'd like to do a little bit more of testing and check that all features work. Other than that, what's the estimated date for RC2 or rather, when would this need to be ready to make it into RC2?

[2021-02-21 19:10] melloware commented on #305
So I usually cut RC2 a few hours after PF Core releases RC2 in Maven Central.  I think PrimeTek is planning on doing it early this week maybe Monday or Tuesday.   You will still have between RC2 and Final 10.0.0 to polish this component as well.

[2021-02-22 12:35] #305 closed, assigned to blutorange

[2021-02-22 13:21] melloware commented on #305
This component is pretty awesome.  Its so much nicer than CodeMirror.  I just wish there was a FreeMarker template language for Monaco since that is what I use it for in production.  I know I could write mine own for Monaco just don't have that time to invest right now!

[2021-02-22 13:32] blutorange commented on #305
Yeah, I know, it's essentially VSCode light with lots of nice features and quite customizable with enough time. Though it's got a much heavier footprint, and code mirror provides a nice light-weight alternative, so having both component lets people choose what fits their use case.

[2021-02-22 13:34] melloware commented on #305
I also can't figure out when I build why Maven Reactor thinks it needs to build Monaco before the Core?
[code]

[2021-02-22 13:38] blutorange commented on #305
That is intentional: core has a dependency on Monaco. Try searching for the class "EditorOptions". This is a a wrapper for the https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.istandaloneeditorconstructionoptions.html and sent as JSON to the client.

The "EditorOptions" class is generated automatically from the file https://github.com/primefaces-extensions/primefaces-extensio

[2021-02-22 13:47] melloware commented on #305
Ahh I need to change that scope to provided.  We can't force anyone using Core to have to bring in the Monaco Resources.  So it can compile with this but we don't want to force people that have to have this JAR like we don't with the others.

[2021-02-22 13:48] melloware commented on #305
I also updated the READMD.MD to have the Monaco Resources like we do with CKEditor.

[2021-02-22 13:51] melloware commented on #305
Actually I am gong to update to `<optional>true</optional>`

[2021-02-22 13:53] blutorange commented on #305
Ok, I didn't know that. So that means people who wish to use monaco editor should add resources-monacoeditor as an additional dependency to primefaces-extensions. I guess that should workl

[2021-02-22 13:56] melloware commented on #305
Yep that is how CKEditor is only if you want to use that component you need the extra dependency so your WAR isn't 4MB bigger for no reason if you are not using the component.

[2021-02-22 14:47] melloware commented on #305
Sorry one last thing.  If you look at CodeMirror it extends `AbstractPrimeHtmlInputTextArea` which adds a bunch of new HTML5 DOM events like `oninput`. You didn't want to extend that?

[2021-02-22 14:53] blutorange commented on #305
Pretty sure I didn't think of it when I originally made the component. When I take a look at `AbstractPrimeHtmlInputTextArea`, it does have a few events / methods such as `oncut` / `oncontextmenu` etc. I'm not sure we can provide (since the textarea is just a hidden dummy for transferring data). If that's no problem, I see no reason not to use it.

[2021-02-22 14:56] melloware commented on #305
Oh OK.  Well yeah if you have specifically what works then no need to inherit it.

[2021-02-24 13:14] #311 closed, assigned to melloware

[2021-02-28 23:57] willbigas opened #320 "Counter: Internationalization Support"
**Is your feature request related to a problem? Please describe.**
In the **Counter** component today, I can't dynamically display the user's decimal and currency formats, using their location, I don't have internationalization support, just fixed CurrencyFormat parameters, Decimal places and thousands.

**Describe the solution you'd like**
Using the same logic as convertNumber, allow the componen

[2021-03-01 12:26] melloware commented on #320
I am investigating

[2021-03-01 12:29] melloware commented on #320
@willbigas for now you can use the separator and decimal for your Locale right if you don't want the defaults?

[code]

separator | Grouping separator. Default is ','.
-- | --
decimal | Decimal seperator. Default is '.'.

[2021-03-01 13:05] willbigas commented on #320
@melloware Yes, I already use it, but I think that if I wanted to try a kind of internationalization just using this, I will have to check in the code which locale is the current one and put the symbol and decimal places accordingly, something in my opinion kind of bad , what you think? the most elegant way would be to have the locale behavior that I mentioned.

[2021-03-01 13:09] #320 closed, assigned to melloware

[2021-03-01 13:10] melloware commented on #320
Agreed I just added so you can use `locale` and it will auto detect your locale if you leave locale blank and use your current locale's default like other PF components do! Thanks for the suggestion!

[2021-03-01 14:23] melloware commented on #320
10.0.0.RC2 is now in Maven Central and has this new feature if you want to try it out

[2021-03-01 21:01] melloware commented on #305
Showcase is now up if you want to check it out: https://www.primefaces.org/showcase-ext/views/monacoEditor.jsf

[2021-03-01 21:05] blutorange commented on #305
Awesome, so RC2 is available now. Looks great to it in action : )

[2021-03-01 21:05] melloware commented on #305
Yep RC2 is in Maven Central for both PF and PFE.

[2021-03-02 12:23] melloware opened #324 "Lightswitch: Not working with CombinedResourceHandler"
**Describe the bug**
Because there is no ThemeLink when using the Omnifaces/PFE CombinedResourcehandler there is no link to change.

In this case we must reload the window for it to pick up the theme change.

[2021-03-02 12:24] #324 closed, assigned to melloware

[2021-03-02 12:25] melloware commented on #324
@jepsar please review.

[2021-03-02 13:30] jepsar commented on #324
https://github.com/primefaces-extensions/primefaces-extensions/commit/4b2bafba6100f867d95b35173f6bcdf289fdde7d#r47741143

[2021-03-02 13:41] melloware commented on #324
OK how does this look? https://github.com/primefaces-extensions/primefaces-extensions/commit/e30cef3babd1180596f64a766596668f4b183345

[2021-03-02 18:55] phillipross opened #325 "CKEditor: Add placeholder attribute"
This is a feature request for support of html placeholder in the CKEditor component.

For reference, the [p:texteditor](https://primefaces.github.io/primefaces/8_0/#/components/texteditor) in primefaces supports a `placeholder` attribute which populates the html placeholder attribute of the rendered html input.  It would be great if the CKEditor component did the same thing.

CKEditor apparently s

[2021-03-02 18:56] #325 closed, assigned to melloware

[2021-03-02 18:57] melloware commented on #325
fixed it will make it in the 10.0.0 final release.

[2021-03-03 16:04] melloware commented on #324
OK now I think I have it all working! see: https://github.com/primefaces-extensions/primefaces-extensions/commit/6d2b488b0c8c7ba51b2a26e00e5ac1db4d7d9019

[2021-03-05 08:13] jepsar opened #326 "CodeScanner: should start with back side camera by default"

[2021-03-06 18:29] melloware opened #327 "CommandSingleClickRenderer: Duplicate onClick events"
**Describe the bug**
Go to this page: https://www.primefaces.org/showcase-ext/sections/inputphone/basicUsage.jsf

Right click and do view source. You will see duplicate `onClick` events registered for the same component.

Found it using W3C validator...

![image](https://user-images.githubusercontent.com/4399574/110217029-e69e1c00-7e7f-11eb-80a3-54b84caa4846.png)

**Environment:**
 - PF Version: _

[2021-03-07 12:27] jepsar commented on #327
Isn't this a bug in PrimeFaces? It looks like the onclick is rendered again here:

https://github.com/primefaces/primefaces/blob/ad61861b8db7601c5979d72dc545cb979a387fbc/src/main/java/org/primefaces/component/commandbutton/CommandButtonRenderer.java#L98

or, am I missing something?

[2021-03-07 12:40] melloware commented on #327
Yep I think you are right. Let me investigate.

[2021-03-07 12:48] melloware commented on #327
Reported: https://github.com/primefaces/primefaces/issues/7078

[2021-03-07 12:51] melloware opened #328 "Sheet: setColumnHeaders setter not found"
**Describe the bug**
Reported on forum: https://forum.primefaces.org/viewtopic.php?f=14&t=65789

[2021-03-07 12:52] #328 closed, assigned to melloware

[2021-03-07 15:24] melloware commented on #327
What's weird is its registering 3 onClick's...

[code]

[2021-03-07 15:36] melloware commented on #327
Even with this PR: https://github.com/primefaces/primefaces/pull/7080

Now this example is registering 2 onclick's instead of 3. So it has eliminated one of them.

[2021-03-07 19:36] jepsar commented on #327
I don't get how this renderer could cause this. It's not writing anything.

[2021-03-07 23:27] melloware commented on #327
I am kinda stumped myself. I have to dig deeper into this.

[2021-03-08 18:19] melloware commented on #327
found the last onclick: https://github.com/primefaces/primefaces/pull/7091

[2021-03-08 18:19] #327 closed, assigned to jepsar

[2021-03-10 10:35] jepsar opened #331 "CodeScanner: update zxing-js library to 0.18.4"

[2021-03-10 17:58] #331 closed, assigned to jepsar

[2021-03-11 16:58] #205 closed, assigned to melloware

[2021-03-11 17:23] #274 closed, assigned to melloware

[2021-03-11 17:25] melloware opened #333 "Badge: Remove from Extensions"
Replaced by high quality Badge component in PF core.

[2021-03-11 18:15] #333 closed, assigned to melloware

[2021-03-11 18:17] #275 closed, assigned to melloware

[2021-03-11 18:28] #276 closed, assigned to melloware

[2021-03-14 17:01] #326 closed, assigned to jepsar

[2021-03-15 07:11] jepsar opened #335 "CodeScanner: for attribute is missing from taglib.xml"

[2021-03-15 11:37] #335 closed, assigned to jepsar

[2021-03-16 15:30] tyrone1987 opened #337 "clipboard not work"
Hello. I'm using the latest versions of primefaces and when I enabled the security option primefaces.CSP it stopped working <p: ajax event = "success" listener = "# {bean.successListener}" />.
the option to copy if it works but not the listener.

[2021-03-16 15:33] melloware commented on #337
I will investigate. Thanks for reporting.

[2021-03-16 15:35] #337 closed, assigned to nobody

[2021-03-16 15:37] tyrone1987 commented on #337
Hi, try onclick = "return false;", and it worked.
I'm sorry I wasted your time

[2021-03-17 08:32] jepsar opened #338 "Core: JS changeTheme does not work with combined resource handler"

[2021-03-17 11:42] melloware commented on #338
I was debugging this last night.  It works locally but when running on Jetty Server in Production it looks like when we create the HTML HEAD CSS file for Theme Link its not actually overridding the theme found in the combined CSS for some reason.

[2021-03-18 06:43] jepsar commented on #293
There is no page for this feature in the showcase, right?

[2021-03-18 07:06] jepsar commented on #338
Yes, that's exactly the reason. The combined theme is loaded later, so it will always override the one in the head. Append to the body and it is fixed.

[2021-03-18 11:37] melloware commented on #293
No there is not. I should make one. I will open a ticket.

[2021-03-18 11:38] melloware opened #341 "Showcase: OmniFaces CombinedResourceHandler Helper"
**Is your feature request related to a problem? Please describe.**
Create a showcase page for OmniFaces CombinedResourceHandler  Helper

[2021-03-18 11:39] #338 closed, assigned to jepsar

[2021-03-20 12:40] melloware commented on #288
It looks like CKEditor 5 changed their license to GPL only: https://ckeditor.com/legal/ckeditor-oss-license/

CKEditor allowed you to pick one of many licenses including friendly Mozilla license.

[2021-03-23 12:43] melloware opened #345 "CreditCard: Fix JCB detection"
**Is your feature request related to a problem? Please describe.**
JCB cards are any card that starts with "35".

[2021-03-23 12:44] #345 closed, assigned to melloware

[2021-03-24 03:50] jxmai opened #346 "Orgchart - show case exception"
@melloware Please take a look as well and see if you can replicate the bug. This behavior has not been presented in the live showcase yet.

Build the showcase, choose orgchart, and click basicUsage:

or go to http://localhost:8080/showcase-ext/sections/orgchart/basicUsage.jsf directly

![image](https://user-images.githubusercontent.com/10467831/112251053-8271ab00-8c28-11eb-85bc-f437fa0969ff.png)

[2021-03-24 11:31] melloware commented on #346
Ahhh this doesn't show up on the Showcase because it runs in JSF Production Mode but when running locally it is in Development Mode and shows these kinds of errors. Thanks for the fix!

[2021-03-24 11:31] #346 closed, assigned to melloware

[2021-03-24 13:33] jxmai commented on #346
I see. Makes sense!

[2021-03-24 19:00] melloware opened #348 "CreditCard: Fix expiry on Android"
**Is your feature request related to a problem? Please describe.**
See: https://github.com/jessepollak/payment/issues/71

[2021-03-24 19:01] #348 closed, assigned to melloware

[2021-03-29 01:27] anuragnz opened #350 "CodeScanner: How to set the device Id for rear facing camera?"
How to set the device Id for rear facing camera? I mean how do we know the device id for rear facing camera in Android or iPhone?

[2021-03-29 05:58] jepsar commented on #350
This has been fixed with https://github.com/primefaces-extensions/primefaces-extensions/pull/334 which will be available in 10.0.1

[2021-03-29 05:58] #350 closed, assigned to jepsar

[2021-03-29 05:59] jepsar commented on #350
For now you can find the device you want to use and pass it to the component using the `deviceId` attribute.

[2021-03-29 08:55] jepsar commented on #283
I think we can offer [this time picker](https://github.com/loebi-ch/jquery-clock-timepicker/) as an alternative component. It's just so much more intuitive (at least for me it is).

A big con (for the US) could be that it does not support AM / PM. It's an open issue though.

[2021-03-29 11:39] melloware commented on #283
I think we should call it `InputTime` and I like this idea a lot.  We could also do `InputColor` which if you have seen the html5 color picker is is very nice and intuitive!

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/color

[2021-03-29 13:17] jepsar commented on #283
You are talking about html5 here, and not about https://github.com/loebi-ch/jquery-clock-timepicker/ , right?

[2021-03-29 13:24] melloware commented on #283
Oh i did not even notice you posted that!   That one does look pretty sharp!  What would you call it `ClockPicker`?

[2021-03-29 13:30] melloware commented on #283
This one looks like it is meant to be mobile and responsive too which is a plus.

[2021-03-29 13:32] jepsar commented on #283
Either that or `TimePicker360` or `TimePickerClock`

[2021-03-30 20:22] melloware commented on #283
Maybe `TimeClockPicker`

[2021-03-31 17:59] #341 closed, assigned to melloware

[2021-03-31 18:00] melloware commented on #293
Showcase page added with this commit: https://github.com/primefaces-extensions/primefaces-extensions/commit/abccb3f85d322166f62396e68e15b89dec426e5c

[2021-04-07 06:12] OBreidenbach opened #361 "CKEditor: Uses malformed URLs"
**Describe the bug**
On trying to load additional ressources  wrong urls are used.

**Environment:**
 - PF Version: _10.0_
 - JSF + version: _Mojarra 2.3.14.SP02_
 - Affected browsers: Firefox, Chrome, probably all

**To Reproduce**
1. Go to the showcase: https://www.primefaces.org/showcase-ext/sections/ckEditor/basicUsage.jsf
2. Start developer tools - network
3. Reload the side with Ctrl+F5
4. S

[2021-04-07 13:17] melloware commented on #361
i will take a look

[2021-04-07 13:21] melloware commented on #361
Ahh its weird that they give 200OK with response content empty.  I would have expected 404's?

[2021-04-07 16:39] melloware commented on #361
Thanks for reporting this is fixed for 10.0.1

[2021-04-07 17:43] OBreidenbach commented on #361
@melloware Thank you for the fast fix. Is there already a timetable for 10.0.1?

[2021-04-07 17:44] melloware commented on #361
I can probably do 10.0.1 anytime.  @jepsar is there anything else you want to get in to 10.0.1?

[2021-04-07 18:57] jepsar commented on #361
Small change in the light switch js.. coming up

[2021-04-08 06:30] OBreidenbach commented on #361
@melloware Do not hurry with a new release because of me.

I did copy the new ckeditor.js and smiley.js to my application. The failure with styles/dialog.css is gone. But I still get the failures for
* styles/tableselection.css
* styles/copyformatting.css

Is there anything else I have to do?

[2021-04-08 07:32] OBreidenbach commented on #361
I did some digging.
The hrefs inside the iframe are correct, for instance: .../javax.faces.resource/ckeditor/plugins/copyformatting/styles/copyformatting.css?ln=primefaces-extensions&v=10.0.0&e=10.0.0
But the CSS files are also included to the surrounding side. There the href is wrong: .../javax.faces.resource/ckeditor/plugins/copyformatting/?ln=primefaces-extensions&v=10.0.0&e=10.0.0styles/copyfo

[2021-04-08 08:00] OBreidenbach commented on #361
There are another two references that do not use CKEDITOR.getURL on lines 862, 863 and 1294, 1295. These are splitt by a line break so the RegExp in the RessourceModifier does not match.
@melloware Thanks again for the fast fix.

[2021-04-08 11:23] melloware commented on #361
Ahhh OK I have had to fix that resource modifier before.  Let me look.

[2021-04-08 12:17] #361 closed, assigned to melloware

[2021-04-08 12:17] melloware commented on #361
OK now its really fixed.  Both those URL's are now resolving.

[2021-04-23 12:58] jaejong opened #371 "Layout: ID is not recognized when used at update"
The test project depends on PF6.0 and PFE6.0.0 and works perfectly.
But When I upgrade PF be to above 6.0,  it is not updated.
[primefaces-test-master.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6365439/primefaces-test-master.zip)

[2021-04-23 13:14] stolp opened #372 "MonacoEditor: Console error when used twice in seperate tabs"
**Describe the bug**
My Page consists of a TabView with several tabs. Two of them each contain one MonacoEditor.
When switching tabs from one editor to the other, the following error is thrown in the console. This goes away after reloading via F5.

[code]

**Reproducer**
Will work on this later. The combined resources handler currently makes it quite unreadable, sorry.

**Environment:**
 - PF Vers

[2021-04-23 13:33] melloware commented on #372
CC @blutorange

[2021-04-23 14:07] blutorange commented on #372
Multiple monaco editors in the same page should definitely work, I've been doing that. I'll be taking a look during the weekend, if I can reproduce this. @stolp I'll try if I can reproduce, if not you can work on a reproducer.

[2021-04-23 17:48] melloware commented on #371
Can you try my version here:
[pfe-371.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6367185/pfe-371.zip)

Its working fine for me in 10.0.0 ???

[2021-04-23 23:24] blutorange commented on #372
Alright I can reproduce. Seems to be related to an additional render call due to it being a deferred widget. I'll take a closer look tomorrow.

[2021-04-24 01:56] jaejong commented on #371
Thank you for reply!
I tryed but it is not working for  me on following environment
os: wondow 8
java: jdk1.8.0_144
Can you let me know about your running environment?

[2021-04-24 08:22] blutorange commented on #372
@stolp  Hmm it seems it was pretty late yesterday -- I gave both monaco editors the same `widgetVar`. This caused one editor to be rendered twice, resulting in this error. Could you check whether that's the case for you? With different widget vars I can't get the error to occur anymore, I tried several variations with `dynamic` and `cache` attributes on the tab view. Are your tabs inside a dialog

[2021-04-24 08:44] stolp commented on #372
@blutorange I gave distict widgetVars to the two instances, the tabs are not in a dynamic container, *but* inside a ui:fragment. May this is the cause here?

I will try to build a reproducer in the evening, weather is too nice today :-)

[2021-04-24 09:17] blutorange commented on #372
Take your time, the weather is nice here too : ) Won't be back till evening either. But yes, if you use ui:fragment for conditional rendering, that could be it.

[2021-04-24 11:20] melloware commented on #371
[code]

Tested on:
**Chrome 90**
**Firefox 88**

[2021-04-24 12:52] melloware commented on #372
I think you guys are both in Germany right?  So you may be having the same weather 😄

[2021-04-24 21:11] stolp commented on #372
I have a reproducer ready, but can not yet get the behavior described from it.

The different widgetVars are hardcoded so I can not imagine this as a cause. I also played wit the tab attributes to no avail.

I plan to reuse the reproducer to demonstrate a layout problem I discovered tomorrow as a separate problem.

Germany is not *so* small. I think its roughly 500km to @blutorange (west to east).

[2021-04-26 06:43] jaejong commented on #371
I tried but not work on
Apache Maven 3.8.1
Java version: jdk1.8.0_291, vendor: Oracle Corporation
platform encoding: UTF8
OS name: "windows 8"

I see the defference between PF6.0 and PF10.0.0 at page source.
on PF6.0
layout id is same as xhtml
on PF1.0.0
layout id is assigned dynamically but reference static id=content

**on PF 6.0**
<**div id="content"** style="width:100%; height:100%;"><div id="

[2021-04-26 11:37] melloware commented on #371
Ahhh now I see your problem. I was looking for a CONSOLE errors.  You are just saying that the `update=` is not working.

You are right between 6.0 and 10.0.0 we heavily updated the Layout Component and its not assigning ID's if it a FullPage or considered Not Nested...
[code]

I fixed your reproducer to work in 10.0.0 see the attached version:
[pfe-371-2.zip](https://github.com/primefaces-extensi

[2021-04-26 12:28] jaejong commented on #371
Thank you!!
Now it works.

[2021-04-26 12:30] melloware commented on #371
Yep you just need to put outputPanel which is just a DIV you can update inside your LayoutPane's.

[2021-04-26 12:30] #371 closed, assigned to melloware

[2021-04-27 20:31] melloware commented on #372
Just checking in on this issue? Any update?

[2021-04-27 20:35] blutorange commented on #372
Doesn't seem to be reproducible, but from what I've seen, the error message is logged by the monaco editor when the editor is rendered again when it was already rendered. I'll take a general look if I can spot something. @stolp  Was the editor still usable when the error was logged?

[2021-04-27 20:43] stolp commented on #372
Yes, the editor was fully usable. I did not yet have a reproducer ready.

[2021-04-27 21:34] stolp commented on #372
For what it is worth, I added my reproducer here: https://github.com/stolp/primefaces-test/tree/PFE-372

It does not show the described behavior but resembles the conditions I have in my application.

@blurorange: A non related question: When adding deliberate content to the editors I find size of the scrollbars odd.
I seems to me, that the calculation is against the initially displayed content si

[2021-04-28 06:46] blutorange commented on #372
Thanks for the reproducer, I'll see if I can do anything to prevent the error message.

Do you mean when you set an intial value for the editor via the bean? The scrollbars look fine to me, perhaps what surprises you is that the editor can scroll past the last line as in the screenshot below? If so, that can be turned off via https://microsoft.github.io/monaco-editor/api/interfaces/monaco.editor.i

[2021-04-28 15:52] stolp commented on #372
@blutorange : Thank you, scrollbeyondlastline indeed solved this issue.

[2021-05-04 06:02] OBreidenbach commented on #361
@melloware I know, I did say you do not need to hurry because of me. But meanwhile I would appreciate a 10.0.1 release of primefaces-extension. Could you do a new release during the next week or so?

[2021-05-04 07:03] blutorange commented on #372
So that error message is logged by Monaco editor when you try to create a new editor widget on an element that already has an editor. There are refresh/destroy listeners that should dispose the editor before reload.

One way I managed to get the error message is by having 2+ editors on the page, having them rendered when a checkbox is checked, and (very) quickly clicking that checkbox. Though it o

[2021-05-04 07:29] jepsar commented on #361
I would wait for https://github.com/primefaces-extensions/primefaces-extensions/issues/372 and then do a release

[2021-05-04 11:18] OBreidenbach commented on #361
Thanks, that's very nice.

[2021-05-04 11:37] melloware commented on #372
@blutorange You probably want to override the `destroy` and `refresh` listeners in the widget to dispose of the current editor.

[2021-05-04 12:06] melloware commented on #361
Yep right after @blutorange fixes the Monaco editor destroy issue i will push a 10.0.1 release.

[2021-05-04 15:07] blutorange commented on #372
In a few hours I've got time to look at it, so I think we should be ready for a release by tomorrow.   @melloware  I'm already using addDestroyListener / addRefreshListener, but perhaps I'll just override the method

[2021-05-04 21:37] blutorange commented on #372
After a bit more experimentation, I now finally figured out how to reproduce this -- it happens when the editor is in a not-yet visible tab (or dialog etc.) and gets updated via an AJAX call. When you then go to the tab or open the dialog, it tries to render the editor twice. Will push a fix soon

[2021-05-04 22:20] blutorange commented on #372
@melloware So the main fix here was adding `PrimeFaces.removeDeferredRenders(this.id);` to the `refresh` method. The `DeferredWidget` only calls it during `destroy`, not during `refresh`. Seeing that `init` is called during refresh immediately after, which usually calls `renderDeferred`, that makes me wonder whether we should `PrimeFaces.removeDeferredRenders` to the PrimeFaces `DeferredWidget.ref

[2021-05-05 00:13] melloware commented on #372
The deferred renderer question is for @tandraschko

[2021-05-05 11:11] #372 closed, assigned to blutorange

[2021-05-05 11:41] melloware opened #382 "Printer: Incubate update to Print.js"
Based on this PF ticket from @stolp https://github.com/primefaces/primefaces/issues/7288

We are going to incubate here using a totally different JS library called Print.js because our current print plugin Canvas is not supported.

[2021-05-05 13:27] melloware commented on #382
OK it works!  However when I print a ChartsJS chart I am running into this issue:
https://github.com/crabbly/Print.js/issues/498

It prints the chart but 935 blank pages as well.

[2021-05-05 13:49] melloware commented on #382
Was able to reproduce the issue here: https://jsfiddle.net/qgb09xk8/

However if you change from Charts.JS 2.9.3 to 3.2.0 it works OK.  So it may be the way ChartsJS 2.9.3 renders is HTML.

[2021-05-05 13:56] melloware commented on #382
Here is a fiddle that works properly with Charts 3.2.0.
https://jsfiddle.net/qgb09xk8/1/

[2021-05-05 14:18] #382 closed, assigned to melloware

[2021-05-05 14:19] melloware commented on #382
To use just add this to your faces-config.xml of your webapp this will override the Primefaces one.
[code]

[2021-05-05 14:24] jepsar commented on #382
Don't we need a note on that in the showcase?

[2021-05-05 14:29] melloware commented on #382
Yeah we probably need a note in the Showcase too

[2021-05-05 14:31] jepsar opened #383 "Layout: white background is bleeding in dark themes"
<img width="825" alt="Screenshot 2021-05-05 at 16 30 18" src="https://user-images.githubusercontent.com/7500178/117157819-338a6a00-adbf-11eb-907e-ee165d45fe5c.png">

[2021-05-05 14:41] melloware commented on #382
Showcase example added under ClientBehaviors.

[2021-05-05 14:51] stolp commented on #382
I locally built my application against the current extensions-snapshot and added the behaviour.

Sadly, I also get a few hundred more empty pages. Maybe this is related to the embedded ChartJS Version in PrimeFaces 10?

[2021-05-05 16:21] melloware commented on #382
Yep  I reported it to Print.js and it will be fixed for PF 11.0 which will use ChartsJS 3.2.0.  But I am hoping Print.js fixes it sooner than later.

[2021-05-06 11:08] #383 closed, assigned to jepsar

[2021-05-06 12:02] melloware commented on #361
@OBreidenbach 10.0.1 is now in Maven Central.

[2021-05-07 05:49] OBreidenbach commented on #361
Thank you.

[2021-05-17 15:20] jepsar opened #400 "ThemeAccentColorResourceHandler: Add text color"

[2021-05-17 15:27] jepsar opened #401 "ThemeAccentColorResource: should not use org.apache.commons.io.IOUtils"
I'm getting
[code]

[2021-05-17 16:44] #401 closed, assigned to jepsar

[2021-05-19 18:56] melloware opened #405 "Input Widgets: Support enable() and disable() widget methods"
I think all Input type widgets should support a client side enable() and disable() methods. This not only makes selenium testing easier it also makes the components more scriptable. I only discovered this while using p:password and decided we should review all input ones and add these widget convenience methods.

See: https://github.com/primefaces/primefaces/issues/7323

[2021-05-19 19:08] melloware commented on #405
Also reuse new PrimeFaces.util.enableWidget/disableWidget method where applicable.

[2021-05-21 12:46] jarciano commented on #124
I also agree, the experience of using the application is much more professional.

[2021-05-21 12:47] rider87 commented on #124
what do you mean exactly? which application?

[2021-05-21 13:33] jarciano commented on #124
Create a manual for the use of the new functions of the application, as this will prevent numerous user tickets on how to do so.
In addition to speeding up feedback from users about features.

[2021-05-21 13:34] rider87 commented on #124
Yes, that is exactly what is requested for this new component.
Would be very great to have this component and get the information from the database.

[2021-05-21 13:55] jepsar commented on #124
Why should this be a component? Can't this be done with vanilla JavaScript?

[2021-05-21 14:29] jarciano commented on #124
JavaScript?
Component is good because everything is interconnected with Primefaces, visuals and properties to save in the bank.

[2021-05-21 15:46] jepsar commented on #124
@rider87 @jarciano Can you give a good example of how xhtml would look with a product tour included? And yes, I've seen the list of cars example above, which does not make sense to me.

[2021-05-21 16:48] jarciano commented on #124
@jepsar Best example to show what would be perfect to have see on this site:

https://www.trychameleon.com/tours

[2021-05-21 17:19] jepsar commented on #124
I was not talking about the result, but how to get there. How would your xhtml look? I guess you have an idea about that, as vanilla JavaScript won't work for you.

[2021-05-21 17:25] jarciano commented on #124
I didn't actually get an analysis on Vanilla, do you have any examples with her in practice? Because if it looks cool like the examples presented it will already be a solution.

[2021-05-21 17:27] rider87 commented on #124
Here just an example:

[code]

The main point would be the for (the Id for which it should be)

[2021-05-21 18:35] #400 closed, assigned to jepsar

[2021-05-24 19:41] melloware opened #412 "CreditCard: Upgrade to 2.5.3"
Upgrade to 2.5.3 of the Card.js lib which also removes 19 digit Visa cards which to me was never correct.

[2021-05-24 19:41] #412 closed, assigned to melloware

[2021-05-26 10:35] jepsar commented on #124
I don't like `pe:tourGuidePanel for="..."` as the components in the tour might be all over the place (different includes or tags). I think I would prefer:

[code]

What do you have in mind for `modelFromDatabase`? I think I would prefer attributes for common settings and maybe an extender for the more uncommon stuff (whatever that may be).

[2021-05-26 10:39] marcelocaser commented on #412
Very nice work!

[2021-05-26 11:52] melloware commented on #124
Any database interaction should happen in your backing beans and the Product tour should be not be aware of it like all other JSF components.    This component just feels more flexible as raw JS code.

[2021-05-26 14:18] yehia opened #418 "DocumentViewer PDF.js"
How to update PDF.js?
Digital signatures do not show on the document.

Can someone help me?

[2021-05-26 14:25] rider87 commented on #124
There is no interaction with the database, I need only the possibility to get the information from the database and not only "static" in the JSF page.
I have in mind a "model", like you know from p:menu....
So all information are coming from the database, so it´s completelly dynamic.
Maybe also a <p:repeat> would fit in this case.

In the backend you will define a Entity, like:
ProductTour
- ID
-

[2021-05-26 14:34] melloware commented on #418
Duplicate of https://github.com/primefaces-extensions/primefaces-extensions/issues/122

I don't think PDF.js supports signatures.  See this Stack Overflow if you need signature support: https://stackoverflow.com/a/61366654/502366

And this open PDF.js ticket: https://github.com/mozilla/pdf.js/issues/1076

[2021-05-26 14:34] #418 closed, assigned to melloware

[2021-05-31 06:09] straubev opened #423 "TimePicker: Spinner won't stop when right- and leftclicked"
**Describe the bug**
The time won't stop increasing / decreasing when a spinner button is both left- and rightclicked. It's only "fixed" by reloading the page. By repeating the steps, it always gets twice as fast.

**Environment:**
 - PF Version: 10.0.0 (known since 6.2)
 - PF Ext Version: 10.0.1 (known since 6.2)
 - Affected browsers: ALL

**To Reproduce**
Steps to reproduce the behavior:
1. Go t

[2021-05-31 07:48] jepsar commented on #423
@melloware I could reproduce right clicking (without left click). I cannot reproduce the left + right click scenario due to my hardware. I could have a look, but can't fully test it.

[2021-05-31 11:27] melloware commented on #423
OK let me look.    We should only respect left click and ignore right clicks at the very least.

[2021-05-31 16:06] #423 closed, assigned to melloware

[2021-06-11 10:36] Cantfirmed commented on #122
When is the next update planned? I would do it myself but the changes.txt for documentviewer is outdated.

[2021-06-11 11:25] melloware commented on #122
When I tried last time to upgrade the issue i mentioned above was still happening causing the font to be messed up.  I know they did a release recently but I haven't tried to upgrade it.

Is there some feature you need that is not in the current PDF viewer?

[2021-06-13 15:12] Cantfirmed commented on #122
Some browsers (eg. Firefox, IE) have problems with visible digital signatures. They get removed in the online viewer and they are also removed if you download them. I tested it with the newest pdf.js where it now works to display the signatures correctly.

[2021-06-13 16:29] melloware commented on #122
OK let me know because they previously had not supported digital signatures.

[2021-06-13 18:07] Cantfirmed commented on #122
They now show them but the signatures are not validated.
https://github.com/mozilla/pdf.js/pull/13214

[2021-06-14 12:51] melloware commented on #122
Looks like that feature its not in an official release yet as latest released was 2.8.335 on Apr 5 and this was merged on April 10th.

[2021-06-14 13:40] OBreidenbach opened #441 "CKEditor: wrong default value for shiftEnterMode"
**Describe the bug**
With https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/779 the enterMode and shiftEnterMode attributes have been introduced.
The ckeditor default for shiftEnterMode is CKEDITOR.ENTER_BR.
Primefaces Extension uses CKEDITOR.ENTER_P as default for shiftEnterMode.
Primefaces Extension should not change the default settings of the ckeditor.

[2021-06-14 13:42] melloware commented on #441
I think I originally defaulted to "P" to make it consistent with existing behavior.  I can definitely change it.

[2021-06-14 13:45] OBreidenbach commented on #441
Defaults in ckeditor are:
enterMode = CKEDITOR.ENTER_P
shiftEnterMode = CKEDITOR.ENTER_BR
See:
https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_config.html#cfg-enterMode
https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_config.html#cfg-shiftEnterMode

[2021-06-14 13:45] melloware commented on #441
Perfect.  Updating now for 10.0.2

[2021-06-14 13:46] #441 closed, assigned to melloware

[2021-06-14 13:47] OBreidenbach commented on #441
Is there already a release date planed for 10.0.2?

[2021-06-14 13:47] melloware commented on #441
Nope I can make one whenever we want.   Would you prefer one today?

[2021-06-14 13:49] OBreidenbach commented on #441
That would be great. Then I can use it right away and does not have to fix the bug in our code.

[2021-06-14 13:50] melloware commented on #441
OK let me do some testing today and I will push a Maven Central 10.0.2 today.

[2021-06-14 14:23] melloware commented on #441
OK it looks like 10.0.2 is in Central!

[2021-06-14 16:45] melloware commented on #122
And you are right the structure of PDF.JS has changed significantly so our old upgrade instructions are completely irrelevant

[2021-06-15 05:37] Cantfirmed commented on #122
Ah, true that's my bad. I just cloned the repo and forgot to check the actual releases. The feature is already in the pre-release but I guess you want to wait for the actual release?

[2021-06-15 14:27] melloware commented on #122
I spent about an hour trying to upgrade to v2.9.359 and it is fighting me.  Feel free to take a crack at it...i will gladly accept a PR.

[2021-06-15 15:07] melloware commented on #131
@ssibitz @balta3 are either one of you going to submit a PR for this if not I will close the ticket.

[2021-06-23 22:29] jxmai opened #451 "Showcase: Orgchart - font awesome icon does not appear on hover"
This issue would be more like a discussion.

In the showcase, https://www.primefaces.org/showcase-ext/sections/orgchart/basicUsage.jsf

If we hover on the node, there's no green arrow icon to indicate which node can be collapsed / expanded. This looks like a broken component from the UI perspective. I think part of the reason is that we removed the font awesome support from https://github.com/prim

[2021-06-24 11:57] melloware commented on #451
What we have done for other PF components is add CSS to allow for use of PrimeIcons which is now built into PF 10.0. @jepsar and I have done that for TimePicker already for example.  Let me look and see if we can fix OrgChart.

[2021-06-24 12:07] melloware commented on #451
I see what you mean the orgchart lib itself is hardcoded for FA like...

[code]

So what I will do is add FontAwesome to the Showcase using external FontAwesome like here:: https://primefaces.github.io/primefaces/10_0_0/#/core/fonticons?id=fontawesome-5x-or-higher

[2021-06-24 12:25] #451 closed, assigned to melloware

[2021-06-24 12:25] melloware commented on #451
OK I fixed it by adding FontAwesome to the showcase and now that example looks fine again.

[2021-06-24 13:14] jepsar commented on #451
Shouldn't we document this in the showcase?

[2021-06-24 13:25] melloware commented on #451
Maybe on the main org chart page?

[2021-06-24 13:57] melloware commented on #451
I added a note to the main page this this component requires FontAwesome.

[2021-06-24 14:58] jepsar commented on #451
I modified it a bit to make clear that the user needs to load it.

[2021-06-24 14:59] melloware commented on #451
Excellent.

[2021-06-24 18:00] jxmai commented on #451
Nice! That's awesome that font-awesome can be loaded separately still after the built-in one be removed. Really quick on updating the documentation and code changes. Thanks!

[2021-06-28 14:43] jepsar opened #457 "New component: Scaffolding"
To work with skeletons more easily.

Example:

[code]

See also https://discord.com/channels/787967399105134612/787969344768311296/859078890022371348

[2021-06-29 12:14] jepsar commented on #457
I'm looking for more appropriate names / terms. How about:

[code]

[2021-06-29 12:48] melloware commented on #457
I actually like a combination of your two options. I like scaffolding but I like your facet names originally better.

[code]

[2021-06-29 12:51] melloware commented on #457
I wonder if we should also add some option to actually trigger and AJAX request after page load similar to how `p:outputPanel` has the `deferred=true` and `deferredMode` https://primefaces.github.io/primefaces/10_0_0/#/components/outputpanel?id=outputpanel

So that way it will automatically trigger what replaces the skeleton?

[2021-06-29 14:09] jepsar commented on #457
Yes! That will be the next step. That will make using skeletons a lot more useful in the JSF world.

[2021-07-01 12:29] Rapster opened #461 "New Component: Image Zoom"
**Is your feature request related to a problem? Please describe.**
Need a zoomable component for viewing images. Should be as useful as` p:graphicImage`/`p:galleria`

**Describe the solution you'd like**
https://fengyuanchen.github.io/viewerjs/ (5.9k stars, still maintained)

[2021-07-01 12:34] melloware commented on #461
This could also replace this ticket which has been out there for 6 years....

https://github.com/primefaces/primefaces/issues/61

So it may kill 2 birds with 1 stone!

[2021-07-01 12:49] jepsar commented on #457
@stolp suggested to use a boolean instead of an object to distinguish between loading and ready.

https://discord.com/channels/787967399105134612/787969344768311296/860137280076120064

[2021-07-11 11:59] #457 closed, assigned to jepsar

[2021-07-12 12:25] jepsar opened #472 "Scaffolding: renders ready twice without MOVE_SCRIPTS_TO_BOTTOM"

[2021-07-12 13:19] #472 closed, assigned to jepsar

[2021-07-15 09:11] jepsar opened #478 "Scaffolding: add option to load data when the component is scrolled into view"

[2021-07-19 19:13] jepsar commented on #478
This would require introducing a widget and trigger loading from the client side.

[2021-07-19 19:14] melloware commented on #478
I figured it would since it has to be triggered by JS code.

[2021-07-27 13:41] Phipsee opened #486 "PrimeFacesScriptProcessor: Uncaught Synatx Error, Primefaces.settings rendered in SPAN"
When using the PrimeFacesScriptProcessor according to the [Showcase](https://www.primefaces.org/showcase-ext/sections/utils/combinedResourceHandler.jsf) you can see in the WebDev-Console "Uncaught SyntaxError: Unexpected token '<'" and when inspecting the webpage you see that the "Primefaces.settings"-Part is inside of a SPAN-tag, which seems to be the cause of the
error. In the Showcase itself it

[2021-07-27 13:42] melloware commented on #486
I will investigate this. Thanks for reporting!

[2021-07-27 14:06] melloware commented on #486
@Phipsee are you also using in your web.xml...

[code]

And if not can you try it?

[2021-07-27 19:52] #486 closed, assigned to melloware

[2021-07-28 05:41] Phipsee commented on #486
@melloware
No I am not using it. When I enable it, the Primefaces.settings seem to get lost..

[2021-07-28 06:08] Phipsee commented on #486
I just tried your fix and I got the exception for the duplicated id.

I kicked also the first id which got me left with the method like this:

	        final UIOutput js = new UIOutput();
	        js.setRendererType("javax.faces.resource.Script");
	        final UIOutput content = new UIOutput();
	        content.setValue(script);
	        js.getChildren().add(content);
	        context.getViewRoo

[2021-07-28 12:00] melloware commented on #486
I have verified your fix and implemented it!  Thanks!

[2021-07-31 14:25] jepsar commented on #478
[code]
gives me this JS error:
[code]
I don't get why, as `p:outputPanel` is doing the same:
https://github.com/primefaces/primefaces/blob/d8acc5196925c234c69c143036b02619a72d0eb9/src/main/resources/META-INF/resources/primefaces/outputpanel/outputpanel.js#L92

[2021-07-31 15:39] melloware commented on #478
So its failing here: `var scrollParent = widget.getJQ().scrollParent();`

What is `this.jq` of your widget?  Whatever it is it must not have a scrollParent so its not a DIV?

[2021-08-01 08:43] jepsar commented on #478
So, I was missing `@ResourceDependency(library = "primefaces", name = "jquery/jquery-plugins.js")`

[2021-08-01 12:12] #478 closed, assigned to jepsar

[2021-08-01 16:47] djmj opened #490 "QrCode - add style, styleClass attributes"
It would be nice if we can generate the qrCode image with a higher resolution than actual rendering it with css to support zoom-in on mobile. For this style or styleClass attributes are required.

`<pe:qrCode size="400" style="width: 200px;">`

[2021-08-01 17:41] jepsar commented on #490
FYI With PrimeFaces 11 and up you can render QR codes as SVG. See https://github.com/primefaces/primefaces/issues/7101

[2021-08-02 12:19] #490 closed, assigned to melloware

[2021-08-02 12:19] melloware commented on #490
Added for 10.0.3

[2021-08-05 09:18] aripddev opened #494 "CreditCard: Using Month Picker feature of Primefaces for expiry"
**Is your feature request related to a problem? Please describe.**
Nope, but improvement

**Describe the solution you'd like**
I would like to use Month Picker feature of Primefaces DatePicker component by implementing java.time.YearMonth class,
in order to simplify backend comparison for expired cards instead of parsing string expireMonth and expireYear.

**Describe alternatives you've considered

[2021-08-05 11:46] melloware commented on #494
Let me try and get this working.  The Card component definitely has its own JS running on that input box to format the date but let me see what I can do.  Not sure it will be possible since DatePicker uses a hidden Input etc and the JavaScript collisions that might occur.

[2021-08-05 11:52] melloware commented on #441
Attachment for Forum Post:
https://forum.primefaces.org/viewtopic.php?f=14&t=68174

Attachment:
[pfe-ckeditor.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6938369/pfe-ckeditor.zip)

[2021-08-05 16:03] aripddev commented on #494
I think that's the reason why i couldn't make it work

[2021-08-09 15:35] melloware commented on #486
10.0.3 is in Maven Central now...

[2021-08-09 16:35] smckeetx opened #498 "Layout: On page load the page renders prior to the CSS being applied"
The pages initially load with all text and images but not properly laid out. Then it all snaps in to place. This works perfectly in PF 8.

Appears to be related to the switch from p:layout to pe:layout.

Initially opened this as a bug with PrimeFaces but they have redirected me here.

Have attempted various CSS/jQuery tricks to delay display of page until fully rendered but none work.

![Jolt_effe

[2021-08-09 16:49] melloware commented on #498
Can you provide your exact XHTML or a PrimeFaces Test reproducer: https://github.com/primefaces/primefaces-test

Our showcase uses Layout and the Jquery trick and does not seem to have the issue: https://www.primefaces.org/showcase-ext/views/home.jsf

[2021-08-09 17:40] smckeetx commented on #498
This is the default template. These pages are part of a complex application that doesn't lend itself to a simple demo. I've tested it without the JavaScript that appears at the bottom and the problem persists. It has also be tested with all the DIVs converted to p:layoutPanels.

`<!DOCTYPE html>
<html lang="en"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:c="http://xmlns.jcp.org/jsp/jstl/cor

[2021-08-09 17:42] melloware commented on #498
From looking at your code why is `fullPage="true"` when your layout is the only thing in your page?

[2021-08-09 17:44] melloware commented on #498
Also our Showcase uses MOVE_SCRIPTS_TO_BOTTOM and the jquery trick.  Can you compare what is different and why our Showcase works properly and yours does not?

[2021-08-09 17:52] smckeetx commented on #498
fullPage="true" is a left over from the p:layout we used with PF 8 but since true is the default now I'm not sure it should make a difference.

I tried MOVE_SCRIPTS_TO_BOTTOM and the jQuery trick referenced here https://forum.primefaces.org/viewtopic.php?f=3&t=60583&p=185873 as recommended by Burak Unsal at PrimeFaces to no avail. What seems to be happening is the layoutPane gets converted to a di

[2021-08-09 17:56] melloware commented on #498
it should not because the whole HTML node is not displayed making all its children invisible with this CSS.

[code]

There is no way anyting can be displayed inside the main HTML node if the whole thing is not currently visible.  Are you sure you applied the Jquery trick properly?

[2021-08-09 17:58] smckeetx commented on #498
I will give it another shot but I believe I did. As a test I even left off the resetting of it so that the page should have remained blank at the end.

[2021-08-09 18:00] melloware commented on #498
yeah because the PF showcase is a fullpage Layout pane with the jquey trick and its rendering correctly.

Our global.css
[code]

JS code in our template.xhml
[code]

[2021-08-09 18:26] smckeetx commented on #498
I believe I have implemented this correctly and have intentionally commented out the setting of the visibility attribute to visible and it is all quite visible and the page still initially renders improperly.

![image](https://user-images.githubusercontent.com/10233004/128755632-779c40f7-a27c-417e-a38b-fe3c9498c473.png)

But when you get down to the pe:layoutPane with an ID of topPane its visibili

[2021-08-09 18:54] melloware commented on #498
Yep this reproducer proves it:
[pfe-498.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6956731/pfe-498.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml verifies what you are seeing.

[2021-08-09 19:22] melloware commented on #498
OK can you try this reproducer it includes a patched layout.js that fixes this problem.
[pfe-498-fixed.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6956879/pfe-498-fixed.zip)

[2021-08-09 19:48] smckeetx commented on #498
That worked! Is there an ETA for 10.0.4?

[2021-08-09 19:49] melloware commented on #498
No I just release 10.0.3 this morning so no ETA for 10.0.4 yet but you should be able to use that patch I sent in your project in the meantime.

[2021-08-09 19:49] smckeetx commented on #498
Yes we can. Thanks!

[2021-08-09 19:51] #498 closed, assigned to melloware

[2021-08-13 04:08] jxmai opened #500 "Layout: Layout shift - inner components are rendered before the layout"
**Describe the bug**
Inner components in layout can be rendered ahead of the layout itself causing layout shift.

**Reproducer**

[primefaces-test.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6979771/primefaces-test.zip)

Main xhtml:

[code]

**Environment:**
 - PF Version: _10.0_

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn clean jetty:run`
2. Go to http

[2021-08-13 11:12] melloware commented on #500
I think this is the way the PFE layout has always worked.  Because its a years newer version than the old PF one it supports responsive displays so I believe it is rendering the inner panels first to know for responsiveness and screensize whether they should start open or not.  @GedMarc any thoughts?

[2021-08-13 11:19] melloware commented on #500
@jxmai Can you try this version:
[pfe-500.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6982254/pfe-500.zip)

It implements MOVES_SCRIPTS_TO_BOTTOM and a Jquery trick from this ticket:  https://github.com/primefaces-extensions/primefaces-extensions/issues/498

[2021-08-13 11:56] melloware commented on #500
Updated reproducer:
[pfe-500-updated.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/6982256/pfe-500-updated.zip)

[2021-08-13 16:10] jxmai commented on #500
Thanks @melloware. The updated reproducer is working fine. It was not intuitive to make this work so that's awesome to know such trick. I put a summary of what has changed in the reproducer compared to the original file

1. Include the following layout.js with the fix below

https://github.com/primefaces-extensions/primefaces-extensions/commit/59a9d5a0b2af3c52d9600ecb34b6d6e36f3784c7

2. Using:

[

[2021-08-13 16:10] #500 closed, assigned to melloware

[2021-08-13 16:15] melloware commented on #500
Thank you for documenting. The layout fix i had to make will be in 10.0.4

[2021-08-14 12:20] melloware opened #501 "CreditCard: Bump JS 2.5.4"
Bump to 2.5.4 JS lib.

[2021-08-14 12:20] #501 closed, assigned to melloware

[2021-08-16 14:07] jepsar opened #503 "Scaffolding: deprecate component"
As it will be available in PF 11 https://github.com/primefaces/primefaces/issues/7712

[2021-08-16 14:12] melloware opened #504 "PrinterBehavior: Remove"
Incubated and will be in PF11.0 so we can remove ours

[2021-08-16 18:44] rider87 opened #505 "Scaffolding: not working with Ajax requests"
Hi all,

According to: https://discord.com/channels/787967399105134612/787969344768311296/876852007787433984

pe:scaffolding is working in the first tab of a p:tabView as expected.
But if you navigate to the **second** tab, the "loader" function from pe:scaffolding is never invoked and it will be always in the loading state.

Please find a code snippet:

[code]

[code]

[2021-08-17 12:25] #505 closed, assigned to jepsar

[2021-08-19 19:10] melloware commented on #498
10.0.4 is in Maven Central now!

[2021-08-19 19:11] melloware commented on #500
10.0.4 is in Maven Central now!

[2021-08-19 19:22] smckeetx commented on #498
Thanks
________________________________
From: Melloware ***@***.***>
Sent: Thursday, August 19, 2021 2:11:03 PM
To: primefaces-extensions/primefaces-extensions ***@***.***>
Cc: Shawn McKee ***@***.***>; Author ***@***.***>
Subject: Re: [primefaces-extensions/primefaces-extensions] Layout: On page load the page renders prior to the CSS being applied (#498)

10.0.4 is in Maven Central now!

—
You ar

[2021-08-20 07:44] jepsar opened #510 "Scaffolding: remove component"

[2021-08-20 10:00] jepsar opened #511 "InputPhone: country dropdown is clipped in p:dataTable"
<img width="504" alt="Screenshot 2021-08-20 at 11 58 36" src="https://user-images.githubusercontent.com/7500178/130216678-c720cada-63b1-486d-bd48-5761c120f0b4.png">

[2021-08-20 10:10] jepsar commented on #511
It is caused by this CSS rule from the components CSS:

[code]

For sure I cannot fix that in the `InputPhone` component, and I doubt it should be changed in the PF CSS. @sqores WDYT?

I'm closing this issue here. Can be overridden in your local project if needed.

[2021-08-20 10:10] #511 closed, assigned to jepsar

[2021-08-22 12:08] melloware commented on #498
cc @GedMarc in case you were interested in seeing this hack i had to make.

[2021-08-22 17:43] GedMarc commented on #498
I'm wondering if this can be solved with the live resize option actually, but the problem here is actually the ordering of the output, I think -

The layouts are actually calculations in JS, very very little CSS in that regard - there were a lot of reasons for this CSS1, IE678, Multi Browser compatibility etc. Also a very bothersome problem IOS and CSS which denied a lot of the wanted functionalit

[2021-08-25 07:51] ivy-cst commented on #122
We have the same bug as here: https://github.com/wojtekmaj/react-pdf/issues/819.
With Chrome 92 and up some pdf's are not rendered correctly with the current included pdf.js.
The upgrade to pdf.js v2.9.359 would fix our problems.

[2021-08-25 10:40] barsk opened #515 "Layout: Wrong URL to jQuery documentation"
The external link for "Overview of Layout Options" points to
http://layout.jquery-dev.net/documentation.cfm#Options
This gives an 404 error, document not found.

Should be changed to:
http://layout.jquery-dev.com/documentation.cfm#Options

[2021-08-25 12:02] melloware commented on #122
@ivy-cst thanks for reporting.  Yuck!   Upgrading this library is quite difficult and since we use it in an IFRAME the last time I tried to upgrade it the Font would not appear.  I will put this on my list to try and upgrade.

[2021-08-25 12:06] #515 closed, assigned to melloware

[2021-08-25 12:06] melloware commented on #515
Thanks for reporting I have fixed it in Git and it will be pushed on next Showcase deploy! I also updated the ChangeLog URL to point at the fork we are using: https://github.com/GedMarc/layout

[2021-08-25 18:11] melloware commented on #122
OK man this was a lot of hacking but I think I got everything working with the latest PDF.js: 2.9.35.

I published a 10.0.5-SNAPSHOT of PFE if you want to give it a try...

You will need this in your pom.xml to reach the Sonatype Snapshots...
[code]

[2021-08-25 18:12] #122 closed, assigned to melloware

[2021-08-26 13:02] melloware opened #517 "CombinedResourceHandler: MyFaces ParseError in Dev Mode"
**Describe the bug**
@tandraschko I have attached this reproducer:
[pfe-combinedresourcehandler.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/7059882/pfe-combinedresourcehandler.zip)

To get the issue run the reproducer `mvn clean jetty:run -Pmyfaces23` with JSF mode **Development** and press the "Update" button twice.  On the second press you will see this in the conso

[2021-08-26 13:07] tandraschko commented on #517
no exception, stracktrace and so on?

[2021-08-26 13:08] melloware commented on #517
This is what I have in the console...

[code]

[2021-08-26 13:11] melloware commented on #517
When I run PFE showcase locally with `mvn clean jetty:run` and go to the TimePicker example and press the Submit button twice I get this stack trace from Myfaces.

[code]

[2021-08-26 13:17] tandraschko commented on #517
ok
DuplicateIDCheck is not active in production for performance reason

[2021-08-26 13:18] melloware commented on #517
Yep that makes sense so it works. is there a way to disable it in Development mode as well?

[2021-08-26 13:24] tandraschko commented on #517
i dont think so

can you try to remove the "content" panel from js? will the same error be thrown?

[2021-08-26 13:26] tandraschko commented on #517
when you check MF UIViewRoot#addComponentResource, we only generate a unique for that component, not for childs
that might be the problem

if yes -> a unittest in MF would be great + fix

[2021-08-26 13:28] melloware commented on #517
Ahhh yep that might be the issue. Let me look into it.

[2021-08-26 13:31] melloware commented on #517
Before when I was manually setting an ID both Mojarra and Myfaces turn it into a SPAN like..

[code]

So I had to remove the ID's from this to let it generate the script properly without the SPAN

[code]

[2021-08-27 04:12] jxmai commented on #500
Sounds good. Thanks for letting me know!

[2021-08-27 09:45] ivy-cst commented on #122
Thank you very much. Great job. Works now with newest browsers. Would it be possible to patch that down to 7.0.x and 8.0.x? I patched 7.0.3 (the version we currently use) by hand and it did also work.

[2021-08-27 11:04] melloware commented on #122
We are a small project here so I typically don't backport fixes to older versions and publish them to central.  We typically just always work on the latest version but as you saw patching it yourself is not too bad.

[2021-08-28 13:33] melloware commented on #517
OK @tandraschko here is what I have discovered in my research and settled on because I don't know exactly what is wrong in MyFaces or MAY NOT BE WRONG it could be wrong in Mojarra who knows. But...

1. We know Mojarra does not want an ID set on the JS when calling `UIViewRoot.addComponentResource` as reported in this ticket: https://github.com/primefaces-extensions/primefaces-extensions/issues/486

[2021-08-28 14:06] #494 closed, assigned to melloware

[2021-08-28 14:07] melloware commented on #494
OK I got it working with a little JS Magic.

1. You need to mark the `expiry` inputtext as `display:none` to hide it on the page but keep it there.
2. Use MonthPicker and use JS code to set the value of the `expiry` field when a month is selected.

[code]

`$('#expiry').val(PF('monthPicker').input.val());` sets the hidden input to the value from the MonthPicker.

`$('#expiry')[0].dispatchEvent(new

[2021-08-28 15:09] melloware commented on #122
Anyone watching this ticket this is now in Maven Central as 10.0.5

[2021-08-28 16:50] melloware commented on #494
You can see it in Action here: https://www.primefaces.org/showcase-ext/sections/creditcard/basicUsage.jsf

[2021-09-02 12:35] OBreidenbach opened #525 "CKEditor: Upgrade to 4.16.2"
**Describe the bug**
The maven owasp:dependency-check finds the following vulnerables:
resources-ckeditor-10.0.5.jar: ckeditor.js (pkg:javascript/ckeditor@4.16.0) : CVE-2021-32808, CVE-2021-32809, CVE-2021-37695

This things are fixed in ckeditor 4.16.2.
Until ckeditor is not upgrade to 5 #288, it should be upgrade to 4.16.2.

[2021-09-02 13:03] melloware commented on #525
Thanks for the heads up!

[2021-09-02 16:42] #525 closed, assigned to melloware

[2021-09-02 16:43] melloware commented on #525
OK I think I upgraded correctly.  10.0.6-SNAPSHOT is available on Sonatype OSS.

[code]

[2021-09-03 10:03] OBreidenbach commented on #525
@melloware Thanks for the quick action.

I tried it and I got an error, because the following url is not correct:
.../javax.faces.resource/ckeditor/plugins/copyformatting/?ln=primefaces-extensions&v=10.0.6-SNAPSHOT&e=10.0.6-SNAPSHOTstyles/copyformatting.css

In ckeditor in lines 864, 865 CKEDITOR.getUrl() is missing for styles/copyformatting.css

[2021-09-03 11:00] melloware commented on #525
Awesome let me fix. Let me know if you see any others!

[2021-09-03 11:26] OBreidenbach commented on #525
Until now it is the only one.

[2021-09-03 13:26] melloware commented on #525
OK pushed a new SNAPSHOT!   I think I modified the ResourceModifier to catch this scenario in the future where there is a LF in the middle of that CSS call we replace.

[2021-09-03 14:43] OBreidenbach commented on #525
The bug is fixed and I did not find any other prolem.

[2021-09-03 16:31] melloware commented on #525
Thanks for testing!

[2021-09-05 10:06] jepsar opened #529 "LightSwitch: render UI for light and dark + click to toggle"
Facets is probably ideal for this.

[2021-09-06 09:47] OBreidenbach commented on #525
@melloware Do you have already plans for a new release?

[2021-09-06 11:31] melloware commented on #525
I had no official plans but I can do a new release soon.

[2021-09-06 11:32] OBreidenbach commented on #525
That would be nice.

[2021-09-06 12:20] melloware opened #534 "DocumentViewer: Compress JS resources"
**Is your feature request related to a problem? Please describe.**
Currently the PDF.js code is not compressed and it is quite large.  Compressing it will improve load time.

[2021-09-06 12:23] #534 closed, assigned to melloware

[2021-09-06 12:24] melloware commented on #529
@jepsar any chance you want to get this in 10.0.6 ?

[2021-09-06 12:29] jepsar commented on #529
Feel free to release 10.0.6. I will be offline the coming days.

[2021-09-08 12:32] sdemirhan2478 opened #537 "MonacoEditor: Add diff editor"
Can diff editor be added for monaco editor.
thanks.

[2021-09-08 12:55] melloware commented on #537
I don't think it comes out of the box with Monaco. See: https://github.com/microsoft/monaco-editor/issues/2332

cc @blutorange

[2021-09-08 12:59] blutorange commented on #537
He contacted me via email, I told him should open a feature request here : ) Monaco editor does come with a diff editor:

![image](https://user-images.githubusercontent.com/2456413/132513252-93806d14-89aa-4571-bd82-2ba016bd984a.png)

There are a few things to work out, such as how the Java and XHTML API should look like, but for the most part, it's just calling a different function when creating t

[2021-09-08 13:00] melloware commented on #537
OK I assigned to you.

[2021-09-10 18:00] melloware opened #540 "ThemeAccentColorResourceHandler: Move to application package"
**Is your feature request related to a problem? Please describe.**
all of our other ResourceHandlers are in the `.application` package i would like to keep it consistent.

cc @jepsar

I am fixing it now.

[2021-09-10 18:05] #540 closed, assigned to melloware

[2021-09-20 15:16] christophs78 opened #548 "MonacoEditor: add @ResourceDependency(library = "primefaces-extensions", name = "primefaces-extensions.js")"
XHTML includes
[code]

JS throws an error:
![image](https://user-images.githubusercontent.com/10461942/134026699-df8b937b-bcc2-4d6a-a5c7-5f5d0fbddf78.png)

MonacoEditor-JS references PrimeFacesExt.VERSION
https://github.com/primefaces-extensions/primefaces-extensions/blob/07e5b09daa9dd56f228035352bb14a870cd8ef39/core/src/main/resources/META-INF/resources/primefaces-extensions/monacoeditor/01-monac

[2021-09-20 15:17] melloware commented on #548
HA nope let me fix

[2021-09-20 15:20] #548 closed, assigned to melloware

[2021-09-21 19:11] melloware opened #550 "Core: Standardize hidden input fields"
See: https://github.com/primefaces/primefaces/issues/7851

Use the new `CoreRenderer.renderHiddenInput` method for all hidden inputs in renderers.

- [x] GChartRenderer
- [x] InputPhoneRenderer
- [x] LayoutRenderer
- [x] SheetRenderer

[2021-09-23 05:36] jepsar opened #552 "FAB: deprecate"
As PrimeFaces now has `SpeedDial`

[2021-09-23 05:37] jepsar opened #553 "FAB: remove"

[2021-09-23 12:04] melloware commented on #552
When we deprecate don;t forget to update the Hall Of Fame page which I think is home.xhtml

[2021-09-23 12:05] melloware commented on #510
When we deprecate don;t forget to update the Hall Of Fame page which I think is home.xhtml

[2021-09-23 19:50] melloware commented on #525
10.0.6 is in Maven Central now.

[2021-09-23 20:17] EltonR opened #557 "Document Viewer: component not rendering some PDF files correctly"
**Describe the bug**
Some files don't render correctly on component Document Viewer, althought they do render OK on PDF.JS
[2 POSTO TURMALINA III.pdf](https://github.com/primefaces-extensions/primefaces-extensions/files/7220610/2.POSTO.TURMALINA.III.pdf)

**Environment:**
 - PF Version: 10.0, Extensions 10.0.5, Java 8, Wildfly 10

**To Reproduce**
Steps to reproduce the behavior:
Open the link bel

[2021-09-23 21:48] melloware commented on #557
Your error in F12 console `Warning: JPX: Trying to recover from: "JPX error: Out of packets`

Your error is a Mozilla PDF.js error: https://github.com/mozilla/pdf.js/issues/11957

Looks like someone submitted a fix recently: https://github.com/mozilla/pdf.js/pull/13698 but it has not been released.  We are using the release from May 2021 and this bug was only fixed in the last couple of weeks and

[2021-09-23 21:49] melloware commented on #557
You can go upvote this issue for a new release: https://github.com/mozilla/pdf.js/issues/14001

[2021-09-28 18:01] #550 closed, assigned to melloware

[2021-09-28 18:12] #405 closed, assigned to melloware

[2021-09-28 18:29] #503 closed, assigned to jepsar

[2021-09-28 18:30] #552 closed, assigned to jepsar

[2021-09-28 18:33] #504 closed, assigned to melloware

[2021-09-29 16:08] VsevolodGolovanov opened #563 "Layout: dataTable with percentage scrollHeight is wrongly sized"
**Describe the bug**
dataTable with scrollHeight="100%" calculates its actual height wrong, resulting in overflow with no scrollbar and other problems of this nature.

**Reproducer**
[primefaces-extensions-layout-datatable-scroll-height.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/7253357/primefaces-extensions-layout-datatable-scroll-height.zip)

**Environment:**
 - PF

[2021-09-29 16:09] VsevolodGolovanov commented on #563
This worked perfectly with PrimeFaces 6.1 and Extensions 6.1.1. I suspect the jQuery document ready order change is to blame?

[2021-09-29 16:24] melloware commented on #563
Most likely that and the huge changes to the Jquery Layout since 6.1 the plugin has been upgraded a lot and forked.

See the fork: https://github.com/GedMarc/layout

Any help debugging this issue would be great.  Can you try removing the document.ready?

[2021-09-29 16:28] VsevolodGolovanov commented on #563
@melloware
Removing it where? I didn't mean any specific place, I was just guessing.

[2021-09-29 16:30] melloware commented on #563
OK let me look into this a little more

[2021-09-29 16:37] VsevolodGolovanov commented on #563
To narrow it down, the problem appeared when upgrading from 6.1+6.1.1 to 6.2.30+6.2.10.

[2021-09-29 16:39] melloware commented on #563
yes that definitely helps.

[2021-09-29 16:49] melloware commented on #563
I think its the new layout.js that is causing it.  You cn find out by extracting the old layout.js that worked in 6.1 and put it in your new JAR and try that.  Or override it locally that will tell me if that is the problem.  I have a feeling it is.

Or see this stack overflow how to just override the layout.js.  You basically just have to put it in the same spot in your WAR file.
https://stackove

[2021-09-29 18:35] VsevolodGolovanov commented on #563
Replaced the primefaces-extensions/layout/layout.js resource in the reproducer, but it doesn't work right:
![image](https://user-images.githubusercontent.com/8070317/135326443-561f2cfd-b7b1-4419-8024-f1772135e05f.png)

Replaced primefaces-extensions/layout/layout.css too, but then it's just white screen.

layout.js includes the ExtLayout widget as well. There were changes between it and the java c

[2021-09-29 18:47] melloware commented on #563
yes i think you are right.  A ton of work was done in both the JS and ome in the Java because of the responsive features and bugs fixed over the years.

[2021-09-29 18:47] melloware commented on #563
you might have to grab the code from 6.1 and replace your renderer in java and faces'config.xml and the JS files overrides.  Basically override the whole component back to 6.1 for your upgrade.

[2021-09-29 19:07] VsevolodGolovanov commented on #563
You mean to help localize the problem or downgrade as a permament solution? If the latter, then it seems weird to leave things broken like this - the problem is easily reproducible and, if layout is the cause, will probably affect other things concerned with sizing and positioning. Part of the reasons for my reporting and trying to fix things here is to avoid this maintenance burden of keeping for

[2021-09-29 19:10] melloware commented on #563
I was giving you a downgrade solution if you were going to PF10 or 11 and didn't want to hold your upgrade up because of this issue.  I think this could be difficult to debug.

If you do figure it out I am happy to merge your PR.  But I have to admit, I probably won't spend a lot of time trying to fix it since I have two use cases in Production and the PFE Showcase that use this Layout component w

[2021-09-30 11:37] VsevolodGolovanov commented on #563
Yes downgrading layout.js/css and java Layout, LayoutPane, LayoutPaneRenderer, LayoutRenderer - fixes the initial rendering (item 3 in the description).
Resizing by maximizing (item 5) or minimizing (and of course by dragging resizers) - is still a problem, but it was there in vanilla 6.1+6.1.1 as well - I forgot that I have my DataTable prototype overrides in the actual application, that make it

[2021-09-30 11:55] melloware commented on #563
I had to do the some thing in one of my production apps subscribe to the layout resize event.  So yeah most likely issue is that the latest Layout.js which has been modernized and made responsive and updated for Jquery 3.6.0 is the cause of this behavior difference.   Thanks for reporting back!

[2021-09-30 12:52] VsevolodGolovanov commented on #563
@melloware, debugged the cause. It's not related to jQuery layout at all. It's because of this: https://github.com/primefaces-extensions/primefaces-extensions/commit/44bd0b845f27860df54f3eaa0f8da9540fcb3542
The ExtLayout widget creating script used to be rendered first thing before the layout markup. After this change widget creation moved to the end, after all the layout markup. That means things

[2021-09-30 13:08] VsevolodGolovanov commented on #563
@melloware, just moving encodeScript to encodeBegin is not enough. Because the options are set by layoutPanes during their preRender. That's why this FastStringWriter was necessary - to buffer the rendered markup to write it after the widget. I guess you could collect options by visiting the layout panes instead of relying on preRender. That's would be quite a change though. Can we return the Fast

[2021-09-30 13:31] melloware commented on #563
sure submit a PR.  I think I was aligning it with what PF Layout was doing!   But makes sense to me!  I will happily test it with the PF showcase and merge if it looks good!

[2021-09-30 14:21] VsevolodGolovanov commented on #563
Submitted PR #566. To the 10.x branch - I think it's worth fixing there. Not sure if I should submit a separate PR to master?
Verified with the reproducer that it fixes item 3.

[2021-09-30 14:51] melloware commented on #563
Awesome let me look. I think its worth fixing in both I will pull in your PR and then I will merge it to 11.X master!  You rock.

[2021-09-30 14:55] #563 closed, assigned to VsevolodGolovanov

[2021-09-30 14:56] melloware commented on #563
OK this will be in 10.0.7 and 11.0.0!  Thanks for the PR!

[2021-10-05 15:39] #557 closed, assigned to melloware

[2021-10-05 17:08] melloware commented on #557
OK this will be fixed in 10.0.7 and 11.0.0.  I verified your PDF above now renders correctly!

[2021-10-06 11:49] EltonR commented on #557
Thank you very much!

[2021-10-06 14:41] StevenHachel opened #574 "LayoutPane: Toggler cannot be hidden"
pe:layoutPane slider cant deactivated. is by attribute closable="false" slidable="false" always visible and usable.
It works perfectly with Primefaces 7.

**Environment:**
 - PF Version Elite: _8.0.13_
 - PF Extensions: 8.0.4
 - JSF Mojarra 2.1.29-11
 - javaEE: javaee-api 6.0
 - Affected browsers: Firefox, Chrome

**Example XHTML**
[code]

[2021-10-06 15:25] melloware commented on #574
I don't think I know what you mean.  Here is a reproducer:
[pfe-574.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/7295260/pfe-574.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/test.xhtml

I am using 10.0.0 both PF and PFE.

[2021-10-06 18:29] StevenHachel commented on #574
Hey,

her is my example with Primefaces 8. layoutPane attribute closable="false" dosent work.

[pfe-574_PF8.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/7296328/pfe-574_PF8.zip)

[2021-10-06 19:15] melloware commented on #574
OK yeah I see its broken in 8.0.4 but its fixed in 10.0.0 and 11.0.0.

[2021-10-06 19:17] melloware commented on #574
Your issue is this: https://github.com/primefaces-extensions/primefaces-extensions/issues/155

It works in 8.0 but not in 8.0.1/.2/.3/4

[2021-10-06 20:11] StevenHachel commented on #155
please fix it for version 8 as well. 😁

[2021-10-06 21:37] melloware commented on #500
I think we made the better fix here: https://github.com/primefaces-extensions/primefaces-extensions/issues/563

[2021-10-06 21:40] melloware commented on #574
I will see if I can cut an 8.0.5 release with this in it.  I think @jxmai and @VsevolodGolovanov wanted backports of Layout fixes as well and @EltonR and @ivy-cst wanted backports of DocumentViewer updates

[2021-10-07 09:02] StevenHachel commented on #574
very nice! :-D

[2021-10-07 11:32] melloware commented on #574
8.0.5 is now in Maven Central!  Let me know how it goes.

[2021-10-07 11:32] #574 closed, assigned to melloware

[2021-10-07 11:34] melloware commented on #500
8.0.5 is now in Maven Central

[2021-10-07 11:36] melloware commented on #122
I also just backported this and released PFE 8.0.5

[2021-10-08 08:06] StevenHachel commented on #574
Hello,

the bug it fixed, but now there is a problem with the internal css (layout/layout.css).
you have now added this:
[code]

That has to come out again so that the actual body background is not overwritten.
The versions 8.0./1/2/3/4 do not have these changes in the css. That looks weird and overwrites the actual body css of the page.

[2021-10-08 11:54] melloware commented on #574
Ahhh this is necessary for all the primefaces premium themes.  simply override them in your local CSS.

I don't plan on cutting any more 8.0x releases.

[2021-10-08 12:26] melloware commented on #574
You can actually just extract the layout.css from 8.0.4 and in your own project put it in the same location `/resources/primefaces-extensions/layout/layout.css` and when it gets loaded it find your version first instead of the one in the JAR file.

[2021-10-08 14:11] StevenHachel commented on #574
Override css works for me. thx for your work! :-)

[2021-10-12 08:13] jepsar opened #583 "New Component: Float label / Field"
Currently the float label is not supported on all input fields and the order of the rendered HTML is not accessible (label should be rendered before the input). To have the label first, JavaScript will be involved to toggle a class on a parent element.

[code]

Renders:

[code]

[2021-10-16 10:47] jepsar commented on #529
Maybe better to add facets to `p:toggleSwitch`. Seems to be more generic.

[2021-10-16 11:07] melloware commented on #529
So if you have widget methods available in JS code can't you just hook them up to ToggleSwitch `onclick`?  Or were you thinking you wanted it to be server side?

[2021-10-16 11:36] jepsar commented on #529
That is exactly what we currently do in the showcase. I was thinking of being able to use a sun and moon icon. But this could also be done with the toggle switch component, if it would have two facets.

[2021-10-16 11:51] melloware commented on #529
Maybe I am confused can't you just do this...

[code]

And in the `updateTheme` method flip from light to dark.  And you can use the sun and moon icons from this hack: https://github.com/primefaces/primefaces/issues/7901

[2021-10-16 17:12] jepsar commented on #529
In the showcase we simply do
[code]
I don't want use the default toggle switch UI, just the sun and moon icons. Anyway, I don't think it'll make sense to add that to this component. Having this in toggle switch or select boolean checkbox is better IMO.

[2021-10-16 19:20] melloware commented on #529
Understood!

[2021-10-16 20:37] #529 closed, assigned to jepsar

[2021-10-21 13:20] jepsar opened #601 "ColorPicker: add new component based on Coloris"
https://github.com/mdbassit/Coloris

[2021-10-21 13:25] tandraschko commented on #601
im -1 for introducing duplicate components but TBH i didnt use PFE anymore, so its up to you guys

[2021-10-21 13:39] jepsar commented on #601
If PrimeTek would include the missing features compared to Coloris, that would be awesome

[2021-10-21 19:29] melloware commented on #601
Coloris does look awesome though.  And it does RGB conversion too just not sure about HSB. I am looking at their code and I think it does.

[2021-10-22 11:54] melloware commented on #557
8.0.5 and 10.0.7 with this fix have been released to Maven Central.

[2021-10-22 11:57] melloware commented on #563
8.0.5 and 10.0.7 with this fix are in Maven Central.

[2021-11-02 01:50] djmj commented on #490
That sounds even greater!

[2021-11-02 13:10] MatthiasScherrerFGCZ opened #612 "Sheet: selectItems of SheetColumn evaluation on cell instead of column level"
XHTML:

[code]

[code]

### Use case:
In an excel sheet, only enabled values should be shown in the autocomplete. However, if in the future an instrument is/will be disabled, the autocomplete does not show said instrument anymore in the autocomplete, yet the current instrument still represents a valid selection. Therefore the method gets all the enabled instruments including the one already on the

[2021-11-02 14:23] melloware commented on #612
I don't think the way it is currently designed it can be done at the cell level.  I can take a look but I think this was done for performance because the way the sheet works all the JSON data is sent to the sheet up front and not per cell as you click on it.

[2021-11-02 14:50] MatthiasScherrerFGCZ commented on #612
@melloware
Thanks for the information. This was my initial thought. Thanks for looking into it.

[2021-11-22 09:31] albfernandez opened #631 "CKEditor: Upgrade to 4.17.1"
**Describe the bug**
CKEditor has released the 4.17.0 version that fixes two XSS vulnerabilities.

[Release notes CKEditor 4.17.0](https://ckeditor.com/cke4/release/CKEditor-4.17.0)
[CVE-2021-41164](https://github.com/ckeditor/ckeditor4/security/advisories/GHSA-pvmx-g8h5-cprj)
[CVE-2021-41165](https://github.com/ckeditor/ckeditor4/security/advisories/GHSA-7h26-63m7-qhf2)

[2021-11-22 12:06] melloware commented on #631
Excellent thank you for reporting!  I will try and upgrade this ASAP!

[2021-11-22 18:47] #631 closed, assigned to melloware

[2021-11-22 18:48] melloware commented on #525
@OBreidenbach please check out: https://github.com/primefaces-extensions/primefaces-extensions/issues/631

[2021-12-05 16:04] aripddev opened #640 "New component: Keynote"
I am thinking of adding HTML presentation component for JSF.
I'm not sure if we should use the name "keynote" or the original name "revealjs".
reveal.js is an open source HTML presentation framework. It's a tool that enables anyone with a web browser to create fully-featured and beautiful presentations. It can be accessed from https://revealjs.com.

[code]

Renders
[code]

[2021-12-05 18:02] melloware commented on #640
OK this is pretty slick.  I would vote for Keynote or SlideDeck.   KeyNote reminds people of Apple's product and PowerPoint is a lame name :)

[2021-12-05 19:07] aripddev commented on #640
I will go on with Keynote then.

[2021-12-06 13:51] jepsar commented on #640
Why should this be a component instead of plain JavaScript? See also the discussion at #124

[2021-12-07 13:20] aripddev commented on #640
@jepsar thanks, i read the discussion. Do you think it is not necessary or does it need improvement like database interaction?
Actually i thought this to use for one of my projects. Instead of providing a guide or an user manual provided by customer (uploading/downloading power points), they can prepare an HTML presentation.

[2021-12-07 14:41] jepsar commented on #640
@aripddev I appreciate your work, but I don't really see the point if it being a component. Unless maybe there are events that need to be decoded. I think you can achieve the same by simply render the needed HTML and initialize Reveal. Or did you run into issues while doing that?

[2021-12-08 10:32] jepsar commented on #640
By the way, the whole "database" thing is a non arg in the other issue.

[2021-12-08 11:49] aripddev commented on #640
@jepsar I didn't think about it but you gave me a good idea about "event". In my case, i can use an "event" to check if user complete to read the slides. After reading slides is complete, the form or button can be submitted. What do you think?
Currently I use "disabled" and "rendered" attributes with bean properties.

[2021-12-08 12:37] jepsar commented on #640
Yeah, Reveal has some events that can be included.

Also, I would have done:

[code]
instead of
[code]
so you can use the `rendered` attribute on the slides.

[2021-12-08 12:39] jepsar commented on #640
@melloware why did you use the 12.0.0 milestone? It can be added to 11.0.x, right?

[2021-12-08 12:47] aripddev commented on #640
@jepsar :) I already did it as `pe:keynoteItem`. I changed it in the first post.

[2021-12-08 13:04] melloware commented on #640
I didn't think this component would be complete and tested in time.  PrimeTek was supposed to release 11.0.0 on Monday but did not so maybe today.

[2021-12-08 20:15] jepsar commented on #640
Okay, but we can release it with 11.0.1 or 2

[2021-12-08 20:16] melloware commented on #640
oh yeah of course.  I just marked it for 12.0.0 right now so it wasn't in 11.0.0

[2021-12-08 20:16] melloware commented on #640
I just moved it to 11.0.1.

[2021-12-13 13:14] melloware opened #651 "MonacoEditor: Upgrade to 0.31.0"
@blutorange you can see the latest Monaco is breaking the build:

https://github.com/primefaces-extensions/primefaces-extensions/runs/4506026898?check_suite_focus=true

No rush just if you have time to look at it.

[2021-12-13 14:53] blutorange commented on #651
The build output looks like the preprocessing script we use to make localization possible does some wrong replacements. Probably not too hard to fix, I'll take a look at it later

[code]

[2021-12-15 13:44] melloware commented on #651
I just merged 0.31.1

[2021-12-15 13:44] #651 closed, assigned to blutorange

[2021-12-16 06:46] rider87 commented on #640
Nice component...
If I see that right, you could use it also for a gallery (only show pictures) also ?

For me it would be also important, that everything can be loaded from database.
So you can have than two Entities:

**Keynote**
- Setting1
- Setting2

KeynoteItem
- HtmlContent
- Setting1
- Setting2
- ....

And those can be than use to fill the properties from Primefaces:
<pe:keynote setting1="v

[2021-12-16 06:54] jepsar commented on #640
@rider87 wait until it is merged and simply try `c:forEach`. Events have been taken care of (see PR).

[2021-12-17 19:35] #640 closed, assigned to aripdcem

[2021-12-17 19:39] melloware opened #659 "New Helper: Mongo DB Lazy Datatable implementation"
Thanks to Newk we will be adding a Mongo DB based `LazyDatamodel` similar to the `JPALazyDataModel` added in PF 11.

[2021-12-17 20:42] #659 closed, assigned to melloware, newk5

[2021-12-17 20:42] melloware commented on #659
OK committed I took Newk's code and looked at JPALazyDatamodel and made all the changes accordingly to align them

[2021-12-17 21:00] melloware commented on #640
Looks like we have some Sonar issues to clean up.

[2021-12-17 21:05] newk5 commented on #659
Looking good, I think you tagged a different newk though 😄

[2021-12-17 21:14] melloware commented on #659
Thanks for the donation

[2021-12-18 16:16] melloware commented on #659
@jepsar  We do all that lazy method all based on JPA example assuming Thomas did it all for good reasons.  Feel free to submit any improvements!

[2021-12-20 12:27] tandraschko commented on #659
should datasource really a var inside the model?
note that the lazydatamodel might get serialized, therefore i pass the entitymanager via a supplier

[2021-12-20 13:15] melloware commented on #659
OK @tandraschko @newk5 I just changed it to be SerailizedSupplier just like JPA does!

[2021-12-20 15:06] newk5 commented on #659
I thought since it was transient that serialization would not apply to it, but good idea regardless to have both JPA and Morphia datamodel constructors aligned.

[2021-12-20 15:08] tandraschko commented on #659
yep but it would be null on a postback

[2021-12-20 15:09] newk5 commented on #659
Ahh I see, I wasn't aware of that, good to know.

[2021-12-20 17:45] melloware commented on #659
Ok documentation added to showcase https://github.com/primefaces-extensions/primefaces-extensions/commit/f29099439733791e9c4504ccc81771cbaebd9032

[2021-12-24 11:44] jepsar opened #666 "CodeScanner: update zxing-js 0.18.6"

[2021-12-24 16:23] #666 closed, assigned to jepsar

[2022-01-05 14:30] melloware commented on #295
Linking: https://github.com/jakartaee/faces/issues/1565

[2022-01-05 15:09] jepsar opened #673 "CommandButtonSingleClickRenderer: deprecate"
Can be deprecated as PF12 has a `disableOnAjax` attribute. See. https://github.com/primefaces/primefaces/pull/8214

[2022-01-05 15:11] jepsar opened #674 "CommandButtonSingleClickRenderer: remove"
See #673

[2022-01-11 13:00] melloware opened #683 "MonacoEditor: Build Failing"
**Describe the bug**
The build is currently failing with this error... `Error: Non-zero exit code: 128 (git clone) (git://github.com/Microsoft/vscode-loc.git)`

[code]

cc @blutorange

[2022-01-11 18:11] blutorange commented on #683
Hmm, seems to be broken in general, not be specific to a certain commit... let me see... (unless you've found why already?)

[2022-01-11 18:25] #683 closed, assigned to blutorange

[2022-01-14 20:03] melloware opened #692 "Sheet: Column filterValue is doing get instead of eval"
**Describe the bug**
Sheet column `filterValue` is doing StateHelper `get` which is literal string instead of `eval` of the EL expression.

[2022-01-14 20:21] #692 closed, assigned to melloware

[2022-01-18 09:15] StevenHachel opened #693 "Layout: Uncaught TypeError: v is undefined"
**Environment:**
 - PF Version: 8.0.14
 - PrimeFaces Extensions 8.0.5
 - JSF version: 2.3.9
 - OmniFaces version: 2.7.14
 - JavaEE vesion: 8.0.1
 - WebLogic 14.1.1.0.0
 - Affected browsers: Chrome, Firefox

Since the switch to JavaEE8, JSF 2.3 and WebLogic 14, I have been getting this message for constellations that I cannot explain and the ajaxStatus also stops and does not set it to complete, so

[2022-01-18 13:02] melloware commented on #693
@StevenHachel  What version of PF 8.0.0 or an elite release?

[2022-01-18 13:40] StevenHachel commented on #693
@melloware PF 8.0.14 Elite. Sorry.
Updated first entry.

[2022-01-18 13:42] melloware commented on #693
OK let me see if I can reproduce.

[2022-01-19 21:29] melloware commented on #693
Attached is a reproducer run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

I can't reproduce.  I am using PF 8.0.5 with PF Elite 8.0.14.

[pfe-693.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/7900689/pfe-693.zip)

[2022-01-22 13:12] melloware commented on #693
@StevenHachel is it safe to close this ticket have you gotten to the bottom of your issue?

[2022-01-22 13:56] StevenHachel commented on #693
@melloware
Hello, I found something that may have an indirect connection, but is useful in my project.

It's about the <p:clientValidator event="keyup"/>. When using it, a JavaScript exception is always triggered.
[code]

Just type something in the field. Possibly that is also the trigger of the whole thing.

Profil: mojarra23
[pfe-693.zip](https://github.com/primefaces-extensions/primefaces-exten

[2022-01-22 15:12] melloware commented on #693
OK this is not Layout related its core PrimeFaces.  Please report the bug there.  I just tested and it's still a problem with 11.0.0 so this bug looks like it has been there for a while.

I am able to reproduce the same error with Layout removed entirely.  Just...

[code]

It looks like this is the problem..

[code]

[2022-01-23 16:28] melloware commented on #693
I will leave open until you create the issue over at PF and then I will link this issue to it.

[2022-01-24 09:18] StevenHachel commented on #693
@melloware
New issue is created. https://github.com/primefaces/primefaces/issues/8318

[2022-01-24 12:23] #693 closed, assigned to nobody

[2022-01-30 22:14] blutorange commented on #537
Quick update: this almost done now. Just need to do a quick review and test a little bit more.

If anybody wants to check it out, you can check out my branch and run the showcase. Any feedback or change requests before this is merged are welcome.

![image](https://user-images.githubusercontent.com/2456413/151720104-68584222-330c-4efd-a6bd-0f24ce0d5fa2.png)

[2022-01-30 22:27] melloware commented on #537
Awesome work!

[2022-01-31 13:44] melloware commented on #537
I added this to Milestone 11.0.1 i will release 11.0.1 with this fix was hoping Monaco would do a release as well so we can get your FreeMarker stuff in there as well!

[2022-02-01 15:11] melloware opened #704 "LightSwitch: Update to use PrimeFaces.env.getThemeContrast"
Switch to `PrimeFaces.env.getThemeContrast` for 12.0

See: https://github.com/primefaces/primefaces/pull/8354/files

[2022-02-02 09:16] jepsar commented on #264
I agree.. this will be a huge time drain

[2022-02-04 00:56] #537 closed, assigned to blutorange

[2022-02-04 12:50] melloware opened #710 "MonacoEditor: Add FreeMarker language and example"
Now that Monacoeditor 0.32 is released we need to add Freemarker to the list of languages and examples.

cc @blutorange

[2022-02-04 17:24] blutorange commented on #710
We don't need to add it in the sense that the `EditorOptions#setLanguage`  also takes a string, so it would already work by updating the monaco dependency.

But there's an enum for convenience, which should be amended, and we should also add a code example to the showcase.

[2022-02-04 17:32] melloware commented on #710
yep i saw the enum and figured we should update.

[2022-02-05 13:44] melloware commented on #710
I am messing around with it and it looks like its not highlighing my `$` directives only my `#` directives?

![image](https://user-images.githubusercontent.com/4399574/152644588-307d1e6f-d09b-4a9b-9b4e-d196584c6d86.png)

[2022-02-05 14:46] blutorange commented on #710
@melloware Iirc it's basically this:

colorful and displays many different token types in the same color, but keep in
mind that you can define your own theme (or extend an existing one).

The tokenizer splits this into different tokens, but the default theme simply doesn't specify any colors for those tokens. That's why I applied a custom theme to the demonstration I made before submitting it to t

[2022-02-05 15:07] melloware commented on #710
Ok yeah let me look at this because I will need to create light and dark themes for freemarker to show the syntax highlighted templates.

[2022-02-06 19:05] #710 closed, assigned to blutorange

[2022-02-07 16:12] melloware commented on #537
Can now be seen on the showcase: https://www.primefaces.org/showcase-ext/sections/monacoEditor/basicUsageDiff.jsf

[2022-02-10 15:08] ltlBeBoy opened #718 "MonacoEditor: Payara throws `ClassNotFoundException` on deployment"
**Describe the bug**
According to the [documentation](https://github.com/primefaces-extensions/primefaces-extensions.github.com/wiki/Getting-Started) for CKEditor, PDF Exporter and InputPhone I assume that the resources for MonacoEditor are optional and thus dont't have to be included in Maven configuration. But that results in a `ClassNotFoundException` during deployment on Payara:

[code]
|#]

[2022-02-10 15:23] jepsar commented on #718
CC @blutorange

[2022-02-10 15:28] melloware commented on #718
Yeah if Payara is scanning classes like that we should move as much of the Java code we can to the Monaco Resources JAR

[2022-02-10 16:02] ltlBeBoy commented on #718
When I add

[code]

then I get the following error on deployment:

[code]

[2022-02-10 16:06] jepsar commented on #718
Try 11.0.1. Diff was added there.

[2022-02-10 16:10] blutorange commented on #718
We could also make `resources-monacoeditor` non-optional. For CKEditor I believe it's a separate (and optional module) due to the license. But for Monaco editor it's just a separate module for internal structuring, so there's probably not much of a reason not to include it?

https://github.com/primefaces-extensions/primefaces-extensions/blob/master/core/pom.xml#L730

And yes, DiffEditorOptions was

[2022-02-10 16:16] ltlBeBoy commented on #718
I use 11.0.1. Because I had trouble with 11.0.0 and OmniFaces 3.13.

[2022-02-10 16:17] ltlBeBoy commented on #718
Ah, OK...Version 11.0.1 `resources-monacoeditor`...

[2022-02-10 16:21] ltlBeBoy commented on #718
Yes, it works with resources version 11.0.1. Thank you very much!

[2022-02-10 17:03] melloware commented on #718
We separate it also to make the JAR less huge for people that don't need Monaco it reduces the main JAR size with all that Monaco JS significantly.

[2022-02-10 17:04] melloware commented on #718
Monaco is a 3MB JAR.

[2022-02-10 17:21] melloware commented on #718
I will take this ticket and refactor for 11.0.2

[2022-02-11 15:08] ltlBeBoy opened #722 "Sheet: Exception `org.primefaces.shaded.json.JSONException: JSONArray[0] is not a JSONArray` on events `columnSelect` and `rowSelect`"
**Describe the bug**
I took a look at the sheet component. But a `JSONException` is thrown when a column or row is selected.

**Reproducer**
See showcase.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to _Sheet -> Ajax events_ in the showcase.
2. Click on a column header or a row number.
3. See error:

[code]

**Expected behavior**
Events are fired without exception.

[2022-02-11 15:13] ltlBeBoy commented on #722
Maybe because of #605?

[2022-02-11 16:31] ltlBeBoy commented on #722
I took a closer look at the source. And indeed the problem occurs due to the changes in #605:

- Clicking a single cell calls `SheetRenderer#decodeSelection(...)` once with an array of arrays (e.g. [[0,4,0,4]] for the first row and fourth column).
- Clicking a header/row calls `SheetRenderer#decodeSelection(...)` **three times**! First with an array of arrays (e.g. [[0,4,999,4]] for the fourth col

[2022-02-11 17:27] melloware commented on #722
Awesome let me fix it.

[2022-02-11 21:02] #722 closed, assigned to melloware, ltlBeBoy

[2022-02-11 21:03] melloware commented on #722
Take a look at my commit, I made it like yours but double check.

[2022-02-11 21:10] melloware commented on #718
I gotta think about this one some more.  CKEDitor is different because it doesn't import any classes.  MonacoEditor depends on some autogenerated classes from the resources JAR that is what is causing this class load issue.

[2022-02-12 09:38] ltlBeBoy commented on #722
Yes, it works as expected.
You could also remove the comment at row 841 `// data comes in array of arrays`. Because it's not always an array of arrays if the selection is a column / row. But that is nitpicking... ;-)

[2022-02-12 09:51] ltlBeBoy commented on #718
@blutorange Is it possible to add interfaces to the autogenerated classes? Then the interfaces would be imported, and the autogenerated sources would be the actual implementation.

[2022-02-12 10:14] blutorange commented on #718
Hmm, these interfaces still need to come from somewhere. If we generate them to `resources-monacoeditor`, that doesn't solve the issue. If we add them to `core` and maintain them manually, that kinda defeats the point of generating them automatically. If we somehow generate them into the `core` project, we might as well generate the actual classes into the `core` project. It would be possible to m

[2022-02-12 12:41] ltlBeBoy commented on #718
Yes, adding resources-monacoeditor to the pom solved the issue.

I like the idea of having separate jars for the extension components. There could be a `primefaces-ext-core` and then `primefaces-ext-monacoeditor`, `primefaces-ext-ck-editor`, `primefaces-ext-...`.
How it is planned for a sheet pro version: #152

[2022-02-12 12:48] melloware commented on #718
I think I have a trick that will work that we have used in PrimeFaces core before.  It goes like this...

1. We move all Monaco `.model` classes to the Monaco Resources JAR project.
2. That leaves only the `.component` classes in core.  Then in those `.component` classes we don't use `import` statements.

Instead of...
[code]

It would switch to...

[code]

Basically the classloaders like Payara a

[2022-02-12 13:48] blutorange commented on #718
That sounds like it could work, but it feels like quite the hack and rather fragile: no guarantee that third-party code will always ignore fully qualified class references; and it's very easy for somebody to accidentally readd an import when working on the code.

@melloware What do you think about reversing the dependency (see my suggestion above), having monacoeditor depend on core instead of vic

[2022-02-12 13:51] melloware commented on #718
so basically moving all the code to Monaco?  I am OK with it as long as...

1. We don't add another new JAR
2. it remains the same name as it is now for backwards compatibility.

I would think it would then need its own faces-config.xml and taglib.xml etc.

[2022-02-12 14:03] melloware commented on #718
@ltlBeBoy I deployed 11.0.2-SNAPSHOT if you want to give it a try with Payara just to see if it fixed the issue?

To use 11.0.2-SNAPSHOT you need to add this to your pom.xml
[code]

[2022-02-12 14:42] blutorange commented on #718
Yes exactly. While the name `resources-monacoeditor` wouldn't quite fit anymore, I agree we should leave it unchanged for compatibility. And we'd need a `faces-config.xml` etc, but that should work -- I original made the component as a separate project depending on PrimeFaces and that worked too.

And there's one more thought I had, can this really work? Shouldn't the class file / byte code always

[2022-02-12 14:48] melloware commented on #718
Yeah I am not sure if this will work either but it has worked in the past in PF core for other 3rd party lib deps.

[2022-02-12 15:01] ltlBeBoy commented on #718
I will check tomorrow. On my way to a birthday party now. :-)

[2022-02-12 15:04] jepsar commented on #718
@melloware I think you were referring to something like

https://github.com/primefaces/primefaces/blob/107df1f05950b862d47fcfbf3bd6c9ca0212a6de/primefaces/src/main/java/org/primefaces/application/resource/PrimeResourceHandler.java#L59-L61

[2022-02-12 16:55] blutorange commented on #718
So [I gave this quick try and moved](https://github.com/blutorange/core/commit/28ab85d151b4274e8f0f31e781a6bfa762b59142) all files into `resources-monacoeditor`, removing the optional dependency.

This works for the most part, but I came accross one issue: We need to create a separate `taglib.xml` in `resources-monacoeditor`, and two taglibs cannot share the same namespace (using the same namespac

[2022-02-13 14:47] melloware commented on #718
I thought we might need to have a separate taglib.xml and yep it might be a good idea for this refactoring for 12.0 is this is the way to go.

[2022-02-13 17:50] ltlBeBoy commented on #718
OK, I tested with the 11.0.2-SNAPSHOT and excluded `resources-monacoeditor`:

[code]

@blutorange

Thank you very much, she was happy about the unexpected birthday greetings!

Edit:
`<scope>provided</scope>` also did not work.

[2022-02-13 18:23] melloware commented on #718
Ok so I guess that answers that my fix did not work.

[2022-02-16 14:02] blutorange commented on #718
Guess I'll finish what I started in my branch then. The master branch is for the 12.x release?

[2022-02-16 14:07] melloware commented on #718
Yep no rush.  Master can be considered 12.0-SNAPSHOT.  I have an 11.X branch I use for any 11.0 patches.

[2022-02-23 13:28] melloware commented on #718
I am actually not sure this is worth fixing.  I use Jboss EAP, WildFly, and Jetty+OpenWebbeans and none of them have this issue.

I feel like this is a Payara bug and not something we should worry about?  Maybe report it to Payara?

[2022-03-01 14:52] melloware opened #739 "Sheet: colType="numeric" interfering with SHIFT key"
**Describe the bug**
When using `colType="numeric"` the SHIFT+TAB and SHIFT+ARROW keys for selection is not working.

[2022-03-01 15:11] #739 closed, assigned to melloware

[2022-03-01 15:13] melloware opened #740 "Sheet: Option for tabbing on first/last cell to focus next component"
Currently on Sheet if you are on the last cell if you press TAB it takes you back the first cell by default or press SHIFT+TAB on the first cell it takes you to the last cell.

Add an option `allowTabOffSheet` to allow that to tab off the Sheet to the next available component.

[2022-03-01 16:50] #740 closed, assigned to melloware

[2022-03-01 16:58] melloware opened #741 "Sheet: Keyboard focus trap to allow tabIndex property to focus the sheet"
Currently the sheet has an issue where as you are tabbing components on the page it does not ever receive focus.  We need to ensure the `tabIndex` property works and allows the Sheet to get focus.   This will require a hidden keyboard trap to get focus.

[2022-03-01 19:31] #741 closed, assigned to melloware

[2022-03-01 20:29] melloware commented on #722
11.0.2 is in Maven Central now. Thanks for the assist.

[2022-03-02 14:19] fanste opened #743 "Sheet: Improve hook afterSelectionEnd"
PF-Extensions 11.0.2
PF 11.0.0

Not really a bug but an improvement which prevents an error because of how we customized the usage of our sheet component.

The commit https://github.com/primefaces-extensions/primefaces-extensions/commit/c439153d672da9ade650e5b1435e2f261fb72ae1 changed the hook `afterSelectionEnd` so it calls `$this.ht.getSelected()`. Each hook runs in the scope of the handsontable

[2022-03-02 14:35] #743 closed, assigned to melloware

[2022-03-02 14:35] melloware commented on #743
Can you review my commit just to double check that is what you were expecting?  too bad you didn't report this yesterday I  would have fixed it in 11.0.2 :)

[2022-03-02 15:10] fanste commented on #743
I just switched this app to PF11 (because of all the bugs in the datatable in PF10) and nearly rage quitted as the app broke at another area. But yeah, this happens if a component is missused ;) And it was luckily quite simple to workaround this.

Thanks for the quick fix. Looking forward for 11.0.3 ;)