[2022-03-02 15:52] melloware commented on #743
Thanks for reporting it!

[2022-03-06 07:42] jepsar opened #746 "LightSwitch: Showcase: using JS API to set light on dark OS fails"
Toggle works though.

[2022-03-06 12:11] #746 closed, assigned to jepsar

[2022-03-08 21:21] tuerker opened #750 "DataTable: Sorting/Filtering/Paginator etc. not work anymore after updating PF extension from 11.0.0 to 11.0.2"
It looks that PF-Extensions Version > 11.0.0 breaks the datatable functionality of the PF snapshot. Would be great if somebody could have a look at this.

Side-note: I am using Payara 5.2021.8.

Many thanks in advance.

[2022-03-08 21:23] melloware commented on #750
Are you sure your issue is not this one: https://github.com/primefaces-extensions/primefaces-extensions/issues/718

[2022-03-08 21:26] tuerker commented on #750
thanks for the hint. i will check tomorrow on my office computer where i run the latest payara 2022.1 version. there at least the mentioned issue https://github.com/primefaces-extensions/primefaces-extensions/issues/718 does not appear.

[2022-03-08 21:29] melloware commented on #750
so that is my only thought was is breaking your datatable is that you have a classloader issue with Payara and PFE 11.0.2 and need to add to your pom.xml

[code]

Its possible you have Payara configured to eat this log message.

[2022-03-08 21:39] tuerker commented on #750
with this dependency it works as expected. many thanks again.

[2022-03-08 21:39] #750 closed, assigned to melloware

[2022-03-11 15:40] krishnakittu opened #754 "CKEditor Not Loading (404 Issue)"
PF extensions 11.0.2

Simple reproducable

<pe:ckEditor />

http://localhost:8080/test/javax.faces.resource/ckeditor/ckeditor.js.xhtml?ln=primefaces-extensions&v=11.0.2&e=11.0.2 returns 404 error

[2022-03-11 15:51] krishnakittu commented on #754
Sorry missing dependency for CK Editor.

[2022-03-11 15:51] #754 closed, assigned to melloware

[2022-03-11 20:43] melloware commented on #754
Thanks for posting back

[2022-03-14 05:32] krishnakittu commented on #757
HI Team,

With the CK Editor 4 We can easily integrate the upload image feature. Link [here](https://ckeditor.com/docs/ckeditor4/latest/examples/fileupload.html)

The idea was we can add one more property **filebrowserUploadUrl** to the CKeditor component.  Against this property we will give POST URL which will handle the File upload capabilities.

 wb.attr("filebrowserUploadUrl", ckEditor.getFile

[2022-03-14 10:49] melloware commented on #757
Sure thing submit a PR!

[2022-03-14 13:54] krishnakittu commented on #757
@melloware
Can you please check my pull request.

[2022-03-14 14:24] melloware commented on #757
Checking now. I just kicked off the build for your PR

[2022-03-14 15:05] #757 closed, assigned to krishnakittu

[2022-03-18 15:43] melloware opened #761 "CKeditor: Showcase example using CustomConfig + Plugin"
Based on Discord conversation we need a showcase example showing how to use CustomConfig and including a new custom plugin for CKeditor.

https://discord.com/channels/787967399105134612/787969344768311296/954382119533182976

[2022-03-22 12:45] melloware opened #765 "Monaco: Replace url-loader with asset modules"
URL Loader is deprecated and no longer supported: https://github.com/webpack-contrib/url-loader

They recommend switching to Assert Modules: https://webpack.js.org/guides/asset-modules/

cc @blutorange

[2022-03-23 05:48] blutorange commented on #765
Taking a look at our webpack.config, doesn't look like we're even using that loader. Might be a relic from when I set it up initially. Seems to build fine without it, let me do some testing in the showcase.

[2022-03-23 09:23] #765 closed, assigned to blutorange

[2022-03-23 10:37] jepsar opened #767 "InputPhone: validatorMessage attribute does not override default validator message"
Reported at https://stackoverflow.com/questions/71585215/primeface-extension-peinputphone-not-changeable-validatormessage

[2022-03-23 18:53] #767 closed, assigned to jepsar

[2022-03-24 06:39] fcorneli opened #771 "New Component: CookiePolicy"
Within our project we created a cookiePolicy component to be able to handle acceptance of cookie policies.
Example usage:
[code]
Here `pe:cookiePolicy` will only render its children when no cookie policy has been accepted before. Accepted cookie policies are stored within a cookie itself.
Via the `pe:saveCookiePolicy` action one can save the preferred cookie policy.

If there is interest in such c

[2022-03-24 06:56] fcorneli opened #772 "New Component: RateLimiter"
As part of a pentest on one of our projects, we received feedback that certain actions should be rate limited.
Hence we created a component to achieve this, based on `resilience4j-ratelimiter`.
Example usage:
[code]
The `rateLimiter` action will do exactly as it says: limit the rate at which the actions behind the `p:commandButton` can be performed. Without parametrization, the rate limiter will u

[2022-03-24 07:15] fcorneli opened #773 "New Component: Localized"
i18n is boring. Adding labels, and then in every `properties` file define a value for each supported language.
To reduce the effort here, especially for one-time-shot big paragraph translations, we created an `inlineTranslation` component.
Example usage:
[code]
Here `inlineTranslation` will render the content of the `translation` child that comes closest to the UIViewRoot locale, i.e., `nl-be` wil

[2022-03-24 08:16] jepsar commented on #773
Close to https://github.com/primefaces-extensions/primefaces-extensions.github.com/issues/797

[2022-03-24 11:35] melloware commented on #771
Can you post a screenshot of what it looks like on UI when it displays "Do you agree with our cookie policy?" ?

I think others would find it useful

[2022-03-24 11:37] melloware commented on #772
Interesting so this component basically says you can only click this button say "once every 5 minutes" or no more than "3 times in 10 minutes" type of limiting?   I think its pretty clever not sure what others think?

[2022-03-24 11:39] melloware commented on #773
@jepsar what do you think? It sounds like both of you have had the same need?

[2022-03-24 11:52] jepsar commented on #773
@fcorneli can you see if https://github.com/primefaces-extensions/primefaces-extensions/pull/111 fixes your issue? If so we could refactor it into PFE. I see the point @tandraschko made on the PR, but this could be a nice feature one would not have to create from scratch.

[2022-03-24 12:42] jepsar commented on #772
Isn't this https://github.com/primefaces/primefaces/issues/2521 / https://github.com/primefaces/primefaces/pull/8214 with addition of `enableAfterAjaxDelay`? Should this also prevent simultaneous users from being able to perform the action?

[2022-03-24 12:55] fcorneli commented on #772
@melloware Yes, something like that indeed.

@jepsar  Our implementation is entirely server-side, as client-side cannot prevent a hacker from doing a "manual" AJAX request.

This depends on the value of the `name` attribute. Anyhow, it's not really a locking mechanism, but a brute force attack prevention mechanism.

[2022-03-24 13:02] fcorneli commented on #773
@jepsar Had a look at https://github.com/primefaces-extensions/primefaces-extensions/pull/111
As far as I understand the code, you basically resolve to some directory content? I'm more interested in having the content within the original XHTML, i.e., have it where it's used. Else it feels like doing `properties` files again, which is exactly what I want to avoid.

[2022-03-24 13:05] fcorneli commented on #773
En plus, because I selectively render one of the children, the content is not strictly limited to "plain" content only. You can have regular JSF constructs in there (like buttons, whatever).

[2022-03-24 13:10] fcorneli commented on #771
@melloware How it looks like completely depends on the content of `pe:cookiePolicy`. It's up to the application to define how to present this cookie policy acceptance. Could be a panel, or a dialog, or some flippy-from-the-bottom thingy. The given example is just to demonstrate the functionality of `pe:cookiePolicy`. Of course in a real-work app you would make this a bit more sexy I guess.

[2022-03-24 13:17] jepsar commented on #773
Isn't`<h:panelGroup rendered="#{view.locale.property eq value}">content</h:panelGroup>` what you are after?

My PR was targeted to be able to translate large content / HTML blocks in certain languages per region with a fallback to a default language. With optional Markdown and EL support. By removing content from the XHTML you can easily add new languages without needing to go over all of the XHTM

[2022-03-24 13:18] melloware commented on #771
Nice!

[2022-03-24 13:19] fcorneli commented on #773
Somehow, except for the smart "nl-be" is also "nl" resolving, and the first one as default translation semantics.

[2022-03-24 13:20] fcorneli commented on #773
That's indeed a draw-back of inlining the translations.

[2022-03-24 13:35] jepsar commented on #773
If I'd be to revive the PR again I'll be sticking to the file based structure. In our case we have 4 countries and 4 languages (which are both likely to increase) with text lengths varying from a few lines to about 30 lines. That will get a total mess if you would do that inline.

[2022-03-24 13:39] fcorneli commented on #773
You could mix both behaviors, e.g.,
[code]
gives file-based translations, else the component uses the inner `pe:translation` stuff.

[2022-03-24 14:54] jepsar commented on #773
In that case I think I'd prefer "content" as the tag name and facets for the inline content.

[code]

[2022-03-24 20:38] melloware commented on #461
I went with this one: https://github.com/francoischalifour/medium-zoom

And you can use it with `graphicImage` like this...

[code]

or with `Galleria` like this...

[code]

[2022-03-24 20:39] #461 closed, assigned to fcorneli, melloware

[2022-03-24 20:48] melloware commented on #461
@jepsar @Rapster @fcorneli  Feel free to code review and suggest changes.

[2022-03-25 06:55] fcorneli commented on #461
When implementing to component as suggested at https://github.com/primefaces/primefaces/issues/8586 we also tried out different Javascript zoom libraries. Although https://github.com/francoischalifour/medium-zoom is far from active, it was the only one that was not too painful to integrate. Easy to hook in and just does the job without too much fancy options (rotate, whatever).

Related to:
[code]

[2022-03-25 07:10] fcorneli commented on #773
@jepsar As far as I can remember we also tried it via facets initially. Problem was that a facet can only hold a single JSF component (button, or just text, which also resolves at the end to some internal JSF comp in case of a facet). As we wanted also content like for example:
[code]
we had to introduce another component for this.

[2022-03-25 07:51] tandraschko commented on #773
a facet can hold multiple components actually

[2022-03-25 08:13] fcorneli commented on #771
Hereby the source code for the CookiePolicy JSF component.

The CookiePolicy component is selectively rendering its children:
[code]
Via the static `hasCookiePolicy` method one can verify the accepted cookie policy and hence activate functionality (like for example Matomo page tracking or so).

The `saveCookiePolicy` is implemented via a JSF tag handler and attaches some action to the action sourc

[2022-03-25 08:33] fcorneli commented on #773
I really stumbled upon this problem somewhere...

[2022-03-25 08:38] fcorneli commented on #773
https://docs.oracle.com/javaee/6/api/javax/faces/component/UIComponentBase.html#getFacet(java.lang.String)

Returns only a single comp, no?

[2022-03-25 08:39] tandraschko commented on #773
check the docs here: https://github.com/primefaces/primefaces/blob/master/primefaces/src/main/java/org/primefaces/util/ComponentUtils.java#L437

[2022-03-25 08:42] fcorneli commented on #773
mmm... thanks. It's the JSF spec that dictates this?

[2022-03-25 08:49] tandraschko commented on #773
yeah

[2022-03-25 09:03] jepsar commented on #771
@fcorneli could you please create a PR for this?

[2022-03-25 09:39] jepsar commented on #461
I'll give it a spin tonight 😃

[2022-03-25 09:46] fcorneli commented on #771
@jepsar OK, will try to find some time for this.
PS: README.md could probably use a remark that you need Java 11+ to compile.

[2022-03-25 10:40] jepsar commented on #771
@fcorneli awesome, thank you!

@melloware did not test this, but I'm assuming the Java versions align with PF, so it will be 8+, right?

[2022-03-25 11:32] melloware commented on #771
@jepsar I force 11 to compile the project but it compiles to down to source 8

[code]
 It let me simplify my development environment and our GitHub Actions only runs on 11 right now for speed.  I have had it like this for a couple of years and no one has complained and one of my clients uses it on Java8 still so its all working.

[2022-03-25 11:33] melloware commented on #771
@fcorneli @jepsar I can add this component today but it would be great if someone else did the showcase example!

[2022-03-25 11:34] melloware commented on #461
@fcorneli according to their docs that selector can point to any CSS selector that returns 1 or more images.

I agree medium-zoom is easy to integrate and does the job. ViewerJS is really cool but its much largers with a million options and feature to integrate.

Also I just pushed 11.0.3-SNAPSHOT publicly so if you want to try it just add this to your pom.xml

[code]

[2022-03-25 13:22] melloware commented on #771
@fcorneli OK 2 things.

1. This SNAPSHOT is pushed up to Sonatype as well as 11.0.3-SNAPSHOT.

2. Please test and code review I modified a lot of your cookie handling to do things use PF Utils and ExternalContext.getResponseCookies().

[2022-03-25 18:17] fcorneli commented on #461
@melloware I tested out 11.0.3-SNAPSHOT `pe:imageZoom` within our application against a `p:galleria`. You're right about the CSS selector stuff. Works like a charm. Thanks!

[2022-03-25 18:30] fcorneli commented on #771
@melloware Tested out 11.0.3-SNAPSHOT `pe:cookiePolicy` and `pe:saveCookiePolicy`. All seems OK. Started to look at the construction of a showcase, but give me some time here to dig in...

[2022-03-25 18:36] melloware commented on #461
Great news!

[2022-03-26 01:54] melloware commented on #131
No updates from the OP or any follow up so closing for now. Will reopen if someone donates a PR.

[2022-03-26 01:55] #131 closed, assigned to nobody

[2022-03-26 01:56] melloware commented on #130
@Rapster are you still working on this or should we close it?

[2022-03-26 01:58] melloware commented on #138
Open for 7 years...should we close this if no one is going to work on it?

I personally don't use DynaForm so I was not planning on working on this.

[2022-03-26 02:07] melloware commented on #136
I am not planning on adding this. Will reopen if someone submits a PR down the road.

[2022-03-26 02:07] #136 closed, assigned to nobody

[2022-03-26 08:40] fcorneli commented on #771
@melloware CookiePolicy showcase is available as PR https://github.com/primefaces-extensions/primefaces-extensions/pull/776

Had to make some changes to `CookiePolicy` to make direct updates working.
Within our app we do a complete page refresh upon acceptance of a cookie policy, e.g.,
[code]
However, if you want to do something like:
[code]
then:
* `cookiePolicy` needs a client id, so the AJAX re

[2022-03-26 08:46] Rapster commented on #130
I don't plan to, got it working 90% but faced issues to add/remove listeners dynamically. You can close it

[2022-03-26 08:46] #130 closed, assigned to Rapster

[2022-03-26 08:50] Rapster commented on #138
Besides me, i don't see a lot of people using it and interested in it (too bad I think it's one of most powerful component in the PF suite but unfortunately has limitations).

It can be close for now

[2022-03-26 08:50] #138 closed, assigned to Rapster

[2022-03-26 09:27] #771 closed, assigned to fcorneli, melloware

[2022-03-26 09:32] jepsar opened #777 "ImageZoom: make dark theme aware"
@melloware Maybe wait of PF 12 so we can use the JS you've added for Captcha?

[2022-03-26 11:55] melloware commented on #771
Great job and thanks for the donation!

[2022-03-26 11:56] melloware commented on #777
Ahhh no lets do it now. I thought of that the other day when I was testing. I will fix it now.

[2022-03-26 12:11] melloware commented on #777
Done and I put a note in the other ticket that for PF 12 we can use the core utility instead.

[2022-03-26 12:13] melloware commented on #777
CC @fcorneli in case you want to review...

[2022-03-26 12:20] melloware commented on #718
I have reported this to Payara: https://github.com/payara/Payara/issues/5674

[2022-03-26 13:18] jepsar commented on #773
@melloware I'll restore the original PR and add inline to it

[2022-03-26 15:38] melloware commented on #773
Sounds great to me.

[2022-03-29 07:16] fcorneli commented on #771
@melloware @jepsar In PR https://github.com/primefaces-extensions/primefaces-extensions/pull/782 some fixes for the `CookiePolicy` component.
* Had to create a separate `Renderer` to avoid warnings by PF `SearchExpressionFacade` that it cannot update the component without an attached renderer.

* There is no guarantee that an `addCookie` on `HttpServletResponse` will directly reflect as a `Set-Coo

[2022-03-29 12:41] jepsar commented on #777
Can't we simply use `var(--surface-a)` as the background here? I haven't checked out the code yet, but it seems to be looking at the OS preference only, not at the selected theme.

[2022-03-29 12:43] melloware commented on #777
i haven't tried it but wasn't sure his component would accept `background: var(--surface-a)` as a param because when you set params with JS not with CSS sometimes they don't evaluate properly.  I have had that trouble in my React code.  We can try it though!

[2022-03-29 12:48] jepsar commented on #777
In the PF 12 JS we have a function to test a theme name for being dark, right. If var does not work, we can open an issue to properly fix this with 12.

[2022-03-29 16:19] melloware commented on #777
Let me test but yeah I already updated this ticket: https://github.com/primefaces-extensions/primefaces-extensions/issues/704

[2022-03-29 16:29] #777 closed, assigned to melloware

[2022-03-29 16:30] melloware commented on #777
`this.cfg.background = 'var(--surface-a)';` works perfectly!

[2022-03-30 06:00] jepsar commented on #773
With the last PR there was a small discussion about the name. `StaticContent` and `LocalizedContent` were proposed.

I'd like to add `Polyglot` to the list. Nice and short. Or `Multilingual`.

You could compare this to JSP `fmt:message`, difference here is that we don't use a short message but (possibly and probably) multiple paragraphs. So just `pe:content` might be suiting.

[2022-03-30 06:06] fcorneli commented on #773
Finding intuitive names is always fun. :)
How about `pe:translate` since this is what it's doing?

[2022-03-30 06:09] jepsar commented on #773
It's not translating from language A to language B; the contents is fixed in several languages. It will simply find the content in the language matching the view / provided locale.

[2022-03-30 09:06] melloware commented on #773
I personally prefer LocalizedContent or just Localized or Localization.

[2022-03-30 09:23] tandraschko commented on #773
just my 0.02$ and a bit offtopic:
i dont like this component and pattern very much - but its ok for me, it would just not go directly into PF
i prefer to have as little as possible code in java and xhtml and move i18n to resources file, to not blow up the code itself

in our company, we created a small framework for it as the JSF own framework also isnt perfect.
1) resources property files, with o

[2022-03-30 09:37] jepsar commented on #773
From my side -1 on inline, as that would get very hairy very fast (see above).

I want to offer working with resource files and offer inline as well (just in case you would have only two languages.. again, adding a third will be a pain, hence the -1 on inline from my side).

I do like to have 1 file per content (instance), so it becomes usable for larger blocks of text. For labels one should simpl

[2022-03-30 09:39] fcorneli commented on #773
What would be nice is something like the following:
[code]
which would allow the translator to edit the translations where they occur (via some icon that shows up when editable=true). No more shuffling around with properties files towards the translators and back (via Excel, whatever).

Could be handled via some custom EL magic, no?

[2022-03-30 09:39] jepsar commented on #773
From those three I like `Localized` the most.

[2022-03-30 15:30] jepsar commented on #773
But, you would need to go through the entire application, hoping to run into each of the content blocks (even more fun if they are conditional).

[2022-03-30 21:17] blutorange opened #785 "MonacoEditor: Value set programatically before render not applied correctly during rendering"
Sounds a bit complicated, you can assign this to me. Fix is rather simple.

---

Monaco editor is initialized asynchronously. The monaco editor widget has a method `setValue` / `setValueNow`. When the editor was not initialized yet, those methods store the target value and set that value once the editor was initialized.

The value is also set on the model when the model is created, but when the mo

[2022-03-30 21:52] melloware commented on #785
Done!

[2022-04-03 22:25] #785 closed, assigned to blutorange

[2022-04-12 19:29] melloware commented on #583
based on Mert's JS fixes in Ultima I have fixed this in Core and added a Showcase page so we can add components as we fix them for FloatLabel.

See: https://github.com/primefaces/primefaces/pull/8669

![image](https://user-images.githubusercontent.com/4399574/163038953-a2fde14f-2f6c-4273-8cc2-3a51d773a5fc.png)

[2022-04-12 19:29] #583 closed, assigned to nobody

[2022-04-13 15:45] lttung-axonivy opened #799 "Dynaform: Component attribute does not work with datatable"
**Describe the bug**
Use a component for dynaFormControl of Dynaform, that component has attributes and a datatable. Those attributes resolved to empty values although we pass non-empty values to those attributes.

**Reproducer**
A sample project is at https://github.com/lttung04/dynaform-with-datatable

**Environment:**
 - PF Version: _11.0.0_

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-04-13 15:47] melloware commented on #799
Did this work on Previous PF versions?  This is inside a composite component as well which adds to the complexity.

[2022-04-13 15:50] lttung-axonivy commented on #799
With PF 7.0.25, primefaces-extension 7.0.3, it works

[2022-04-13 15:55] melloware commented on #799
I get diffrent results when running it with `-Pmyfaces23` it looks like it renders something.  Seeing if this is a Mojarra vs MyFaces issue.

[2022-04-13 17:01] melloware commented on #799
Can you try removing the Datatable?

 I am wondering if this is a DynaForm change (as this component has barely changed between 7.0 and 11.0 since no one really maintains the DynaForm) or whether this is actually a Datatable change in core PF.

[2022-04-13 19:37] #773 closed, assigned to fcorneli, jepsar

[2022-04-14 01:33] lttung-axonivy commented on #799
If removing Datatable, then it works as expected
[code]
![image](https://user-images.githubusercontent.com/76459536/163296427-5e133e36-02ba-487e-bf57-d63db4fb0cbe.png)

[2022-04-14 05:34] jepsar opened #801 "Localized: Add inline support"
Followup of #773

[2022-04-14 08:51] devmsaleh opened #803 "DocumentViewer : Customize toolbar"
I am using primefaces 11.0.0

I want to customize the viewer toolbar to make the viewThumbnail part always enabled by default and Also I want to control which
buttons to appear in the toolbar like rotate & print & download only.

I couldn't find any guides about that in primefaces website.

[2022-04-14 11:32] melloware commented on #799
The Datatable went through a massive refactoring between PF 7 and PF 11 and included over 100 bug fixes and improvements.  I have a feeling the issue may be with the Datatable inside your DynaForm inside your CC.  Not so much the DynaForm component itself.

Since this is a complex scenario you may have to debug through the code and figure out where its going wrong.

[2022-04-14 12:45] melloware commented on #803
See: https://github.com/primefaces-extensions/primefaces-extensions/issues/217

It answers your question on how to hide buttons.

[2022-04-14 12:45] #803 closed, assigned to melloware

[2022-04-14 12:49] jepsar commented on #803
Looks a lot like https://stackoverflow.com/questions/71868795/how-to-customize-primefaces-documentviewer-toolbar

@devmsaleh is that your question? Or should we reply there as well?

[2022-04-14 12:51] fcjm opened #804 "CKEditor: Cannot add Links when CKEditor is in Dialog"
**Describe the bug**
We are using the CKEditor in p:dialogs (modals) at some parts within our application. When the additional popup for adding links is opened, the inputs are not responding to user input - some are not even focusable. When using the CKEditor outside of Dialogs everything behaves as expected.

**Reproducer**
[reproducerPF11.zip](https://github.com/primefaces-extensions/primefaces-

[2022-04-14 12:52] melloware commented on #803
I just posted the solution on the stack overflow for others to see in the future thanks @jepsar !

[2022-04-14 13:04] fcjm commented on #804
This problem also occurs with other functionalities inside the CKEditor that open new popups. Other examples are Anchors (Flag symbol) or editing Table properties (Table symbol).

[2022-04-14 13:04] melloware commented on #804
I see the issue...

[2022-04-14 13:35] melloware commented on #804
Its actually the same issue as this one: https://github.com/primefaces/primefaces/issues/8333

[2022-04-14 14:08] melloware commented on #804
Can you add this CSS to your project and see if it fixes your issue

[code]

[2022-04-14 14:15] fcjm commented on #804
Yes with that CSS it works in both the reproducer and in our main application.

[2022-04-14 14:31] #804 closed, assigned to melloware

[2022-04-14 15:22] melloware commented on #804
Thanks for reporting will be in 11.0.3

[2022-04-15 08:18] #801 closed, assigned to jepsar

[2022-04-15 16:27] jepsar opened #806 "Issue template: Test"
### Describe the bug

It's a bug

### Reproducer

_No response_

### PrimeFaces Extensions version

11.0.1

### JSF implementation

_No response_

### JSF version

2.3

### Affected browsers?

All

### Steps to reproduce the behavior

_No response_

### Expected behavior

Should be awesome

### Sample XHTML

_No response_

### Sample Bean

_No response_

[2022-04-15 16:31] #806 closed, assigned to melloware, jepsar

[2022-04-16 05:24] fcorneli commented on #773
@jepsar Tested out the `pe:localized` component. I like the fallback to root directory idea. Intuitive component name too.
Noticed something within the demo. I have my web browser set to:
[code]
However, when I try the following within the showcase,
[code]
I get,
[code]
while I would expect,
[code]

[2022-04-16 05:29] fcorneli commented on #773
mmm... `masterLayout.xhtml` has
[code]
so, yeah... JSF doesn't take the web browser settings into account I guess.

[2022-04-16 06:04] jepsar commented on #773
It's not JSF, it's the way the showcase is built. If no locale is provided to the component, indeed the view locale is used. Normally one would have something like this in a multi language application:
[code]

[2022-04-16 11:46] melloware commented on #773
I wonder if I should makethe PFE showcase do the same language switching the PF showcase does?

[2022-04-18 06:38] jepsar commented on #773
We don't have much multi lingual content. Maybe only on the localized page(s).

[2022-04-21 07:11] jepsar opened #810 "Localized: NoSuchMethodError java.nio.file.Path.of"
### Describe the bug

Basic (file based) use will throw this exception in the production showcase
[code]

### PrimeFaces Extensions version

11.0.3

[2022-04-21 11:50] melloware opened #811 "FontAwesome: Update XHTML when JAR is updated"
### Describe the bug

When dependabot updates FontAwesome JAR to say 6.1.1 we need to update resources-app.xhtml to point to 6.1.1 URI's..

This broke the Showcase deployment to PrimeTek.

### PrimeFaces Extensions version

11.0.3

[2022-04-21 12:02] melloware commented on #799
I am going to close this for now as I don't really work on DynaForm and @Rapster was the only one keeping it alive and I think its Datatable related.

[2022-04-21 12:02] #799 closed, assigned to nobody

[2022-04-21 13:11] #811 closed, assigned to melloware

[2022-04-21 13:12] melloware commented on #811
OK @jepsar I got this to work for the packaged WAR file but for running Jetty locally the URL doesn't resolve. it looks like the Jetty plugin doesn't allow for resource filtering of static web resources for `jetty:run`

[2022-04-21 18:08] #810 closed, assigned to jepsar

[2022-04-23 06:34] fcorneli commented on #773
Within our project, I encountered another i18n use case: client-side translations.
Would be nice to have a widget like:
[code]
which allows you do have an API for client-side translations:
[code]
and with parameters like for example,
[code]

Next to a `Map<String, String>` one could maybe also feed an entire `ResourceBundle` to `pe:dictionary` as value.

Maybe even,
[code]
so the server-side can g

[2022-04-23 06:38] fcorneli commented on #772
Did some initial work on this one. However, I'm not really happy with the cleanup of the `rateLimiterRegistry`.

[2022-04-23 10:50] jepsar commented on #773
Why not use a resource bundle with expression language?

[2022-04-23 11:34] melloware commented on #773
Yes isn't this exactly what resource bundle EL already does?

[2022-04-23 11:34] melloware commented on #773
and if the key is missing it displays `???message.key???`

[2022-04-23 11:35] melloware commented on #772
Well just let us know when want us to review

[2022-04-23 11:40] fcorneli commented on #773
The thing is that I need to access the translations from within a Javascript file.

[2022-04-23 11:43] fcorneli commented on #773
Some context: we have a web socket layer, where we receive events within our Javascript, and there I need to be able to speak human language towards the end-user.

[2022-04-23 11:53] melloware commented on #773
Ahhh this might be a really specific use case  I see what your issue is now.

[2022-04-23 12:49] jepsar commented on #773
But still, that can be done with EL.

[2022-04-24 07:58] fcorneli commented on #773
@jepsar How? My Javascript file is just a resource, not "processed" by JSF.

[2022-04-24 16:39] melloware commented on #137
This plugin https://ubilabs.github.io/geocomplete/ is now archived and no longer maintained so no point in creating a component for it.  I feel like in the world of GeoComplete not much is truly free etc so not sure its worth creating a component for....

[2022-04-24 18:10] jepsar commented on #773
Just get the resource bundle messages you might need to use and put them in an object, either in your JSF page, or create a JSF resource (handler) which does that. You could also create a resource (handler) for your JavaScript and include the messages there. See for example https://github.com/primefaces-extensions/primefaces-extensions/blob/master/core/src/main/java/org/primefaces/extensions/appli

[2022-04-24 21:32] eduarddrenth opened #814 "Sheet: loosing data when working fast, possible bug?"
### Describe the bug

Some of our users work fast in a sheet, all changes look ok, possitive growl feedback, but after F5 a lot of changes are reverted.

client side I do `<p:ajax event="change" update="@none" listener="#{perceelSheetController.cellChangeEvent}"`

serverside I have a sessionscoped bean, that stores updates, handles errors and applies client update logic.

Serverside I tried synchr

[2022-04-25 09:09] melloware commented on #814
A reproducer would help.  Have you tried async=false on the Ajax call?

[2022-04-25 09:36] eduarddrenth commented on #814
isn't that the default?

[2022-04-25 11:53] melloware commented on #814
You are right have you tried `true` to not let them queue up?  Have added logging to figure out what AJAX calls are being lost or is it your backend state that is getting out of sync?  Without a test case I can only speculate.

[2022-04-25 12:24] eduarddrenth commented on #814
I know, test-case is crucial here....but your remark on async let to a version we are now testing:

- cellSelect event with `async=true`
- change method synchronized
- refresh an object from the database

If this version is stable I'll close this issue or provide a tester

[2022-04-25 12:42] jepsar commented on #814
I would expect async to make things worse. If you are not doing so already, you might want to lock the record when you are updating it, to prevent overwriting data.

[2022-04-25 12:48] eduarddrenth commented on #814
Yes, therefore cellselect event is `async=true`, change event is `async=false`, change method is synchronized, jpa and optimistic locking garantee data integrity, this probably fixes the issue (awaiting testers)

[2022-04-26 14:40] OBreidenbach opened #819 "CKEditor: Upgrade dependency because of CVE-2022-24728"
The ckeditor dependency should be upgraded to 4.18.0 at least because of
https://nvd.nist.gov/vuln/detail/CVE-2022-24728

[2022-04-26 15:07] #819 closed, assigned to melloware

[2022-04-26 15:09] melloware commented on #814
Any update on this?

[2022-04-26 15:09] melloware commented on #288
Closing this as WontFix because of the license change with CKEDitor 5

[2022-04-26 15:09] #288 closed, assigned to nobody

[2022-04-26 15:10] eduarddrenth commented on #814
looks ok, still testing....

[2022-04-26 15:10] melloware commented on #814
Awesome definitely post your final solution for others in the future here!

[2022-04-26 15:21] jepsar commented on #773
@fcorneli were you able to resolve your client side messages issue?

[2022-04-26 15:28] fcorneli commented on #773
@jepsar I had a look at using a `ResourceWrapper`. However, I guess I will run into web browser cache issues (when user changes language and such). Not really sure if I want to go into that direction...

[2022-04-26 16:21] jepsar commented on #773
Yeah, probably having a separate resource to get messages which includes the locale in the URL will be best in this case.

[2022-04-27 05:16] eduarddrenth commented on #814
This issue I solved like this:

-  in xhtml make cellSelect call asynchronous **async="true"**-
[code]
- in Java bean make change method synchronized:
[code]

[2022-04-27 05:16] #814 closed, assigned to melloware, eduarddrenth

[2022-04-27 12:08] melloware commented on #814
Excellent I added the workaround label for future users who may have the same issue

[2022-04-27 12:47] #761 closed, assigned to melloware

[2022-04-27 20:19] melloware commented on #750
Linked to: https://github.com/payara/Payara/issues/5674

[2022-05-02 11:46] melloware opened #825 "Core: Support primefaces.HIDE_RESOURCE_VERSION configuration"
### Describe the feature you would like to see added

https://github.com/primefaces/primefaces/issues/8752

Add support in PFE for `primefaces.HIDE_RESOURCE_VERSION` configuration

Test with `CKEDitor` but I am pretty sure this will break CKeditor with how it parses URLs

[2022-05-06 13:29] melloware commented on #799
@lttung04 OK I fixed and stripped down your example:
[pfe-799.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8640309/pfe-799.zip)

Unzip that and run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

It is working fine with a DynaForm with a Datatable.  I stripped out all your composite component stuff.

In my opinion you have an incredibly me

[2022-05-07 14:22] melloware opened #829 "PrimeFlex 3.2.1"
### Describe the feature you would like to see added

Update to PrimeFlex 3.2.0

https://github.com/primefaces/primeflex/blob/master/CHANGELOG.md#320-2022-05-07

This will put us in line for PF 12.0 updates: https://github.com/primefaces/primefaces/issues/7598

[2022-05-10 03:08] lttung-axonivy commented on #799
Hi @melloware

Thanks for your example, it works as expected but our scenario is quite different. I know this is a quite complex use case. We wanted to reuse component and this is existing system, we migrated from PF7 to PF11 and it is broken.
I mean your sample code works but it is not our use case and migration from PF7 to PF11 for our use case is broken. Could you please analyze and support thi

[2022-05-10 12:26] melloware commented on #799
@lttung04 OK I dug deeper into this deeper.  Here is a new reproducer where I use your Composite Component inside a DynaFormControl.

Reproducer: [pfe-799-3.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8661434/pfe-799-3.zip)

[code]

Here is what I found out if you run it.

`mvn clean jetty:run -Pmojarra22` - **FAILS**
`mvn clean jetty:run -Pmojarra23` - **FAILS**
`mvn

[2022-05-16 05:12] lttung-axonivy commented on #799
Hi @melloware
I have just checked the library, it is myfaces-impl-2.2.13.jar.
Thanks for your sample project. I updated the sample project so that it matches with my scenario Composite > DynaForm -> Composite -> DataTable.
Reproducer: [pfe-799-4.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8697251/pfe-799-4.zip)

[code]
Here is what I found out if you run it.

mvn clea

[2022-05-16 07:55] devmsaleh opened #835 "DocumentViewer: add timeout & onerror callback"
Please add timeout option for loading document timeout in seconds and a timeout callback
also please add onerror callback if exception happens

Scenario: i am trying to load the document from url (rest service)
and the service timeouts and i get an exception from the service
so i want to handle both cases to define timeout in seconds
and also handle when an error comes from the url

[2022-05-16 11:38] melloware commented on #835
I moved the issue to the right repo

[2022-05-16 11:42] melloware commented on #799
So yes JSF 2.2 came out in 2010 and JSF 2.3 in 2017.   So it might be worth upgrading to 2.3 since the 2.2 branch is most likely not going to receive much attention especially with JSF 4.0 on the horizon.

[2022-05-16 12:47] melloware commented on #835
@devmsaleh these are controlled by the PDFViewer itself and not by PFE.  So you will have to add some JS code yourself to subscribe to these events from the Mozilla PDF.js code.

[2022-05-16 12:47] #835 closed, assigned to nobody

[2022-05-17 14:18] melloware opened #836 "CookiePolicy: Fix Showcase properties docs"
### Describe the bug

Showcase page: https://www.primefaces.org/showcase-ext/sections/cookiePolicy/basic.jsf

If you look in the bottom right there are no properties for cookiePolicy or saveCookiePolicy.

It should look like how Layout does with Layout and LayoutPane.

Layout: https://www.primefaces.org/showcase-ext/views/layout.jsf

cc @fcorneli

### PrimeFaces Extensions version

11.0.3

### JSF

[2022-05-17 14:31] #836 closed, assigned to melloware

[2022-05-17 14:31] fcorneli commented on #836
@melloware ach... didn't know this was possible.

[2022-05-17 14:32] melloware commented on #836
no worries!

[2022-05-17 14:33] melloware commented on #836
It was mentioned on Discord: https://discord.com/channels/787967399105134612/787969344768311296/976124106544123924

[2022-05-20 08:06] OBreidenbach commented on #819
Are there any planes for a release 11.0.4?

[2022-05-20 11:08] melloware commented on #819
I will release today.

[2022-05-20 11:53] melloware commented on #819
11.0.4 is in Maven Central!

[2022-05-20 18:17] melloware commented on #799
OK great news I got to the bottom of it:

1. I kept testing 2.3 versions and discovered it was fixed between **2.3.3** and **2.3.4**.
2. I looked at all commits between those 2 releases and found the one that did it its this one: https://issues.apache.org/jira/browse/MYFACES-4283
3. I then patched a local 2.2.15-SNAPSHOT with that fix and sure enough it fixes your issue!!!

So I am going to backpo

[2022-05-21 10:35] mortadha-dev opened #838 "CreditCard: Not working in Carousel"
### Describe the bug

Color of card dissapear when putting a list of credit cards in a  <p:carousel>

### Reproducer

[primefaces-test.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8747416/primefaces-test.zip)

### Expected behavior

Color of credit card should appear

### PrimeFaces Extensions version

11.0.3

### JSF implementation

MyFaces

### JSF version

2.3.9

[2022-05-21 12:58] melloware commented on #838
OK so this is a difficult one.  The CreditCard is meant to only have one on the screen at a time.  It uses `prependId="false` so the input fields get names like `name="cvc"` and not `"name="jidt310:cvc"` typical JSF names because the way the credit card component looks for its default 4 fields.

However when using in a Carousel it needs to add the index ID to make the fields unique to prevent dupl

[2022-05-21 13:36] melloware opened #839 "CreditCard: Add flipToFront and flipToBack widget methods"
### Describe the feature you would like to see added

Based on https://github.com/jessepollak/card/issues/556

Added widget methods to allow you to programmatically flip the card.

### Is your feature request related to a problem?

_No response_

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-05-21 14:04] #839 closed, assigned to melloware

[2022-05-21 15:18] melloware commented on #799
[myfaces-impl-2.2.15.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8747856/myfaces-impl-2.2.15.zip)

Inside that zip is Myfaces 2.2.15 impl JAR if you want to test it out in your environment.

[2022-05-23 11:59] melloware opened #840 "CodeMirror: Update z-index for autocomplete hints"
### Describe the bug

Based on Discord chat: "has anyone ran into an issue with CodeMirror where autocomplete suggestions don't show when used inside a dialog?"

cc @newk5

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces Extensions version

11.0.0

### JSF implementation

All

### JSF version

_No response_

### Browser(s)

_No response_

[2022-05-23 12:03] #840 closed, assigned to melloware

[2022-05-24 03:21] lttung-axonivy commented on #799
Hi @melloware
I tried out myfaces-impl-2.2.15.zip in our environment but it still has error `IOException: parent Composite Component not found when rendering composite component facet form:j_id_k:dyna-form:r1c1p1reg:fileUpload:j_id_t` as we tested before with myfaces-impl-2.2.13.jar.

[2022-05-24 12:49] melloware commented on #799
I apologize you need the API JAR as well as the Impl.  Here you go...
[myfaces-api-2.2.15.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8762757/myfaces-api-2.2.15.zip)

[2022-05-25 20:05] melloware commented on #799
@lttung04 were you able to verify the API JAR above fixes your issue?

[2022-05-25 22:00] bsanders1979 opened #842 "CKEditor: this.instance.editable is not a function"
### Describe the bug

* Currently upgrading from PrimeFaces 5.1 to 11.0
* Tried with both 11.0.2 and 11.0.3

Editor appears to be functioning correctly, but throws this error. I discovered this error on a component within a dialog. I tried outside of a dialog and I get the same error. Once the component in the dialog is rendered, the screen is broke.

![image](https://user-images.githubusercontent

[2022-05-25 22:06] melloware commented on #842
Working fine for me. Unzip this reproducer:  [pfe-842.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/8774790/pfe-842.zip)

Run `mvn clean jetty:run` and navigate to http://localhost:8080/primefaces-test/

Running Mojarra 2.2, PF 11, PFE 11.0.4

Both inside and outside a dialog.

[2022-05-26 02:18] bsanders1979 commented on #842
Well, turns out that I needed to upgrade resources-ckeditor. I only figured that out because I was looking for transitive dependencies containing "ck" and it caught my attention. I didn't see it mentioned in the showcase or anywhere else really. Seems like an important detail ;)

[2022-05-26 02:18] #842 closed, assigned to melloware

[2022-05-26 11:47] melloware commented on #842
Yeah sorrry we have it right on our README.MD: https://github.com/primefaces-extensions/primefaces-extensions   CKEDitor and MonicoEditor are separate JARS.

[2022-05-26 14:40] bsanders1979 commented on #842
Doh! I don't know how I missed that! I appreciate the speedy responses! 👍

[2022-05-26 14:41] melloware commented on #842
Let me know if you get to the bottom of your other issue as well.

[2022-05-30 03:21] lttung-axonivy commented on #799
Hi @melloware

I have just tested in my environment and it works well with myfaces-impl-2.2.15.zip and myfaces-api-2.2.15.zip. Could you please let me when myfaces-2.2.15 is planned to release? Thanks a lot for your support!

[2022-05-30 11:26] melloware commented on #799
That is great to hear!  I posted on the MyFaces users list asking for a release: https://lists.apache.org/list.html?users@myfaces.apache.org

[2022-05-30 14:28] maxpap72 opened #845 "CKeditor: breaks with custom Resource Handler"
### Describe the bug

Hi.
We are using PrimeFaces with a custom ResourceHandler ("customGearHandler"). This handler is used for adding a MD5Hash to the querystring of every static resources handled.
For example, the aristo theme is request by the link:
http://localhost:8080/primefaces-test/javax.faces.resource/theme.css.xhtml?ln=primefaces-aristo&customGearHash=1b7c5ba6b20d2b544871bee5cfb92eb9

Bu

[2022-05-30 15:03] melloware commented on #845
@maxpap72 First PF 7.0 is older and no longer supported by PFE.  We only support the last 2 major versions which are 10 and 11.

Second your MD5Hash filter is not necessary as primefaces already does this by adding a cache busting `v=7.0` on the URL? Or you should use OmniFaces CacheControl Filter: https://showcase.omnifaces.org/filters/CacheControlFilter

Third, that makes perfect sense as the CK

[2022-06-02 13:51] melloware opened #848 "Build: Enforce Java 8"
Added ` <maven.compiler.release>8</maven.compiler.release>`to force compilation level to Java 8 but now get this error:

[code]

[2022-06-02 13:53] melloware commented on #848
cc @stolp

[2022-06-02 14:00] #848 closed, assigned to melloware

[2022-06-04 12:11] eduarddrenth opened #851 "Sheet: java.util.ConcurrentModificationException when SessionScoped and fast updates"
### Describe the bug

When using a sheet SessionScoped working fast `entries.remove();` in Sheet#validate on line 725 throws a java.util.ConcurrentModificationException.

Using `Collections.synchronizedMap` instead of `new HashMap<>();` will I think fix the problem.

I try to do a PR

### Reproducer

no

### Expected behavior

When working fast and SessionScoped no ConcurrentModificationException

[2022-06-04 12:15] melloware commented on #851
I think you want `ConcurrentHashMap` instead see: https://www.baeldung.com/java-synchronizedmap-vs-concurrenthashmap

[2022-06-04 12:17] eduarddrenth commented on #851
yes

[2022-06-04 12:31] melloware commented on #851
OK let me know how it goes a PR would be great!

[2022-06-04 17:39] melloware commented on #851
Just add
[code]

[2022-06-05 07:18] eduarddrenth commented on #851
Workaround for now:

`<p:ajaxExceptionHandler type="java.util.ConcurrentModificationException" onexception="$('#buttons\\:ververs').click();alert('Changes not recorded! Working a bit slower may help.');" update="exceptionDialog"/>`

[2022-06-05 07:41] jepsar commented on #851
Never tried this, but can't block UI be used here?

[2022-06-05 07:59] eduarddrenth commented on #851
Perhaps, but I am not going to introduce that now

[2022-06-07 14:46] rocco-natuzzi commented on #718
Hi, i have the same error with this configuration:
Primefaces 11, Primefaces-exstension 11.0.4, resources-monacoeditor 11.0.4, mojarra 2.1.28, Jboss EAP 7.3

Error stacktrace:
[code]

[2022-06-07 14:50] melloware commented on #718
@rocco-natuzzi until Payara fixes it you can just add this to your pom.xml to fix it.

[code]

I suggest going to this ticket and +1 it: https://github.com/payara/Payara/issues/5674

[2022-06-07 14:54] rocco-natuzzi commented on #718
I already have that library and i use Jboss EAP 7.3 and not Payara

[2022-06-07 15:00] melloware commented on #718
@rocco-natuzzi Something else must be wrong then because I use Jboss 7.3 and Jboss 7.4 and we do not have this issue.  Are you sure you don't have multiple versions in your classapth....

[2022-06-07 23:54] melloware commented on #718
Why also is it mojarra 2.1.28 when Jboss 7.3 should be Mojarra 2.3.14 ??

[2022-06-08 07:39] rocco-natuzzi commented on #718
Because we have a problem with version higher than 2.1
https://stackoverflow.com/questions/57054020/javax-faces-component-stateholdersaver-possible-memory-leak

Update:
I solve the problem. Our project is an EAR and we use monaco editor and resources-monacoeditor in one of the module of the EAR that produce a WAR. When put the resources-monacoeditor library also in the main pom (pom of the EAR, pa

[2022-06-08 08:32] jepsar commented on #718
@rocco-natuzzi could you please answer your question https://stackoverflow.com/questions/72528086/primefaces-extension-11-noclassdeffounderror-editoroptions so it could help others?

[2022-06-08 13:43] melloware opened #859 "DynaForm: Investigate Mojarra memory leak"
Based on: https://stackoverflow.com/questions/57054020/javax-faces-component-stateholdersaver-possible-memory-leak

cc @rocco-natuzzi

I have a feeling the memory leak with Mojarra may be DynaForm related since the user mentions tons of DynaForms in the app.  Needs investigation.

Also found: https://stackoverflow.com/questions/68137695/jsf-state-holder-saver-memory-leak

[2022-06-12 08:33] jepsar commented on #601
I'll go for https://iro.js.org/colorPicker_api.html which is way more flexible and allows us to replace the current picker in PF without breaking changes and add features later (like alpha, hsla, rgba, wheel, swatches etc).

[2022-06-12 08:33] #601 closed, assigned to jepsar

[2022-06-17 11:20] melloware commented on #799
@lttung04 MyFaces 2.2.15 is now in Maven Central.  just a warning though this is the last MyFaces 2.2.x release and the branch is being retired so you will eventually have to upgrade to 2.3.

[2022-06-17 13:35] melloware opened #867 "Core: Remove IE support"
Since IE is dead as of June 15, 2022 removing any support for it in PFE now.

[2022-06-17 13:42] #867 closed, assigned to melloware

[2022-06-20 00:22] lttung-axonivy commented on #799
@melloware Thanks for your information.

[2022-06-23 10:52] eduarddrenth commented on #851
Workaround causes different problems. Looks my closed PR does solve this issue using pf 11.0.5, it's being tested, keep you posted

[2022-06-23 11:00] eduarddrenth commented on #851
Tests confirm my original PR fixes the issue, I'll reopen it.

[2022-06-23 12:00] #851 closed, assigned to melloware, eduarddrenth

[2022-06-23 12:00] melloware commented on #851
Nice thanks for reopening and fixing!

[2022-06-29 19:55] melloware commented on #799
I have also confirmed this is now fixed in Mojarra 2.3.18 and 4.0.

[2022-07-15 14:38] melloware opened #883 "InputPhone: intl-tel-input 17.0.18"
https://github.com/jackocnr/intl-tel-input/releases/tag/v17.0.18

[2022-07-16 09:14] #883 closed, assigned to jepsar

[2022-07-18 18:57] #829 closed, assigned to melloware

[2022-07-18 19:13] #704 closed, assigned to melloware

[2022-07-18 19:14] melloware commented on #704
@jepsar all i did was replace our current function because to me it doesn't make sense to change the theme by reading the theme?

[2022-07-18 19:16] #825 closed, assigned to melloware

[2022-07-18 19:24] #673 closed, assigned to nobody

[2022-07-18 19:28] #553 closed, assigned to jepsar

[2022-07-18 19:30] jepsar commented on #704
Looks good to me

[2022-07-18 19:34] #510 closed, assigned to jepsar

[2022-07-18 19:46] jepsar commented on #510
No hall of fame? 😉

[2022-07-18 19:48] melloware commented on #510
HA I already put it there a while ago with a link to the OutputPanel PF demo!  Hall of Fame is all updated.

[2022-07-19 11:07] eduarddrenth opened #886 "Sheet: npe when putting null value"
### Describe the bug

PR #852 introduced an NPE on `Sheet.setLocalValue(Sheet.java:294)`, ConcurrentHashMap does not allow null for value:
[code]

### Reproducer

_No response_

### Expected behavior

Trying to put a null value into localValues should not result in an npe. Instead:

1. nothing should be put, or
2. when the key is present the value should be removed

Before PR #852 null values were

[2022-07-19 11:42] melloware commented on #886
I assigned it to you thanks for reporting.  I agree if NULL the value should be removed.

[2022-07-19 14:27] #886 closed, assigned to melloware, eduarddrenth

[2022-07-19 21:50] melloware commented on #886
I have another fix to make tomorrow then I will release 11.0.6

[2022-07-20 01:06] melloware opened #889 "Sheet: CSS broken in 11.0.5"
### Describe the bug

The PFE optimizer bug caused the HT Css to introduce spaces where they don’t belong causing the CSS to be wrong

Need to fix the bug in Optimizer 2.5.1 and update the Pom.xml

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces Extensions version

11.0.5

### JSF implementation

All

### JSF version

2.3

### Browser(s)

All

[2022-07-20 05:59] eduarddrenth commented on #886
thnx, I'll wait for it

Op di 19 jul. 2022 23:50 schreef Melloware ***@***.***>:

[2022-07-20 12:11] #889 closed, assigned to melloware

[2022-07-29 17:33] melloware opened #902 "Layout: JS issue resizing in Firefox"
### Describe the bug

See: https://github.com/primefaces/primefaces/issues/7953

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces Extensions version

12.0.0-RC2

### JSF implementation

Mojarra

### JSF version

2.3

### Browser(s)

_No response_

[2022-07-29 17:34] #902 closed, assigned to melloware

[2022-08-06 15:54] jgeekmz opened #911 "Sheet: moving columns messes up sort/filter display"
### Describe the bug

Sheet with several columns with sort and filter options. When you add movable option for rows and columns. On one column you do not have sort and filter. So when switch the place on this one with other column with filter and sort the header is moved, but the sort and filter options stayed on the same place as before. I guess this behaviour is bug.

Stack Overflow: https://sta

[2022-08-06 19:38] melloware commented on #911
Updated with Stack overflow info.  My guess is these features were just never tested together as movable columns was added way after sorting/filtering.

[2022-08-08 06:09] jepsar opened #912 "CodeScanner: allow multiple instances"
### Describe the bug

https://stackoverflow.com/questions/73272542/primefaces-extension-codescanner-event-called-twice

### Reproducer

_No response_

### Expected behavior

_No response_

### PrimeFaces Extensions version

?

### JSF implementation

_No response_

### JSF version

_No response_

### Browser(s)

_No response_

[2022-08-10 18:21] jepsar commented on #912
My answer on SO

[2022-08-10 18:21] #912 closed, assigned to jepsar

[2022-09-13 14:05] melloware opened #938 "InputPhone: Update JS Lib"
https://github.com/jackocnr/intl-tel-input/releases/tag/v17.0.19

[2022-09-13 16:44] jepsar commented on #938
FYI I will take care of this when I get back from vacation (I'll be leaving tomorrow for a week)

[2022-09-26 02:56] jxmai opened #950 "Orgchart: potential CSS corruption after css minifying (hosted in maven)"
### Describe the bug

Let's compare the css in line:

https://github.com/primefaces-extensions/primefaces-extensions/blame/master/core/src/main/resources/META-INF/resources/primefaces-extensions/orgchart/orgchart.css#L113

[code]

compared to the css in here, https://mvnrepository.com/artifact/org.primefaces.extensions/primefaces-extensions/11.0.5

if we download the jar and open orgchart.css

![S

[2022-09-26 03:02] jxmai commented on #950
For comparison:

https://mvnrepository.com/artifact/org.primefaces.extensions/primefaces-extensions/8.0.5

![Screenshot_2022-09-25_22-07-00](https://user-images.githubusercontent.com/10467831/192185539-6bed6c8a-859b-4dae-bdf1-7d48acc6e26f.png)

The file is OK in the previous version but I don't see any changes in the source code after all since I wrote that a couple years ago (https://github.com/p

[2022-09-26 09:40] melloware commented on #950
Yep I know what is going on. Thanks for reporting I will fix it!

[2022-09-26 12:05] melloware commented on #950
@jxmai this is fixed in 11.0.6 and 12.0.0

[2022-09-26 12:05] #950 closed, assigned to melloware

[2022-09-26 12:07] melloware commented on #938
@jepsar did you forget to submit this PR?  I see you have a branch?

[2022-09-26 12:08] jepsar commented on #938
No, I wanted to test using the showcase first, but I was not able to. See also Discord (mentioned you there in the PFE channel).

[2022-09-26 16:36] #938 closed, assigned to jepsar

[2022-09-27 22:19] jxmai commented on #950
Thanks @melloware for prompt response! The style sheet looks good in https://mvnrepository.com/artifact/org.primefaces.extensions/primefaces-extensions/11.0.6.

[2022-09-29 12:06] eduarddrenth opened #957 "Sheet: Setter not found for property autoCompleteTrimDropdown"
### Describe the bug

With a sheet column declared like:

[code]
An exception occurrs:
[code]

### Reproducer

If needed I can provide

### Expected behavior

The property to work

### PrimeFaces Extensions version

11.0.6 (pf 11.0.7)

### JSF implementation

Mojarra

### JSF version

2.3

### Browser(s)

ff

[2022-09-29 12:36] #957 closed, assigned to melloware

[2022-09-29 12:36] melloware commented on #957
Thanks for reporting. Fixed.

[2022-09-29 12:37] eduarddrenth commented on #957
You now hold the record for the fastest fix ever....

[2022-09-30 06:43] fcorneli opened #958 "New Component: Session"
Nothing more frustrating for a user to hit an expired session explosion after, for example, editing some text for half an hour.
The Session component gives client-side callback hooks to be able to inform a user about session timeout events.
Example usage:
[code]

[2022-09-30 06:47] fcorneli commented on #958
PR https://github.com/primefaces-extensions/primefaces-extensions/pull/959

[2022-09-30 07:14] jepsar commented on #958
What is the difference with `p:idleMonitor`? I use it to detect expiring sessions and it works well for me. Also it supports multiple windows / tabs.

[2022-09-30 07:50] fcorneli commented on #958
`p:idleMonitor` pokes the session each time via the AJAX event calls, causing ping-pongs and hence extending the session. The session component doesn't influence the server-side session at all, unless the user explicitly forces it (in the example, via the dialog button).

[2022-09-30 08:19] jepsar commented on #958
That depends on what `timeout` value you use. Just use session length minus one or two minutes for example.

[2022-09-30 08:34] fcorneli commented on #958
`p:idleMonitor` also expects the user to move the mouse, which is not always the case. Sometimes a user has to do some paperwork in front of this PC without mousing around. You also want to handle such cases.

[2022-09-30 09:00] jepsar commented on #958
I'd rather make improvements to `p:idleMonitor` instead of introducing a new component. An improvement could be having an optional separate timeout for `active`. If you set the timeout to 28 minutes, and you start moving the mouse at 27 minutes, no `active` event is sent currently.

[2022-09-30 09:08] fcorneli commented on #958
@jepsar also a workable solution. Would be nice if you could also disable the mouse movement events altogether, so you can choose how to monitor. Active via mouse, or just like I do within the Session component.

[2022-09-30 09:18] jepsar commented on #958
Please open a feature request issue for that in PF

[2022-09-30 09:44] melloware commented on #958
Let me think about this because IdleNonitor is looking for mouse movement.

Also isn't this similar to #131 which was requested in the past?  It looks like this meets some of the requirements of that ticket.

[2022-09-30 11:36] fcorneli commented on #958
Recovering from a server-down event is something else, no?

[2022-09-30 11:57] melloware commented on #958
Yes it is.  Now that I have studied your code I do agree with @jepsar this looks too close to IdleMonitor.  I thought you were covering and capturing an error and refreshing the session in the background or something.

[2022-10-06 16:42] SteveIreland opened #962 "Showcase is down"
### Describe the bug

I apologize if this is not the correct place to report this.  But I was just about to start using the one of the extension components and when I went to the showcase to get the documentation I found that I was getting the 503 error for the site.

Will it be back up soon or is there an alternative location for getting the documentation for the extension components?

### Reprod

[2022-10-06 17:26] melloware commented on #962
No worries yep I am working with PrimeTek to get it deployed hopefully it will be up sometime tonight.

[2022-10-07 16:30] SteveIreland commented on #962
Would this also have something to do with the reason that xmlns:pe="http://primefaces.org/ui/extensions" is showing as "not a valid registered URI"?

[2022-10-07 16:44] melloware commented on #962
mhmm i don't think so I can download the 12.0.0 showcase here: https://search.maven.org/artifact/org.primefaces.extensions/primefaces-extensions-showcase/12.0.0/war

Then download Jetty standalone and drop that WAR in the `/webapps` folder and run `java -jar start.jar` to start Jetty and it starts and runs fine.  There is some issue on the PrimeTek end.

[2022-10-07 18:00] SteveIreland commented on #962
Thanks for the response.  After eliminating that possibility I found I hand mangled my updates to the pom.xml file so the URI is now working as expected.

[2022-10-10 18:43] lih13800 opened #964 "Layout: CSP problem while update"
### Describe the bug

There is Content Security Policy errors occurring if the update scope contains pe:layout component. The problem exists on version 11.0.5 and 12.0.0.

In the test sample:
- the button "update by id" update specific id, so it works properly.
- the button "update by form" update the form which contains the < pe:layout> have errors shown below
![2525-csp](https://user-images.gith

[2022-10-10 20:03] melloware commented on #962
IT is back: https://www.primefaces.org/showcase-ext/views/home.jsf

[2022-10-10 20:03] #962 closed, assigned to melloware

[2022-10-10 20:37] melloware commented on #964
As you know the layout is quite a complex JS compoennt and I never update it fully.  However I did fix your example by moving your form inside the layout.

[code]

[2022-10-10 20:38] melloware commented on #964
But as a warning I would avoid updating the entire layout component.

[2022-10-12 14:23] melloware opened #968 "Monaco: JS error in PF 12"
### Describe the bug

Forum Post: https://forum.primefaces.org/viewtopic.php?f=14&t=77299&

Go to Showcase: https://www.primefaces.org/showcase-ext/sections/monacoEditor/basicUsage.jsf

![image](https://user-images.githubusercontent.com/4399574/195368936-d9063f1d-e5d0-4ed6-8c42-e403072bca8a.png)

cc @blutorange

### PrimeFaces Extensions version

12.0.0

### JSF implementation

All

### JSF versio

[2022-10-12 14:29] melloware commented on #968
I have a feeling it was the updated from Monaco 0.33 to 0.34 that might have broken it?

[2022-10-12 14:47] blutorange commented on #968
We [overwrite](https://github.com/primefaces-extensions/primefaces-extensions/blob/master/monacoeditor/src/main/js/nls-replace.js) the file [nls.js](https://unpkg.com/monaco-editor@0.34.0/esm/vs/nls.js) to support (dynamic) localization. This file [has changed quite a bit](https://unpkg.com/monaco-editor@0.33.0/esm/vs/nls.js) since version 0.33, our overwrite is now missing functions.

[2022-10-13 11:41] melloware commented on #968
Should I roll back to 0.33 for now?

[2022-10-13 13:35] blutorange commented on #968
I can take a look a closer this during the weekend. So unless you want to release a fixed version in the next few days, I don't think you need to.

[2022-10-13 13:37] melloware commented on #968
ok cool you rock!

[2022-10-16 23:37] #968 closed, assigned to blutorange

[2022-10-18 10:19] jepsar opened #972 "TimeAgo: support OffsetDateTime"

[2022-10-19 23:51] djmj commented on #718
Trying to update from extension 11.0.0 to 12.0.1 i suddenly get this error now with Glassfish 5.

Is monaco resources jar now required?

[2022-10-20 13:01] melloware commented on #718
@djmj I suggest going to this ticket and +1 it: https://github.com/payara/Payara/issues/5674

[2022-10-20 14:07] AlessandroRugi opened #975 "Sheet: Empty Cell not set null value on BackingBean"
### Describe the bug

Hi,

we found an issue recently introduced working on [Issue 886](https://github.com/primefaces-extensions/primefaces-extensions/issues/886). When a cell containing a value is blanked the value remains in the backing bean and when the row is updated is shown again.

We have a possible solution for this problem.

Create a new Interface to mark a value to be removed
[code]
Upda

[2022-10-20 15:06] melloware commented on #975
cc @eduarddrenth

He fixed 886 and he is my most active Sheet user 😄

[2022-10-21 13:00] melloware commented on #975
@AlessandroRugi feel free to submit a PR for review.

[2022-10-21 15:18] AlessandroRugi commented on #975
@melloware I've created the [pull request](https://github.com/primefaces-extensions/primefaces-extensions/pull/976#issue-1418499563)

[2022-10-23 06:45] eduarddrenth commented on #975
I can confirm this issue in my test environment, thanks!

[2022-10-23 12:47] #975 closed, assigned to melloware, AlessandroRugi

[2022-10-23 21:02] KimGabrielsen opened #977 "Error PrimeRequestContext.isHideResourceVersion()"
### Describe the bug

I've updated my stack from JEE 8 to Jakarta ee 10 and Payara 6.2022Alpha4.

Updated my primefaces from 11.0 to Primefaces 12.0 Jakarta and
extensions from 11.0.6 to 12.0.0.

When i try to run my application i receive an error:

'boolean org.primefaces.context.PrimeRequestContext.isHideResourceVersion()'

if I downgrade extensions to 11.0.6 the application is running but some

[2022-10-23 21:46] KimGabrielsen commented on #977
I solved this issue.
closing it.

[2022-10-23 21:46] #977 closed, assigned to melloware

[2022-11-01 00:55] djmj opened #982 "MasterDetail: Option to hide breadCrumb if level 1"
### Describe the feature you would like to see added

The breadcrumb just with the "home" icon has not much value to the user if the user if he stays on the main page. It even takes up space at the top and depending on theme a not so "nice" and almost empty bar is shown.

This is very often the use case if he just wants to see / filter or edit items using row-edit or cell-edit functionality.

For

[2022-11-01 13:19] #982 closed, assigned to melloware

[2022-11-01 13:19] melloware commented on #982
Went with `showBreadcrumbFirstLevel` as the property name

[2022-11-01 13:29] djmj commented on #982
Thank you for your quick implementation. Looking forward to it in production!

[2022-11-06 13:31] jepsar opened #983 "InputPhone: add localizedCountries"
https://stackoverflow.com/questions/74335455/change-language-in-primefaces-extensions-piinputphone-component-dropdown

[2022-11-06 14:49] #983 closed, assigned to jepsar

[2022-11-07 07:56] eduarddrenth commented on #975
Does 12.0.1 contain the pr for this issue? I am running 12.0.1 in my test env and see values not being stored. I will investigate, perhaps it is me

[2022-11-07 07:58] eduarddrenth commented on #975
12.0.1 doesn't contain the fix so to see, I'll be patient

[2022-11-07 10:09] melloware commented on #975
No it's in 12.02 which I didn't release yet.  I can release today

[2022-11-07 10:33] eduarddrenth commented on #975
comming week or so is fine for me, thnx

[2022-11-08 14:29] melloware commented on #975
12.0.2 is now in Maven Central!

[2022-11-08 20:30] eduarddrenth commented on #975
and using it....

[2022-11-23 12:14] mihaiDumea commented on #964
Can you check if `FastStringWriter` can be wrapped with `CspResponseWriter` in [encodeBegin](https://github.com/primefaces-extensions/primefaces-extensions/blob/5b7c100c82cff0b1e85a8bbd09790a1bfecaded0/core/src/main/java/org/primefaces/extensions/component/layout/LayoutRenderer.java#L63)?

[2022-11-23 13:19] melloware commented on #964
@mihaiDumea I was going to try this again after your latest fixes to see if it was still an issue. Did you verify whether it was or not?

[2022-11-23 14:12] mihaiDumea commented on #964
I did try with all the fixes, it still generates inline event handlers. The HTML generation does not go through the `CspResponseWriter`.

[2022-11-23 14:19] melloware commented on #964
AHHHH that makes sense.  I would be open to a PR.

[2022-11-28 13:08] xLevision opened #998 "Clipboard: CSP issue"
### Describe the bug

[code]
The <p:ajax> call triggering CSP:
Refused to execute inline script because it violates the following CSP directive: "script-src 'self'".
Using default primefaces CSP. The copy is working, but it throw an error when i want to show something in growl.

### Reproducer

[pfe-998.zip](https://github.com/primefaces-extensions/primefaces-extensions/files/10104427/pfe-998.zip)

[2022-11-28 13:17] melloware commented on #998
cc @mihaiDumea in case you were interested!

[2022-11-28 14:25] melloware commented on #998
Here is what the AJAX response is that is failing.

[code]

[2022-11-28 19:15] melloware commented on #998
Closing in favor of: https://github.com/primefaces/primefaces/issues/9453

[2022-11-28 19:15] #998 closed, assigned to melloware